<div class="panel-body" id="hourEntryForm" ng-show="entryFormOpen">
    <div class="row">
        <!--<div class="col-md-3">Project:</div>-->
        <!--<div class="col-md-1">Hours:</div>-->
        <!--<div class="col-md-offset-1 col-md-5">Description:</div>-->
    </div>

    <form ng-repeat="hoursEntry in selected.hoursEntries">

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-12 col-lg-6">
                <div class="col-xs-6 col-sm-12 col-md-6 col-lg-12" ng-if="hoursEntry.project.name" >
                    <div ng-init="hoursEntry.hoursRecord.project.resource = hoursEntry.project.resource">{{hoursEntry.project.name}}: {{hoursEntry.project.customerName}} <span ng-show="hoursEntry.assignment.hoursPerWeek"> | h/w:{{hoursEntry.assignment.hoursPerWeek}}</span></div>
                	 <div ng-init="hoursEntry.hoursRecord.date = selected.date"></div>
                </div>
               
                <select name="project" id="project"
                        class="col-xs-6 col-sm-12 col-md-6 col-lg-12 form-control" ng-show="!hoursEntry.project.name"
                        ng-model="hoursEntry.hoursRecord.project.resource" ng-required="true"
                        ng-options="p.resource as p.title for p in hoursProjects">
                </select>

                <div class="col-xs-6 col-sm-12 col-md-6 col-lg-12">
                    <input type="number" value="{{hoursEntry.hoursRecord.hours}}" class="form-control"
                          ng-model="hoursEntry.hoursRecord.hours"/>

                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-12 col-lg-6"><br/>
                <textarea class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-control" type="text" ng-model="hoursEntry.hoursRecord.description" placeholder="Description"
                          >{{hoursEntry.hoursRecord.description}}</textarea>

            </div>
        </div>


        <!-- For displaying existing records -->
        <!--<div class="col-md-4 control-label" ng-show="hoursEntry.name">{{hoursEntry.name}}: {{hoursEntry.customerName}}</div>-->

        <!--<div class="row">-->
        <!--<div class="col-xs-6 col-sm-12">{{hoursEntry.name}}: {{hoursEntry.customerName}}</div>-->
        <!--</div>-->

        <!--<div class="form-group"><label for="hours" class="col-xs-12 visible-xs">Hours</label>-->
        <!--<input class="col-xs-1 col-sm-1 col-md-1 col-lg-1" type="number" value="{{hoursEntry.hours}}"-->
        <!--ng-show="hoursEntry.hours" placeholder="0"/></div>-->
        <!--<label for="description" class="col-xs-12 control-label visible-xs">Description</label>-->
        <!--<input class="col-xs-12 col-sm-5 col-md-offset-1 col-md-5" type="text" ng-show="hoursEntry.description"-->
        <!--value="{{hoursEntry.description}}" placeholder="Description"/>-->


        <!-- for adding an empty row to add to the records -->


        <!--<input id="hours" name="hours" class="col-md-1" ng-show="!hoursEntry.hours"-->
               <!--type="number" ng-model="newHoursRecord.hours"-->
               <!--ng-required="true"/>-->
        <!--<input type="text" id="hours" name="hours" class="col-md-offset-1 col-md-5"-->
               <!--ng-show="!hoursEntry.description"-->
               <!--ng-model="newHoursRecord.description" ng-required="true">-->

        <!-- hidden field to hold date as selected in the hours bar -->
        <input id="date" name="date" class="form-control" ng-show="!hoursEntry.name"
               type="hidden" ng-model="newHoursRecord.date"
               ng-required="true"/>


        <br/>

    </form>
    <div class="row">
        <div class="form-group">
            <button type="" ng-click="addNewHours();" class="btn btn-default pull-left">Add new hours</button>
        </div>
        <div class="form-group">
            <button ng-click="addHours();" type="submit" class="btn btn-default pull-right">Save</button>
        </div>
    </div>

    <!--<form action="">-->
    <!--<div class="form-group">-->
    <!--<div class="col-md-4 control-label">Client # 1</div>-->
    <!--<input  class="col-md-1"type="text"/>-->
    <!--<input class="col-md-offset-1 col-md-6" type="text"/> <br/>-->
    <!--</div>-->

    <!--<div class="form-group">-->
    <!--<div class="col-md-4 control-label">Client # 2</div>-->
    <!--<input  class="col-md-1"type="text"/>-->
    <!--<input class="col-md-offset-1 col-md-6" type="text"/> <br/>-->
    <!--</div>-->

    <!--<div class="form-group">-->
    <!--<div class="col-md-4 control-label">Client # 3</div>-->
    <!--<input  class="col-md-1"type="text"/>-->
    <!--<input class="col-md-offset-1 col-md-6" type="text"/> <br/>-->
    <!--</div>-->

    <!--</form>-->

</div>