<div class="panel panel-default dashboard-widget">
	<div class="panel-heading">
		Log Hours
		<!-- <div class="pull-right  btn-group btn-group-sm dashboard-actions">
			<button class="btn btn-default" data-toggle="collapse"
				data-target="#logHours">
				<div>
					<i class="fa fa-plus-square"></i>
				</div>
			</button>
		</div> -->
	</div>
	<!-- <div id="logHours" class="panel-body collapse out"> -->
	<div id="logHours" class="panel-body">
		<div class="row">
			<div class="col-xs-4">
				<label class="control-label">Person: </label> <span
					style="white-space: nowrap; overflow: hidden;">{{me.name}}</span>
			</div>
			<div class="col-xs-8">
				<label class="required-label control-label" for="project">Project:</label>
				<select name="project" id="project"
					class="col-xs-12 form-control"
					ng-model="newHoursRecord.project.resource" ng-required="true"
					ng-options="p.resource as p.name for p in hoursProjects">
				</select>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col-xs-6">
				<label class="required-label  control-label" for="hours">Hours:</label>
				<input id="hours" name="hours" class="form-control"
					type="number" ng-model="newHoursRecord.hours"
					ng-required="true" />
			</div>
			<div class="col-xs-6">
				<label class="required-label control-label" for="date">Date:</label>
				<input id="date" name="date" class="form-control datepicker"
					type="text" ng-model="newHoursRecord.date" todayBtn="true"
					data-provide="datepicker" data-date-format="yyyy-mm-dd"
					ng-required="true" />
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col-xs-12">
				<label class="required-label  control-label" for="hours">Description:</label>
				<textarea id="hours" name="hours" rows="5" class="form-control"
					ng-model="newHoursRecord.description" ng-required="true"></textarea>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col-xs-12">
				<input type="submit" class="btn" value="Add"
					ng-click="addHours()">
			</div>
		</div>
	</div>
</div>