<div class="panel-body" id="hourEntryForm" ng-show="entryFormOpen">
    <form ng-repeat="hoursEntry in selected.hoursEntries">

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-12 col-lg-6">
            	<div class="row">
            		
	                <div class="col-xs-6 col-sm-12 col-md-6 col-lg-12" ng-if="hoursEntry.project.name" >
	                    <div ng-init="hoursEntry.hoursRecord.project.resource = hoursEntry.project.resource">
	                    	<label>{{hoursEntry.project.name}}: {{hoursEntry.project.customerName}}</label>
	                    	<span ng-show="hoursEntry.assignment.hoursPerWeek"> | h/w:{{hoursEntry.assignment.hoursPerWeek}}</span>
	                    </div>
	                	<div ng-init="hoursEntry.hoursRecord.date = selected.date"></div>
	                </div>
	               	<div ng-if="!hoursEntry.project.name" class="col-xs-6 col-sm-12 col-md-6 col-lg-12 ">
	               		<select name="project" id="project"
	                        class="form-control" 
	                        ng-model="hoursEntry.hoursRecord.project.resource" ng-required="true"
	                        ng-options="p.resource as p.title for p in hoursProjects">
	                	</select>
	               	</div>
	                <div class="col-xs-6 col-sm-12 col-md-6 col-lg-12">
	                    <input value="{{hoursEntry.hoursRecord.hours}}" class="form-control"
	                          ng-model="hoursEntry.hoursRecord.hours"/>
	                </div>
	            </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-12 col-lg-6"><div class="hidden-sm hidden-lg"><br/></div>
            	<textarea class="col-xs-12 form-control" type="text" ng-model="hoursEntry.hoursRecord.description" placeholder="Description"
                         rows="3" >{{hoursEntry.hoursRecord.description}}</textarea>
              

            </div>
            <input id="date" name="date" class="form-control"
                   type="hidden" ng-model="hoursEntry.date"
                   ng-required="true" value="selected.date"/>
        </div>






        <br/>

    </form>
    <div class="row">
        <div class="form-group col-xs-12">
        	<div class="pull-right">
           	 	<button type="" ng-click="addNewHours();" class="btn btn-default"><i class="fa fa-plus-square"></i> Add Project</button>
            	<button ng-click="addHours();" type="submit" class="btn btn-default "><i class="fa fa-floppy-o"></i> Save</button>
            </div>
        </div>
    </div>

    <!--<form action="">-->
    <!--<div class="form-group">-->
    <!--<div class="col-md-4 control-label">Client # 1</div>-->
    <!--<input  class="col-md-1"type="text"/>-->
    <!--<input class="col-md-offset-1 col-md-6" type="text"/> <br/>-->
    <!--</div>-->

    <!--<div class="form-group">-->
    <!--<div class="col-md-4 control-label">Client # 2</div>-->
    <!--<input  class="col-md-1"type="text"/>-->
    <!--<input class="col-md-offset-1 col-md-6" type="text"/> <br/>-->
    <!--</div>-->

    <!--<div class="form-group">-->
    <!--<div class="col-md-4 control-label">Client # 3</div>-->
    <!--<input  class="col-md-1"type="text"/>-->
    <!--<input class="col-md-offset-1 col-md-6" type="text"/> <br/>-->
    <!--</div>-->

    <!--</form>-->

</div>