<ul ng-controller="MenuCtrl" class="nav navbar-nav {{additionalClass}}">
	<li ng-repeat="menuItem in menuItems" ng-class="{active: activeArea() === '{{menuItem.value}}'}" ng-if="menuItem.isRender">
		<a ng-click="handleClick(menuItem.handler)" class="{{menuItem.subItems.length > 0 ? 'close-dropdown hasSubmenu': 'close-dropdown'}}"> 
			<i class="fa fa-3x fa-fw {{menuItem.iconCss}}"></i> 
			<span>{{menuItem.text}}</span>
			
		</a>
		<ul ng-if="menuItem.subItems.length > 0" class="nav navbar-nav subnavbar">
			<li class="mainmenu-ref" ng-click="showMainMenu(window.event)">
				<a class=""> <i class="fa fa-2x fa-fw fa-arrow-left"></i> <span>main menu</span></a>
			</li>
			<li class="subitems-header subheader">
				<a class="close-dropdown"> <span>{{menuItem.text}}</span></a>
			</li>
			<li ng-repeat="subItem in menuItem.subItems" ng-class="{'active-subitem': isSubitemSelected(subItem, menuItem), 'subheader': subItem.subheader}">
				<a ng-click="handleClick(subItem.handler, menuItem, subItem, $index)" class="close-dropdown">  <span>{{subItem.text}}</span></a>
			</li>
		</ul>
			
	</li>

	
</ul>