<div id="content">
	<div class="row">
		<div class="col-xs-12">

		</div>
	</div>
	<div id="dashboard-widgets" class="row">
		<div class="col-xs-6 dashboard-widget">
			<div class="row dashboard-label">
				<div class="col-md-9 hidden-xs hidden-sm">Active Projects</div>
				<div class="col-xs-7 col-sm-8 visible-xs visible-sm">Projects</div>
				<div class="col-xs-5 col-sm-4 col-md-3">
					<button class="pull-right btn btn-default" ng-click="createProject()">
						<div class="visible-sm visible-md visible-lg"><i class="fa fa-plus-square"></i> Add</div>
						<div class="visible-xs"><i class="fa fa-plus-square"></i></div>
					</button>
				</div>
			</div>
			<div class="dashboard-box" ng-click="showProjects()">
				{{projectCount}}
			</div>
		</div>
		
		<div class="col-xs-6 dashboard-widget">
			<div class="row dashboard-label">
				<div class="col-md-9 hidden-xs hidden-sm">Available People</div>
				<div class="col-xs-7 col-sm-8 visible-xs visible-sm">People</div>
			</div>
			<div class="dashboard-box" ng-click="showPeople()">
			</div>
		</div>
	</div>

	<br/>

	<div id="graphContainer">
		<div id="graph-header">
			<div id="graph-header-title" class="dashboard-label">Quick View</div>
		</div>
    <table id="graph">
        <tbody>
            <tr>
                <th>Nov</th>
                <th>Dec</th>
                <th>Jan</th>
                <th>Feb</th>
                <th>Mar</th>
                <th>Apr</th>
            </tr>
            <tr ng-repeat="project in projects">
                <td ng-class="{active: inMonth(project, 10, 2013)}"></td>
                <td ng-class="{active: inMonth(project, 11, 2013)}"></td>
                <td ng-class="{active: inMonth(project, 0, 2014)}"></td>
                <td ng-class="{active: inMonth(project, 1, 2014)}"></td>
                <td ng-class="{active: inMonth(project, 2, 2014)}"></td>
                <td ng-class="{active: inMonth(project, 3, 2014)}"></td>
            </tr>
        </tbody>
    </table>
	</div>
</div>