.DS_Store
node_modules/
npm-debug.log
bower_components
.sass-cache
cordova/www
cordova/platforms/ios/www
console.log
dist
UserInterfaceState.xcuserstate
.idea/.name
.idea/deployment.xml
.idea/encodings.xml
.idea/jsLibraryMappings.xml
.idea/misc.xml
.idea/modules.xml
.idea/PSReference.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/libraries/PSReference_node_modules.xml
.idea/scopes/scope_settings.xml
