<!-- Table View -->
<div class="row people-list">
    <div class="col-xs-12">
        <div class="row people-header">
            <div class="col-xs-5 col-md-4 person-header-name">Person</div>
            <div class="col-xs-1 col-md-1 person-sorting">
                <button class="sorting-button"><i class="fa fa-chevron-up" ng-class="{ 'active': sortType == 'name-asc'}" ng-click="changeSort('name-asc')"></i></button>
                <button class="sorting-button"><i class="fa fa-chevron-down" ng-class="{ 'active': sortType == 'name-desc'}"  ng-click="changeSort('name-desc')"></i></button>
            </div>
            <div class="col-xs-2 col-md-1 person-header">Role</div>
            <div class="col-xs-1 col-md-1 person-sorting">
                <button class="sorting-button"><i class="fa fa-chevron-up" ng-class="{ 'active': sortType == 'role-asc'}" ng-click="changeSort('role-asc')"></i></button>
                <button class="sorting-button"><i class="fa fa-chevron-down" ng-class="{ 'active': sortType == 'role-desc'}" ng-click="changeSort('role-desc')"></i></button>
            </div>
            <div class="hidden-xs hidden-sm col-md-1 person-header">Group</div>
            <div class="hidden-xs hidden-sm col-md-1 person-sorting">
                <button class="sorting-button"><i class="fa fa-chevron-up" ng-class="{ 'active': sortType == 'group-asc'}" ng-click="changeSort('group-asc')"></i></button>
                <button class="sorting-button"><i class="fa fa-chevron-down" ng-class="{ 'active': sortType == 'group-desc'}" ng-click="changeSort('group-desc')"></i></button>
            </div>
            <div class="hidden-xs hidden-sm col-md-2 person-header">Utilization Rate</div>
            <div class="col-xs-2 hidden-md hidden-lg person-header">Rate</div>
            <div class="col-xs-1 col-md-1 person-sorting">
                <button class="sorting-button"><i class="fa fa-chevron-up" ng-class="{ 'active': sortType == 'rate-asc'}" ng-click="changeSort('rate-asc')"></i></button>
                <button class="sorting-button"><i class="fa fa-chevron-down" ng-class="{ 'active': sortType == 'rate-desc'}" ng-click="changeSort('rate-desc')"></i></button>
            </div>
        </div>
        <div class="row people-row" ng-repeat="person in people | filter:filterPerson(filterText)">
            <div class="col-xs-6 col-md-5 person-name-container">
                <a href="#{{person.resource}}"><img class="people-image" ng-src="{{person.thumbnail}}"/></a>
                <a href="#{{person.resource}}" class="person-name">
                  {{person.familyName}}, {{person.givenName}}
                </a>
            </div>
            <div class="col-xs-3 col-md-2 people-prop">{{person.primaryRole.abbreviation}}</div>
            <div class="hidden-xs hidden-sm col-md-2 people-prop">{{person.group}}</div>
            <div class="hidden-xs col-md-3 people-utilization-rate">{{person.activePercentage}}%</div>
            <div class="col-xs-3 hidden-sm hidden-md hidden-lg people-prop">{{person.activePercentage}}%</div>
        </div>
    </div>
 </div>