<!-- Graph View -->
<div>
  <div class="row margin-top">
    <div class="col-xs-4">
      <button type="button" class="btn btn-default" ng-click="ganttPrev()"><i class="fa fa-chevron-left"></i></button>
    </div>
    <div class="col-xs-4 text-center">
      <button type="button" class="btn btn-default" ng-click="ganttReset()">Today</button>
    </div>
    <div class="col-xs-4 text-right">
      <button type="button" class="btn btn-default" ng-click="ganttNext()"><i class="fa fa-chevron-right"></i></button>
    </div>
  </div>
 <div class="graph people-graph">
		<div class="peopleList" style="margin-bottom:5px" ng-repeat="person in people | filter:filterText | orderBy:'givenName'"
            ng-hide="(peopleFilter.indexOf('role') !== -1 && peopleFilter !== person.primaryRole.resource)">
            <div class="row" ng-if="qvPeopleAssignments[person.resource]">
				<div class="title col-xs-2 col-sm-1 col-md-1 col-lg-1">
					<a href="#{{person.resource}}"><img title="{{person.name}}" class="profileImage" ng-src="{{person.thumbnail}}"/><br/>{{person.name}}</a>
				</div>
				
				<div class="col-xs-10 col-sm-11">
					<div class="row" ng-repeat="assignment in qvPeopleAssignments[person.resource] track by $index">
						<div class="title col-xs-12 col-lg-2">
							<i class="{{projectStateIcon(assignment.project)}}"></i> <a href="#{{assignment.project.resource}}">{{assignment.project.customerName}}: {{assignment.project.name}}</a>
						</div>
						<div class="col-xs-12 col-lg-10">
							<div class="progress">
								<div class="col-xs-2"
									ng-class="{active: isPersonActiveInMonth(assignment, person, startDate.getMonth(), startDate.getFullYear())}">{{getShortName(startDate,0)}}</div>
								<div class="col-xs-2"
									ng-class="{active: isPersonActiveInMonth(assignment, person, startDate.getMonth()+1, startDate.getFullYear())}">{{getShortName(startDate,1)}}</div>
								<div class="col-xs-2"
									ng-class="{active: isPersonActiveInMonth(assignment, person, startDate.getMonth()+2, startDate.getFullYear())}">{{getShortName(startDate,2)}}</div>
								<div class="col-xs-2"
									ng-class="{active: isPersonActiveInMonth(assignment, person, startDate.getMonth()+3, startDate.getFullYear())}">{{getShortName(startDate,3)}}</div>
								<div class="col-xs-2"
									ng-class="{active: isPersonActiveInMonth(assignment, person, startDate.getMonth()+4, startDate.getFullYear())}">{{getShortName(startDate,4)}}</div>
								<div class="col-xs-2"
									ng-class="{active: isPersonActiveInMonth(assignment, person, startDate.getMonth()+5, startDate.getFullYear())}">{{getShortName(startDate,5)}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  <div class="row margin-top">
    <div class="col-xs-4">
      <button type="button" class="btn btn-default" ng-click="ganttPrev()"><i class="fa fa-chevron-left"></i></button>
    </div>
    <div class="col-xs-4 text-center">
      <button type="button" class="btn btn-default" ng-click="ganttReset()">Today</button>
    </div>
    <div class="col-xs-4 text-right">
      <button type="button" class="btn btn-default" ng-click="ganttNext()"><i class="fa fa-chevron-right"></i></button>
    </div>
  </div>
</div>
<!-- ./Graph View -->