<br />
<div class="row">
  <div class="col-xs-12 col-sm-5 col-lg-6">
    <select class="form-control" ng-model="peopleFilter" ng-change="handlePeopleFilterChanged()">
      <option value="all" ng-selected="peopleFilter === 'all'">All People</option>
      <option ng-repeat="roleOption in rolesFilterOptions | orderBy:'title'" value="{{roleOption.resource}}" ng-selected="peopleFilter === roleOption.resource">{{roleOption.title}}</option>
    </select>
  </div>
  <div class="col-xs-4 col-sm-3 col-lg-2 pull-right xs-padding-top">
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-default" ng-class="{active: showTableView}" ng-click="toggleTableView()"><i class="fa fa-table"></i> Table</button>
        <button type="button" class="btn btn-default" ng-class="{active: showGraphView}" ng-click="toggleGraphView()"><i class="fa fa-tasks"></i> Graph</button>
      </div>
  </div>
  <div class="col-xs-8 col-sm-4 col-lg-4 pull-right xs-padding-top">
    <input class="form-control" placeholder="Filter People" ng-model="filterText" autofocus/>
  </div>
</div>

<div ng-if="showTableView">
	<ng-include src="'views/people/peopleTable.html'"></ng-include>
</div>

<div ng-if="showGraphView">
	<ng-include src="'views/people/peopleGraph.html'"></ng-include>
</div>