<div class="row no-horizontal-margin alert alert-success" ng-show="messages.length > 0" title="click to remove message" ng-click="clean()">
    <ul>
        <li ng-repeat="message in messages">{{message}}</li>
    </ul>
</div>
<div class="ooo-recent-header">
    You have {{oooDaysLeft}} days of vacation available for use. <i class="fa fa-question-circle" style="margin-left: 15px; color: #1074BC;" popover="{{pointSourcePolicy}}" popover-trigger="mouseenter" popover-placement="right"></i>
</div>
<div ng-show="!editableVacation && newVacationCreation == false" style="text-align: center;">
    <button class="btn btn-info" ng-click="requestNewVacation()">Request out of office time</button>
</div>
<div ng-show="newVacationCreation == true || editableVacation">
    <div class="row no-horizontal-margin" ng-show="newVacationCreation == true">
        <strong>New out of office request</strong>
        <i class="fa fa-times cursor-pointer pull-right" ng-click="cancelEdit()"></i>
    </div>
    <div class="row no-horizontal-margin" ng-show="editableVacation && !newVacationCreation">
        <strong>Edit out of office request</strong>
        <i class="fa fa-times cursor-pointer pull-right" ng-click="cancelEdit()"></i>
    </div>
    <div class="row no-horizontal-margin alert alert-danger" ng-show="errors.length > 0" title="click to remove error(s)" ng-click="clean()">
        <ul>
            <li ng-repeat="error in errors">{{error}}</li>
        </ul>
    </div>
    <div class="row no-horizontal-margin">
        <div ng-show="vacationManager && !editManager">Your request will be sent to <span class="color-gray-less bold">{{getPersonName(vacationManager)}}</span><i class="fa fa-pencil cursor-pointer padding-left-10" ng-click="editManagerCallback()" ng-show="!editManager"></i></div>
    </div>
    <div class="row no-horizontal-margin" ng-show="editManager">
        <div class="col-xs-12 col-sm-6 no-horizontal-padding">
            <select ng-options="getPersonName(m) for m in managers" class="selectpicker select-vacation-manager" data-style="btn-info" ng-model="vacationManager" ng-change="managerSelected()" name="vacationManager">
                <option selected value="" ng-hide="vacationManager">Select manager</option>
            </select>
        </div>
    </div>
    <div class="row no-horizontal-margin">
        <div class="col-xs-12 col-sm-6 no-horizontal-padding">
            <select class="selectpicker select-vacation-type" data-style="btn-info" data-width="50%" ng-model="editableVacation.type" name="vacationType">
                <option selected value="" ng-hide="editableVacation._id || editableVacation.type">Type of Request</option>
                <option ng-repeat="vacationType in vacationTypes" value="{{vacationType}}">{{vacationType}}</option>
            </select>
        </div>
    </div>
    
    <!-- start vacation datetime -->
    <div ng-show="editableVacation.type" class="row no-horizontal-margin">
        <div class="col-xs-2 no-horizontal-padding" style="padding-top: 8px; font-weight: bold; font-size: 16px;">From</div>
        <input id="vacationFromDate" name="vacationFromDate" ng-init="START_DATE_DEFAULT" class="col-xs-6 no-horizontal-padding form-control datepicker fa-calendar" type="text" placeholder="Start Date" ng-model="vacationStartDate" ng-change="startDateChanged()" data-date-format="yyyy-mm-dd" data-provide="datepicker" style="width: 40%; text-align: center;" />
        <div class="col-xs-1" style="padding-top: 8px; font-weight: bold; font-size: 16px; text-align: center;">@</div>
        <input class="form-control col-xs-3 col-md-4 no-horizontal-padding" type="time" ng-init="START_TIME_DEFAULT" ng-model="vacationStartTime" ng-change="dateChanged()" style="width: 30%; text-align: center;" />
    </div>
    
    <!-- end vacation datetime -->
    <div ng-show="editableVacation.type" class="row no-horizontal-margin">
        <div class="col-xs-2 no-horizontal-padding" style="padding-top: 8px; font-weight: bold; font-size: 16px;">Until</div>
        <input id="vacationEndDate" name="vacationFromDate" class="col-xs-6 no-horizontal-padding form-control datepicker fa-calendar" type="text" placeholder="Start Date" ng-model="vacationEndDate" ng-change="dateChanged()" data-date-format="yyyy-mm-dd" data-provide="datepicker" style="width: 40%; text-align: center;" />
        <div class="col-xs-1" style="padding-top: 8px; font-weight: bold; font-size: 16px; text-align: center;">@</div>
        <input class="form-control col-xs-3 col-md-4 no-horizontal-padding" type="time" ng-model="vacationEndTime" ng-change="dateChanged()" style="width: 30%; text-align: center;" />
    </div>
    
    <div ng-show="editableVacation.type" class="row no-horizontal-margin">
        <div class="col-xs-12 no-horizontal-padding" style="padding-bottom: 5px; font-weight: bold;">Description:</div>
        <div class="col-xs-12 no-horizontal-padding margin-bottom-xs padding-left-xs">
            <input type="text" placeholder="Description" ng-model="editableVacation.description" class="form-control" />
        </div>
    </div>
    
    <div ng-show="editableVacation.type" class="row col-xs-12 no-horizontal-margin no-horizontal-padding margin-bottom-xs margin-right-xs vertical-margin-md">
        <button ng-show="editableVacation._id" class="btn btn-default" data-toggle="modal" data-target="#vacCancelModal" style="color: red; border: 0px; background-color: #f7f7f7;" ng-disabled="submitting">Cancel Request</button>
        <button class="btn btn-info pull-right" ng-click="submit()" style="color: white; font-weight: bold; font-size: 16px;" ng-disabled="submitting">
            {{getSubmitText()}}
        </button>
        <span class="pull-right gray-text vac-requested"><span class="color-gray-less bold">{{getNewVacationDuration()}}</span> requested</span>
    </div>
</div>
<div class="modal fade" id="vacCancelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cancel out-of-office request</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" ng-show="cancelValidation">
                    {{cancelValidation}}
                </div>
                <div class="row horizontal-padding-15">Are you sure you want to cancel your out-of-office request? If so, please provide a reason.</div>
                <div class="row horizontal-padding-15"><input class="form-control" type="text" ng-model="cancellationReason" placeholder="Cancellation reason" required /></div>
            </div>
            <div class="modal-footer">
                <div>
                    <a class="cursor-pointer" data-dismiss="modal">No</a>
                </div>
                <button ng-click="deleteVacation()" type="button" class="btn btn-modal-primary pull-right">YES</button>
            </div>
        </div>
    </div>
</div>