<div>
    <div class="ooo-recent-header" ng-show="!loading">
        Request details
    </div>
</div>
<div ng-show="selectedRequest">
    <div style="margin-bottom: 15px;">
        <strong>{{getPersonName(selectedRequest.person, true)}}'s Projects</strong>
    </div>
    <div ng-repeat="project in personsProjects" ng-hide="!project.name" style="display:inline;">
        <a href="{{project.resource}}">{{project.customerName}}: {{project.name}}</a><span ng-hide="$index == personsProjects.length - 1">, </span>
    </div>
    <div style="margin-top: 15px;">
        <strong>People available to cover</strong>
    </div>
    <div style="margin-top: 5px;">
        <a class="cursor-pointer" ng-click="getResourceFinderLink(selectedRequest)">People available to cover</a>
    </div>
</div>
<div ng-hide="selectedRequest">
    <strong>Please select a request to view request details.</strong>
</div>
