<div class="spinner-container" ng-show="loading" style="width: calc(100% - 30px);margin-top: 40px;height: calc(100% - 20px);">
    <i class="fa fa-spinner fa-spin fa-3x"></i>
</div>
<div class="ooo-recent-header" ng-show="!loading">
    Your recent out of office requests
</div>
<div ng-repeat="period in oooPeriods" class="ooo-item" ng-show="!loading">
    <div class="ooo-line row no-margin cursor-pointer" ng-click="collapsePeriod($index)">
        <div class="col-xs-4 no-horizontal-padding">
            <strong>{{period.name}} {{period.year}}</strong>
        </div>
        <div class="col-xs-7 no-horizontal-padding align-center">
            {{getTotalDays(period)}} days
        </div>
        <div class="col-xs-1 no-horizontal-padding" style="color: #60c5db;">
            <i class="fa fa-caret-left fa-2x" ng-hide="$index == collapsedPeriodIndex"></i>
            <i class="fa fa-caret-down fa-2x" ng-show="$index == collapsedPeriodIndex"></i>
        </div>
    </div>
    <div class="panel-body no-padding" ng-show="$index == collapsedPeriodIndex">
        <div class="row ooo-row no-margin" ng-show="!period.vacations || period.vacations.length < 1">
            Nothing to show.
        </div>
        <div ng-repeat="vacation in period.vacations" ng-click="editVacation(vacation)" ng-class="{'selected-ooo': vacation._id == editableVacation._id}">
            <div class="row ooo-row no-margin cursor-pointer">
                <div class="col-xs-5">
                    <strong>{{getShortDate(vacation.startDate)}}</strong> ({{getDays(vacation)}})
                </div>
                <div class="col-xs-7 no-horizontal-padding align-center" ng-class="{'assignment-green': vacation.status === 'Approved', 'assignment-red': vacation.status === 'Denied' || vacation.status === 'Cancelled', 'color-yellow': vacation.status === 'Pending'}">
                    <i class="fa fa-check" ng-show="vacation.status === 'Approved'"></i>
                    <i class="fa fa-clock-o" ng-show="vacation.status === 'Pending'"></i>
                    <span ng-class="{'bold-text': vacation.status == 'Approved' || vacation.status == 'Denied'}">{{getStatusText(vacation.status)}}</span>
                </div>
                <!--<div class="col-xs-1 no-horizontal-padding">
                        <i class="fa fa-pencil cursor-pointer"></i>
                    </div>-->
            </div>
        </div>
    </div>
</div>