<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-5">
    <div class="btn-group" data-toggle="buttons" style="margin-top: 15px;">
      <label class="btn btn-default active" ng-click="setHoursView('monthly')">
        <input type="radio" name="options">Monthly
      </label>
      <label class="btn btn-default" ng-click="setHoursView('weekly')">
        <input type="radio" name="options">Weekly
      </label>
      <label class="btn btn-default" ng-if="project.terms && project.terms.billingDate" ng-click="setHoursView('billings')">
        <input type="radio" name="options">Billings
      </label>
      <label class="btn btn-default" ng-click="setHoursView('customDates')">
        <input type="radio" name="options">Custom Dates
      </label>
    </div>
  </div>

  <div class="col-xs-8 col-sm-5 col-md-4" style="padding-top: 10px;" ng-if="organizedHours && hoursViewType != 'customDates' && hoursViewType != 'weekly'">
    <form class="form-horizontal">
      <label for="period" class="hidden-xs control-label col-xs-3 col-sm-4 col-md-5 pull-left" style="white-space: nowrap;">
        <span class="pull-left">Select period:</span>
      </label>
      <div class="col-xs-6 col-sm-4 col-md-6">
        <select name="hoursPeriod" class="form-control" ng-if="organizedHours && hoursViewType == 'billings'" ng-model="selectedHoursPeriod" ng-change="handleHoursPeriodChanged('selectedHoursPeriod')" ng-required="true" ng-options="f.value as f.name for f in hoursPeriods">
        </select>

        <select name="hoursPeriod" class="form-control" ng-if="organizedHours && hoursViewType == 'monthly'" ng-model="currentMonth" ng-change="handleHoursPeriodChanged('currentMonth')" ng-required="true" ng-options="f.value as f.name for f in monthPeriods">
        </select>
      </div>
    </form>

  </div>

  <div class="col-xs-10 col-sm-5 col-md-4 custom-dates-group" ng-if="organizedHours && hoursViewType == 'customDates'">
    <form class="form-horizontal">
      <label for="period" class="hidden-xs control-label col-xs-3 col-sm-4 col-md-3 pull-left">
        <span class="pull-left">Select period:</span>
      </label>
      <div class="col-xs-3 col-md-3 col-sm-3">
        <input id="fromDate" name="fromDate" class=" form-control datepicker" type="text" placeholder="Start Date" ng-model="selectedHoursStartDate" data-date-format="yyyy-mm-dd" data-provide="datepicker">
      </div>
      <div class="col-xs-3 col-md-3 col-sm-3">
        <input id="toDate" name="toDate" class="form-control datepicker" type="text" placeholder="End Date" ng-model="selectedHoursEndDate" data-date-format="yyyy-mm-dd" data-provide="datepicker">
      </div>
      <div class="col-xs-2 col-md-2 col-sm-2">
        <a ng-disabled="!selectedHoursEndDate || !selectedHoursStartDate" class="btn btn-default" ng-click="applyCustomHoursPeriod()">
          <div class="hidden-xs"><i class="fa fa-search"></i>
          </div>
          <div class="visible-xs"><i class="fa fa-search"></i>
          </div>
        </a>
      </div>
    </form>
  </div>

  <div class="actions col-xs-2 col-sm-1 col-md-3 pageActions pull-right">
    <a ng-if="financeAccess || projectManagementAccess" ng-enabled="csvDownloadEnabled" class="btn btn-default" ng-mousedown="hoursToCSV.generate()" href="{{hoursToCSV.link()}}" download="{{project.name}}-{{currentPeriod}}.csv">
      <div class="hidden-xs"><i class="fa fa-table"></i><span class="hidden-sm hidden-xs"> Download to Excel</span>
      </div>
      <div class="visible-xs"><i class="fa fa-table"></i>
      </div>
    </a>

  </div>
</div>

<div class="row" ng-hide="hoursViewType == 'weekly'">
  <div class="col-sm-12">
    <hr />
  </div>
</div>

<!-- {{project}}<br/><br/>-->
<!-- {{hoursToCSV.rawJSON()}}<br/><br/>-->
<!-- {{hoursToCSV.rawCSV()}} -->
<!--  
<div class="row" ng-if="hoursValidation.length > 0">
-->
<div class="row" ng-if="getNewHoursValidationErrors(newHoursForm)">
  <div id="hoursValidationDiv" class="alert alert-danger">
    <a class="close" ng-click="hoursValidation=[]">&times;</a>
    <ul>
      <li ng-repeat="message in hoursValidation">{{message}}</li>
    </ul>
  </div>
</div>

<!-- Monthly view -->
<div class="panel panel-default dashboard-widget vacation">
  <div class="panel-heading">
    Out of Offices this period: {{showVacationsStartPeriod}} - {{showVacationsEndPeriod}}
  </div>
  <div class="panel-body">
  	<div class="spinner-container" ng-hide="hideVacationSpinner" style="width: calc(100% - 30px);">
		<i class="fa fa-spinner fa-spin fa-3x"></i>
	</div>
    <div class="row col-xs-12 no-margin" ng-if="!organizedHours">
      <div class="alert alert-warning no-margin">There are no out-of-office requests for this period.</div>
    </div>
    <div class="row peopleList" ng-repeat="vacation in projectVacations">
      <div class="col-xs-9 col-sm-3">
        <a href="#{{vacation.person.resource}}">
          <img class="profileImage" ng-src="{{vacation.person.thumbnail}}" />
        </a>
        <a href="#{{vacation.person.resource + loc.href.substring(loc.href.indexOf('?'))}}">{{vacation.person.familyName}}, {{vacation.person.givenName}}</a>
      </div>
      <div class="col-xs-12 col-sm-3 padding-top-5">
        {{roleGroups[ vacation.person.primaryRole.resource ].title}}
      </div>
      <div class="col-xs-12 col-sm-3 padding-top-5">
        Out {{moment(vacation.startDate).format("MMM D")}} - {{moment(vacation.endDate).format("MMM D")}}
      </div>
      <div class="col-xs-12 col-sm-2 padding-top-5">
        Hours lost: {{getHoursLost(vacation)}}
      </div>
    </div>
  </div>
</div>

<!-- <div class="row" ng-if="hoursViewType == 'monthly' || hoursViewType == 'billings' || hoursViewType == 'customDates'">
  <div class="col-xs-12" ng-if="!organizedHours">
    <div class="alert alert-warning">There are no logged hours for this project.</div>
  </div>
  <div class="col-xs-12 peopleList">
    <div ng-repeat="person in organizedHours" ng-if="organizedHours" class="well" style="margin-bottom: 10px;">
      <div class="row" style="padding-bottom: 12px;" ng-click="person.collapsed=!person.collapsed">
        <div class="col-xs-12">
          <span style="margin-right: 12px;" ng-if="!person.collapsed"><i class="fa fa-caret-right" ng-show="person && person.thumbnail"></i></span>
          <span style="margin-right: 12px;" ng-if="person.collapsed"><i class="fa fa-caret-down" ng-show="person && person.thumbnail"></i></span>
          <a href="#{{person.resource}}">
            <img ng-show="person && person.thumbnail" class="profileImage" ng-src="{{person.thumbnail}}" />
            <i class="fa fa-ban" ng-show="!person || !person.thumbnail"></i>
            <span style="display: inline-block;">{{person.name || 'Unknown'}}</span>
          </a>
          <span>: {{getPersonProjectRoles(person)}}</span>
          <span>- {{getPersonTotalHours($index)}} hours</span>
          <span> Total: {{person.hoursPerWeek * 4}} h/m</span>
          <span> Logged: {{getLoggedHoursForMonth(person, $index)}} hours</span>
          <span> Remaining: {{getExpectedHoursForMonth(person, $index)}} hours</span>
          
        </div>

      </div>
      <div class="col-xs-12" ng-show="person.collapsed" style="font-weight: bold; border-bottom: 2px solid #dddddd; margin-bottom: 10px; height: auto;">
        <div class="col-xs-4 col-md-3 col-lg-3">
          Date
          <div class="visible-xs">
            Description
          </div>
        </div>
        <div class="col-xs-4 col-md-3 col-lg-3">
          Hours
        </div>
        <div class="col-md-3 col-lg-3 hidden-xs">
          Description
        </div>
      </div>
      <div ng-repeat="hoursRecord in currentDisplayedHours[$index]" ng-show="person.collapsed">
        <div class="cos-xs-12">
          <div class="row" style="border-bottom: 1px solid #dddddd; margin: 0px;">
            <div class="col-xs-4 col-md-3 col-lg-3">
              <span class="hidden-xs">{{hoursRecord.date | date}}</span><span class="visible-xs">{{hoursRecord.date | date:'shortDate'}}</span>
            </div>
            <div class="col-xs-4 col-md-3 col-lg-3">
              {{hoursRecord.hours}}
            </div>
            <div class="col-xs-4 visible-xs">
              <button class="btn btn-default pull-right" ng-click="deleteHours(hoursRecord.resource)">
                <i class="fa fa-trash-o"></i>
              </button>
            </div>
            <div class="col-xs-9 col-md-3 col-lg-3">
              {{hoursRecord.description}}
            </div>
            <div class="col-md-3 col-lg-3 hidden-xs">
              <button class="btn btn-default pull-right" ng-click="deleteHours(hoursRecord.resource)">
                <i class="fa fa-trash-o"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div ng-if="currentDisplayedHours[$index].length == 0 && person.collapsed">
        <span>There are no logged hours</span>
      </div>
    </div>

  </div>
</div>-->

<div class="row" ng-if="hoursViewType == 'monthly'" style="margin-top: 10px;">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-default dashboard-widget month">
      <div class="panel-heading">
        <i class="fa fa-calendar-o"></i>
        <span>Hours Summary</span>
        <span class="centered-widget-header-text">{{moment().month(selectedMonthIndex).format("MMMM, YYYY")}}</span>
        <div class="pull-right btn-group btn-group-sm dashboard-actions">
          <a class="multi-btn" ng-class="{'active': selectedMonthIndex < 0 }" ng-click="prevMonth()">
            <i class="fa fa-angle-left"></i>
          </a>
          <a ng-class="{'active': selectedMonthIndex == 0 }" ng-click="currentMonth()">
            Today
          </a>
          <a class="multi-btn" ng-class="{'active': selectedMonthIndex > 0 }" ng-click="nextMonth()">
              <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div>
      <div class="panel-body peopleList">
      	<div class="spinner-container" ng-hide="hideMonthSpinner" style="width: calc(100% - 30px);">
			<i class="fa fa-spinner fa-spin fa-3x"></i>
		</div>
        <!--            <h3> {{dayFormatted(startWeekDate)}} &ndash; {{dayFormatted(endWeekDate, "MMM D, YYYY")}} </h3>-->
        <div class="row">
          <div class="col-xs-12" ng-if="monthPersonHours2.length == 0">
            <div class="alert alert-warning">There are no logged hours for that week.</div>
          </div>
          <div class="col-xs-12" ng-if="monthPersonHours2.length > 0">
            <div class="row hidden-xs">
              <!-- <div class="hidden-xs col-sm-2"></div> -->
              <div class="col-xs-2 col-md-2" style="padding-left: 20px;">Roles</div>
              <div class="col-xs-1 col-md-1" ng-repeat="dayLabel in thisMonthDayLabels" style="padding-left: 20px;">{{thisMonthDayLabels[$index]}}</div>
            </div>
            <div ng-repeat="roleHours in monthPersonHours2 track by $index" style="margin-bottom: 5px;">
           	  <div class="row">
	              <!-- <div class="hidden-xs col-sm-2" style="margin-top:15px;">
	                <a href="#{{personHours.person.resource}}">
	                  <img class="profileImage" ng-src="{{personHours.person.thumbnail}}" style="width: 36px; height: 36px;" />
	                  
	                </a>
	                <span>{{personHours.person.name}}</span>
	                <span> Total: {{personHours.hoursPerWeek}} h/w</span>
	                <span> Logged: {{getLoggedHoursForWeek(personHours)}} hours</span>
	                <span> Remaining: {{getExpectedHoursForWeek(personHours)}} hours</span>
	          		
	          
	              </div>
	              <div class="row hidden-sm hidden-md hidden-lg hidden-sm">
	                <hr style="margin: 0;" />
	                <div style="margin-left: 30px;">
	                  <a href="#{{personHours.person.resource}}">
	                    <img class="profileImage" ng-src="{{personHours.person.thumbnail}}" style="width: 36px; height: 36px;" />{{personHours.person.name}}
	                  </a>
	                </div>
	              </div> -->
	              <div class="col-xs-2 col-md-2 col-lg-2" ng-click="roleHours.collapsed=!roleHours.collapsed">
	              	<span style="margin-right: 12px;" ng-if="roleHours.collapsed"><i class="fa fa-caret-right"></i></span>
	          		<span style="margin-right: 12px;" ng-if="!roleHours.collapsed"><i class="fa fa-caret-down"></i></span>
	                {{roleGroups[roleHours.lastPersonInfo.person.primaryRole.resource].abbreviation}}
	              </div>
	              <div class="col-xs-1 col-md-1 col-lg-1" ng-repeat="day in roleHours.hours">
	                <button class="btn btn-hours btn-default" >{{day.totalHours}}</button>
	              </div>
	              <div class="col-xs-1 col-md-1 col-lg-1">
	                <button class="btn btn-hours btn-default">{{roleHours.actualHours}}</button>
	              </div>
	              <div class="col-xs-1 col-md-1 col-lg-1">
	                <button class="btn btn-hours btn-default">{{roleHours.expectedHours}}</button>
	              </div>
	              <div class="col-xs-1 col-md-1 col-lg-1">
	                <button class="btn btn-hours btn-default" ng-class="{'btn-danger': roleHours.projectedHours < roleHours.expectedHours && !roleHours.capacity,'btn-warning': roleHours.projectedHours < roleHours.expectedHours && roleHours.capacity, 'btn-default' : roleHours.projectedHours >= roleHours.expectedHours }">{{roleHours.projectedHours.toPrecision(2)}}</button>
	              </div>
              </div>
              <div ng-repeat="personHours in roleHours.persons" ng-if="!roleHours.collapsed" style="margin-top: 5px;" class="row">
              <!-- <div class="hidden-xs col-sm-2" style="margin-top:15px;">
                <a href="#{{personHours.person.resource}}">
                  <img class="profileImage" ng-src="{{personHours.person.thumbnail}}" style="width: 36px; height: 36px;" />
                  
                </a>
                <span>{{personHours.person.name}}</span>
                <span> Total: {{personHours.hoursPerWeek}} h/w</span>
                <span> Logged: {{getLoggedHoursForWeek(personHours)}} hours</span>
                <span> Remaining: {{getExpectedHoursForWeek(personHours)}} hours</span>
          		
          
              </div>
              <div class="row hidden-sm hidden-md hidden-lg hidden-sm">
                <hr style="margin: 0;" />
                <div style="margin-left: 30px;">
                  <a href="#{{personHours.person.resource}}">
                    <img class="profileImage" ng-src="{{personHours.person.thumbnail}}" style="width: 36px; height: 36px;" />{{personHours.person.name}}
                  </a>
                </div>
              </div> -->
              <div class="col-xs-2 col-md-2 col-lg-2">
                {{personHours.person.name}}
              </div>
              <div class="col-xs-1 col-md-1 col-lg-1" ng-repeat="day in personHours.hours">
                <button class="btn btn-hours btn-default">{{day.totalHours}}</button>
              </div>
              <div class="col-xs-1 col-md-1 col-lg-1">
                <button class="btn btn-hours btn-default">{{personHours.actualHours}}</button>
              </div>
              <div class="col-xs-1 col-md-1 col-lg-1">
                <button class="btn btn-hours btn-default">{{personHours.expectedHours}}</button>
              </div>
              <div class="col-xs-1 col-md-1 col-lg-1">
                <button class="btn btn-hours btn-default" ng-class="{'btn-danger': personHours.projectedHours < personHours.expectedHours && !personHours.capacity,'btn-warning': personHours.projectedHours < personHours.expectedHours && personHours.capacity, 'btn-default' : personHours.projectedHours >= personHours.expectedHours }">{{personHours.projectedHours.toPrecision(2)}}</button>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Weekly view -->
<div class="row" ng-if="hoursViewType == 'weekly'" style="margin-top: 10px;">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-default dashboard-widget week">
      <div class="panel-heading">
        <i class="fa fa-calendar-o"></i>
        <span>Hours Summary</span>
        <span class="centered-widget-header-text">{{dayFormatted(startWeekDate)}} &ndash; {{dayFormatted(endWeekDate, "MMM D, YYYY")}}</span>
        <div class="pull-right btn-group btn-group-sm dashboard-actions">
          <a class="multi-btn" ng-class="{'active': selectedWeekIndex < 0 }" ng-click="prevWeek()">
            <i class="fa fa-angle-left"></i>
          </a>
          <a ng-class="{'active': selectedWeekIndex == 0 }" ng-click="currentWeek()">
            Today
          </a>
          <a class="multi-btn" ng-class="{'active': selectedWeekIndex > 0 }" ng-click="nextWeek()">
              <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div>
      <div class="panel-body peopleList">
      	<div class="spinner-container" ng-hide="hideWeekSpinner" style="width: calc(100% - 30px);">
			<i class="fa fa-spinner fa-spin fa-3x"></i>
		</div>
        <!--            <h3> {{dayFormatted(startWeekDate)}} &ndash; {{dayFormatted(endWeekDate, "MMM D, YYYY")}} </h3>-->
        <div class="row">
          <div class="col-xs-12" ng-if="weekPersonHours2.length == 0">
            <div class="alert alert-warning">There are no logged hours for that week.</div>
          </div>
          <div class="col-xs-12" ng-if="weekPersonHours2.length > 0">
            <div class="row hidden-xs">
              <!-- <div class="hidden-xs col-sm-2"></div> -->
              <div class="col-xs-2 col-md-2" style="padding-left: 20px;">Roles</div>
              <div class="col-xs-1 col-md-1" ng-repeat="dayLabel in thisWeekDayLabels" style="padding-left: 20px;">{{thisWeekDayLabels[$index]}}</div>
            </div>
            <div ng-repeat="roleHours in weekPersonHours2 track by $index" style="margin-bottom: 5px;">
              <div class="row">
	              <!-- <div class="hidden-xs col-sm-2" style="margin-top:15px;">
	                <a href="#{{personHours.person.resource}}">
	                  <img class="profileImage" ng-src="{{personHours.person.thumbnail}}" style="width: 36px; height: 36px;" />
	                  
	                </a>
	                <span>{{personHours.person.name}}</span>
	                <span> Total: {{personHours.hoursPerWeek}} h/w</span>
	                <span> Logged: {{getLoggedHoursForWeek(personHours)}} hours</span>
	                <span> Remaining: {{getExpectedHoursForWeek(personHours)}} hours</span>
	          		
	          
	              </div>
	              <div class="row hidden-sm hidden-md hidden-lg hidden-sm">
	                <hr style="margin: 0;" />
	                <div style="margin-left: 30px;">
	                  <a href="#{{personHours.person.resource}}">
	                    <img class="profileImage" ng-src="{{personHours.person.thumbnail}}" style="width: 36px; height: 36px;" />{{personHours.person.name}}
	                  </a>
	                </div>
	              </div> -->
	              <div class="col-xs-2 col-md-2 col-lg-2" ng-click="roleHours.collapsed=!roleHours.collapsed">
	              	<span style="margin-right: 12px;" ng-if="roleHours.collapsed"><i class="fa fa-caret-right"></i></span>
	          		<span style="margin-right: 12px;" ng-if="!roleHours.collapsed"><i class="fa fa-caret-down"></i></span>
	                {{roleGroups[roleHours.lastPersonInfo.person.primaryRole.resource].abbreviation}}
	              </div>
	              <div class="col-xs-1 col-md-1 col-lg-1" ng-repeat="day in roleHours.hours">
	                <button class="btn btn-hours btn-default">{{day.totalHours}}</button>
	              </div>
	              <div class="col-xs-1 col-md-1 col-lg-1">
	                <button class="btn btn-hours btn-default">{{roleHours.actualHours}}</button>
	              </div>
	              <div class="col-xs-1 col-md-1 col-lg-1">
	                <button class="btn btn-hours btn-default">{{roleHours.expectedHours}}</button>
	              </div>
	              <div class="col-xs-1 col-md-1 col-lg-1">
	                <button class="btn btn-hours btn-default" ng-class="{'btn-danger': roleHours.projectedHours < roleHours.expectedHours && !roleHours.capacity,'btn-warning': roleHours.projectedHours < roleHours.expectedHours && roleHours.capacity, 'btn-default' : roleHours.projectedHours >= roleHours.expectedHours }">{{roleHours.projectedHours.toPrecision(2)}}</button>
	              </div>
              </div>
              <div ng-repeat="personHours in roleHours.persons" ng-if="!roleHours.collapsed" style="margin-top: 5px;" class="row">
              <!-- <div class="hidden-xs col-sm-2" style="margin-top:15px;">
                <a href="#{{personHours.person.resource}}">
                  <img class="profileImage" ng-src="{{personHours.person.thumbnail}}" style="width: 36px; height: 36px;" />
                  
                </a>
                <span>{{personHours.person.name}}</span>
                <span> Total: {{personHours.hoursPerWeek}} h/w</span>
                <span> Logged: {{getLoggedHoursForWeek(personHours)}} hours</span>
                <span> Remaining: {{getExpectedHoursForWeek(personHours)}} hours</span>
          		
          
              </div>
              <div class="row hidden-sm hidden-md hidden-lg hidden-sm">
                <hr style="margin: 0;" />
                <div style="margin-left: 30px;">
                  <a href="#{{personHours.person.resource}}">
                    <img class="profileImage" ng-src="{{personHours.person.thumbnail}}" style="width: 36px; height: 36px;" />{{personHours.person.name}}
                  </a>
                </div>
              </div> -->
              <div class="col-xs-2 col-md-2 col-lg-2">
                {{personHours.person.name}}
              </div>
              <div class="col-xs-1 col-md-1 col-lg-1" ng-repeat="day in personHours.hours">
                <button class="btn btn-hours btn-default">{{day.totalHours}}</button>
              </div>
              <div class="col-xs-1 col-md-1 col-lg-1">
                <button class="btn btn-hours btn-default">{{personHours.actualHours}}</button>
              </div>
              <div class="col-xs-1 col-md-1 col-lg-1">
                <button class="btn btn-hours btn-default">{{personHours.expectedHours}}</button>
              </div>
              <div class="col-xs-1 col-md-1 col-lg-1">
                <button class="btn btn-hours btn-default" ng-class="{'btn-danger': personHours.projectedHours < personHours.expectedHours && !personHours.capacity,'btn-warning': personHours.projectedHours < personHours.expectedHours && personHours.capacity, 'btn-default' : personHours.projectedHours >= personHours.expectedHours }">{{personHours.projectedHours.toPrecision(2)}}</button>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>