<div ng-controller="LinksCtrl">
    <br/>

    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="panel panel-info dashboard-widget">
                <div class="panel-heading">
                    <img src="images/jazzHub.png"
                         style="display: inline-block !important; vertical-align: top !important; height:20px;width:auto"/>
                    JazzHub
                    <div class="pull-right btn-group btn-group-sm dashboard-actions">
                        <button ng-if="linkedWithJazzHub" class="btn btn-default" ng-click="unlinkWithJazzHub()"><i
                            class="fa fa-chain-broken"></i> Unlink
                        </button>
                        <button ng-if="linkWithJazzHub" class="btn btn-default" ng-click="cancelJHLink()"><i
                            class="fa fa-chevron-left"></i> <span>Cancel</span></button>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row" ng-if="notJHLinked">
                        <div class="col-xs-12">
                            <div class="hidden-xs  hidden-md">
                                <img src="images/jazzHubLg.png" class="pull-left"
                                     style="display: inline-block !important; vertical-align: top !important; max-width:160px;width:auto"/>
                            </div>
                            <div style="display: inline-block !important; vertical-align: middle !important;">
                                <h3>Project not linked with JazzHub</h3>
                                <button class="btn btn-lg btn-default" ng-click="handleLinkProjectRequest()"><i
                                    class="fa fa-link"></i> Link Projects
                                </button>
                            </div>
                        </div>
                    </div>
                    <div ng-if="linkWithJazzHub">
                        <h2 ng-if="!JHProjectsLoaded">Loading JazzHub projects please wait...</h2>

                        <div ng-if="JHProjectsLoaded">
                            <input class="form-control" placeholder="Filter Projects" ng-model="filterText" autofocus/>

                            <div class="row-fluid ">
                                <div class="col-xs-12 col-sm-6 col-md-12 col-lg-6"
                                     ng-repeat="project in jazzHubProjects | filter:filterText | orderBy:'title'">
                                    <div class="panel" width="100%">
                                        <button style="max-width: 100%;" class="btn btn-default"
                                                ng-click="handleLinkProjectWithJazzHub(project.resource)">
                                            <span
                                                style="display: inline-block !important;max-width: 100%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{project.title}}</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="linkedWithJazzHub">
                        <div style="width: 100%; display: inline-block !important; vertical-align: middle !important;">
                            <div class="hidden-xs  hidden-md">
                                <img src="images/jazzHubLg.png" class="pull-left"
                                     style="display:inline-block !important; vertical-align: top !important; max-width:160px;width:auto"/>
                            </div>
                            <p>

                            <h3><a href="{{jazzHubProject.homePage.resource}}">{{jazzHubProject.title}}</a></h3>
                            <br/>

                            <div>
                                <a style="border:1px solid #cccccc" class="text-center btn-lg btn-default"
                                   href="{{jazzHubProject.dashboard.resource}}"><i class="fa fa-tachometer"></i>
                                    Dashboard</a>
                                <a style="border:1px solid #cccccc" class="text-center btn-lg btn-default"
                                   href="{{jazzHubProject.currentPlans.resource}}"><i class="fa fa-tasks"></i> Plans</a>
                            </div>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="row">
                <div class="col-xs-6"><h3>Web Links</h3></div>
                <div class="actions col-xs-6 pageActions">
                    <div class="hidden-xs  hidden-md">
                        <button type="button" ng-click="toggleNewLink()"
                                class="btn btn-default pull-right" data-toggle="collapse" data-target="#newLinkDialog">
                            <i class="fa fa-plus-square"></i> <span>Add Links</span>
                        </button>
                        <button class="btn btn-default" ng-click="launchDropboxChooser()">
                            <i class="fa fa-dropbox"></i> <span>Dropbox</span>
                        </button>
                    </div>
                    <div class="visible-xs  hidden-md">
                        <button type="button" ng-click="toggleNewLink()"
                                class="btn btn-default pull-right" data-toggle="collapse" data-target="#newLinkDialog">
                            <i class="fa fa-plus-square"></i>
                        </button>
                        <button class="btn btn-default" ng-click="launchDropboxChooser()">
                            <i class="fa fa-dropbox"></i>
                        </button>
                    </div>
                </div>
            </div>

            <section id="newLinkDialog" class="well collapse out">
                <form name="addLinkForm" novalidate>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="control-label" for="newLinkURL">URL:</label>

                            <p class="help-block" ng-show="!addLinkForm.url.$pristine && addLinkForm.url.$invalid">
                                <span class="text-danger">You must provide a valid URL</span>
                            </p>
                            <input class="col-xs-12 form-control" type="url" name="url" id="newLinkURL"
                                   ng-model="newLink.url" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12"></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="control-label" for="newLinkLabel">Label:</label>

                            <p class="help-block" ng-show="!addLinkForm.label.$pristine && addLinkForm.label.$invalid">
                                <span class="text-danger">Label is required</span>
                            </p>
                            <input class="col-xs-12 form-control" id="newLinkLabel" name="label"
                                   ng-model="newLink.label" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <input type="submit" class="btn" value="Add" ng-click="addLink()"
                                   ng-disabled="addLinkForm.$invalid">
                            <input type="submit" class="btn" value="Cancel" ng-click="cancelAddLink()">
                        </div>
                    </div>
                </form>
            </section>

            <!-- 		 <div class="row">
                          <div class="col-xs-12">
                              <table class="table table-condensed table-striped" width="100%">
                                  <tbody ng-repeat="link in links">
                                      <tr>
                                        <td data-title="'Link'" sortable="'label'"width="100%" >
                                          <div style="whitespace:wrap">
                                              <div ng-if="link.icon">
                                                  <img ng-src="{{link.icon}}" style="width:24px;height:24px"/>
                                                  <a ng-href="{{link.url}}" target="_blank" ng-bind="link.label"></a>
                                              </div>
                                              <div ng-if="!link.icon">
                                                  <i class="fa fa-globe text-center" style="width:24px;height:24px"></i>
                                                  <a ng-href="{{link.url}}" target="_blank" ng-bind="link.label"></a>
                                              </div>
                                          </div>
                                          <div class="pull-right" style="position:relative;right:0px;top:0px">
                                                <button class="btn btn-default" ng-click="triggerEditLink(link, $index)">
                                                            <i class="fa fa-pencil"></i>
                                                </button>
                                                <button class="btn btn-default" ng-click="deleteLink(link)">
                                                        <i class="fa fa-trash-o"></i>
                                                </button>
                                          </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                          </div>
                      </div>  -->

            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table ng-table="linksTableParams" class="table" width="100%">
                            <tbody ng-repeat="link in $data">
                            <tr style="display: inline-block;">
                                <td data-title="'Link'" sortable="'label'" width="99%" style="word-wrap: break-word">
                                    <div>
                                        <div ng-if="link.icon">
                                            <img ng-src="{{link.icon}}" style="width:24px;height:24px"/>
                                            <a ng-href="{{link.url}}" target="_blank" ng-bind="link.label"></a>
                                        </div>
                                        <div ng-if="!link.icon">
                                            <i class="fa fa-globe text-center" style="width:24px;height:24px"></i>
                                            <a ng-href="{{link.url}}" target="_blank" ng-bind="link.label"></a>
                                        </div>
                                    </div>
                                </td>
                                <td class="actionsCell" width="100" style="white-space: nowrap">
                                    <!-- div class="pull-right" style="position:relative;right:0px;top:0px"> -->
                                    <button class="btn btn-default" ng-click="triggerEditLink(link, $index)">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                    <button class="btn btn-default" ng-click="deleteLink(link)">
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                    <!-- </div> -->
                                </td>
                            </tr>
                            <tr ng-if="editLinkIndex===$index">
                                <td>
                                    <section class="well" id="editLinkDialog-{{$index}}">
                                        <form name="editLinkForm" novalidate>
                                            <div class="row">
                                                <div class="col-xs-12 form-group">
                                                    <label class="control-label" for="editLinkURL">URL:</label>

                                                    <p class="help-block"
                                                       ng-show="!editLinkForm.url.$pristine && editLinkForm.url.$invalid">
                                                        <span class="text-danger">You must provide a valid URL</span>
                                                    </p>
                                                    <input class="col-xs-12 form-control" type="url" name="url"
                                                           id="editLinkURL" ng-model="editLink.url" required>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12"></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 form-group">
                                                    <label class="control-label" for="editLinkLabel">Label:</label>

                                                    <p class="help-block"
                                                       ng-show="!editLinkForm.label.$pristine && editLinkForm.label.$invalid">
                                                        <span class="text-danger">Label is required</span>
                                                    </p>
                                                    <input class="col-xs-12 form-control" id="editLinkLabel"
                                                           name="label" ng-model="editLink.label" required>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <input type="submit" class="btn" value="Save"
                                                           ng-click="saveEditLink(link)"
                                                           ng-disabled="editLinkForm.$invalid">
                                                    <input type="submit" class="btn" value="Cancel"
                                                           ng-click="cancelEditLink(link)">
                                                </div>
                                            </div>
                                        </form>
                                    </section>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
