<div class="row assignee-row" ng-repeat="currentAssignee in roleAssigneesMap[role._id]" 
	ng-show="roleAssigneesMap[role._id] && roleAssigneesMap[role._id].length > 0 && roleAssigneesMap[role._id][0].person && roleAssigneesMap[role._id][0].person.resource"
	ng-class="{'past-assignment': isPastAssignment(currentAssignee)}">
	
	<div class="col-xs-5 col-sm-4 form-group" ng-class="{error: isFieldInError('role')}">
	     <a href="#{{currentAssignee.person.resource}}">
	     	<img class="profileImage" ng-src="{{getPerson(currentAssignee.person.resource,  role).thumbnail}}"/>
	     		{{getPersonName(currentAssignee.person.resource,  role)}}
	     </a>           
	</div>
	
	<div class="col-xs-12 col-sm-2 form-group person-abbreviation">
		<label >
			<span class="">{{getAbbreviation(role)}}</span>
		</label>
	</div>
	<div class="col-sm-4 form-group hidden-xs">
		<label >
			<span class="">From {{currentAssignee.startDate | date:'M/d/y'}} to </span>
			
			<span ng-show="currentAssignee.endDate" class="">{{currentAssignee.endDate | date:'M/d/y'}}</span>
			
			<span ng-hide="currentAssignee.endDate"> N/A</span>
		</label>
		
	</div>
	<div class="col-xs-4 form-group visible-xs">
		<small>From {{currentAssignee.startDate | date:'shortDate'}}</small>
         <span ng-show="currentAssignee.endDate">to <br><small>{{currentAssignee.endDate | date:'shortDate'}}</small></span>
         <span ng-hide="currentAssignee.endDate">- N/A</span>
	</div>
	<div class="col-sm-2 form-group hidden-xs">
		<label for="assigneeHoursPerWeek" class="pull-right"><span class="time-text"><span>{{currentAssignee.hoursPerWeek}}</span> h/w</span></label>
		
	</div>
	<div class="col-xs-2 form-group visible-xs">
		<span class="pull-right"><small>{{currentAssignee.hoursPerWeek}} h/w</small></span>
		
	</div>
	
</div>

<div class="row" ng-show="!roleAssigneesMap[role._id] || roleAssigneesMap[role._id].length == 0 || !roleAssigneesMap[role._id][0].person || !roleAssigneesMap[role._id][0].person.resource">
	<div style="padding: 12px 0 12px 12px;"  ng-if="roleAssigneesMap[role._id].length == 0 || !roleAssigneesMap[role._id][0].person || !roleAssigneesMap[role._id][0].person.resource">
			<i class="fa fa-ban" style="color:#f34d4b"></i> <span>There are no assignees on this role</span>
	</div>
</div>
	
