<div class="summary-tab">
<div class="row summaryDescription">
    <div class="col-xs-12" style="background-color: white; padding-bottom: 10px; margin-bottom: 10px;">
        <!-- Header with big picture and info -->
        <div class="row" style="margin-top: 10px;">
             <div class="hidden-xs col-sm-5 col-md-4 col-lg-3">
                  <div class="project-icon-big"><i class="{{projectStateIcon(project)}} fa-5x" style="margin: 70px 0 0 70px;"></i></div>
             </div>
             <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
                 <div class="row">
                      <div class="col-xs-12 col-sm-8">
                          <span class="zero-margin" style="font-size: 28px; font-weight: bold; color: #3a3a3a;">{{title}}</span>
                          <h4 class="zero-margin" style="margin-top: 10px;">{{project.customerName || 'No Customer'}}</h6>
                      </div>
                      <div class="col-xs-12 col-sm-4">
                          <div class="pull-right" style="display: inline;"><i class="{{projectStateIcon(project)}} fa-3x" style="color: #1ba2c1"></i></div>
                          <div class="pull-right status-text">{{projectState(project).toUpperCase()}}</div> 
                      </div>
                 </div>
                 <div class="row" style="margin-top: 25px;">
                      <div class="col-xs-12" style="font-family: Open Sans Regular; font-size: 14px; color: #8c8c8c;">
                          <div ta-bind ng-if="project.shortDescription && !showDescription" ng-model="project.shortDescription" style="max-height: 20px;"></div>
                          <div ta-bind ng-if="project.description && showDescription" ng-model="project.description"></div>
                          <a ng-if="!showDescription && project.description.length > project.shortDescription.length" ng-click="switchDescription(true)" style="cursor: pointer;">see more</a>
                          <a ng-if="showDescription" ng-click="switchDescription(false)" style="cursor: pointer;">see less</a>
                          <div ng-if="!project.description">No description entered.</div>
                      </div>
                 </div>
                 <div class="row sponsors-header">
                     <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">Executive Sponsor: &nbsp</div>
                     <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">Sales Sponsor: &nbsp </div>
                 </div>
                 <div class="row sponsors-row">
                     <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"><label>{{getExecutiveSponsor()}} &nbsp</label><a href="mailto: {{getExecutiveSponsorEmail()}}">email</a></div>
                     <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"><label>{{getSalesSponsor() || '-'}} &nbsp</label><a ng-if="getSalesSponsor()" href="mailto: {{getSalesSponsorEmail() || '-'}}">email</a></div>
                 </div>
             </div>
        </div>
        
        <div class="row months-row">
            <div class="col-xs-1" ng-repeat="month in months" ng-class="{'active': month.active, 'current': month.current}">{{month.name}}</div>
        </div>
        <!-- Dates -->
        <div class="row" style=" margin-top: 23px; margin-bottom: 25px; padding-right: 20px;">
            <div class="col-xs-12 col-sm-6 col-sm-offset-6">
                <div class="pull-right project-timeline">
                    <span class="proj-timeline-text">Project timeline &nbsp</span>
                    <span class="proj-timeline-date">{{project.startDate | date}} &nbsp</span>
                    <span class="proj-timeline-text">through &nbsp</span>
                    <span class="proj-timeline-date">{{project.endDate? project.endDate:'?'| date}}</span>
                </div>
            </div>
        </div>

        <!-- Full terms trigger -->
        <div class="row full-terms" ng-if="financeAccess && isPaidClientProject()">
            <hr class="zero-margin" />
            <div ng-if="!showFullTerms"><a ng-click="showTerms(true);">See full terms</a></div>
            <div ng-if="showFullTerms"><a ng-click="showTerms(false);">Hide full terms</a></div>
        </div>
        <!-- Terms -->
        <div class="row" ng-if="financeAccess && isPaidClientProject() && showFullTerms" style="color: gray; padding-left: 25px;">
            <h4><strong>Terms:</strong></h4>
        </div>
        <div class="row" ng-if="financeAccess && isPaidClientProject() && showFullTerms" style="margin-top: 20px;">
          <div class="col-xs-12">
            <div class="row-fluid terms-rows">
                <div class="col-xs-12 col-sm-6 col-md-3" ng-if="isFixedBid()">
                    <span>Project Type:</span> <label>Fixed Bid</label>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3" ng-if="!isFixedBid()">
                    <span>Project Type:</span> <label>Time and Materials</label>
                </div>
                
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <span>Date of 1st Invoice: </span>
                    <label ng-if="project.terms.billingDate">{{getFormatedBillingDate()}}</label>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <span>Software $ In Plan:</span> <label>(USD)
                        {{(project.terms.softwareEstimate)?(project.terms.softwareEstimate):0
                        | currency}}</label>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <span>Loaded $ In Plan:</span> <label>{{servicesLoadedTotal
                        | currency}}</label>
                </div>
                
            </div>
          </div>
          <div class="col-xs-12">
            <div class="row-fluid terms-rows">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <span>Contractually Committed: </span>
                    <label ng-if="project.committed">Yes</span><span ng-if="!project.committed">No</label>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <span>Billing Frequency: </span>
                    <label ng-if="project.terms.billingFrequency">{{getFormatedBillingFrequency()}}</label>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <span>Services $ In Plan:</span> <label>{{servicesTotal() |
                        currency}}</label>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <span>Services Margin %:</span> <label>{{projectMargin() |
                        number:0}}</label>
                </div>
            </div>
          </div>
        </div>
        <!-- Rates Table -->
        <div class="row" ng-if="financeAccess && isTandM_clientProject() && showFullTerms" style="color: gray; padding-left: 25px;">
            <h4><strong>Project Rates:</strong></h2>
        </div>
        <div class="row" ng-show="financeAccess && isTandM_clientProject() && showFullTerms">
            <div class="col-xs-12">
                <table ng-table="sowRolesTableParams" class="table table-striped rate-table" style="background-color: white;"
                    template-pagination="custom/pager" compute-estimate="totalEstimate">
                    <thead>
                        <tr>
                            <th>Role</th>
                            <th class="hidden-xs">Advertised Rate</th>
                            <th class="hidden-xs">Project Rate</th>
                            <th class="visible-xs">Rate</th>
                            <th>Rate Units</th>
                            <th>Usage</th>
                            <th>Time Period</th>
                            <th>Estimated Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tr ng-repeat="role in $data">
                        <td span>{{roleGroups[role.type.resource].abbreviation}}</span>
                        </td>
                        <td class="hidden-xs">{{role.rate.advAmount}}</td>

                        <td>{{role.rate.amount}}</td>
                        <td>{{role.rate.rateUnits}}</td>
                        <td><span>{{role.rate.getNumberOfTUs()}}</span></td>
                        <td>{{role.rate.getNumPeriods(role.startDate, role.endDate)}}</td>
                        <td>{{role.formatMoney(role.rate.getEstimatedTotal(role.startDate,
                            role.endDate), 0)}}</td>
                    </tr>
                    <tfoot>
                        <tr>
                            <td />
                            <td class="hidden-xs"/>
                            <td />
                            <td />
                            <td />
                            <td class="hidden-xs"><b>Total Estimate:</b></td>
                            <td class="visible-xs"><b>Total:</b></td>
                            <td><span>{{formatMoney(getServicesEstimate(),0)}}</span></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        
        <div class="row" ng-if="financeAccess && isPaidClientProject()">
            <div style="text-align: center;" ng-if="showFullTerms"><a ng-click="showTerms(false);" style="cursor: pointer;">Hide full terms</a></div>
        </div>
    </div>
</div>

<!-- Roles -->
    <div class="row content-header-gray project-content" style="margin-left: 0px;">
		<div class="col-xs-4">
			Roles:
		</div>
	</div>
	<div class="row rolesList" style="padding-left: 0px;">
		<div ng-repeat-start="role in project.roles" ng-if="showSeparator(role, $index)" class="row">
			<!--  <div class="row">
				<hr  />
			</div>-->
			<div class="row">
				<div class="col-xs-4" ng-if="showSeparator(role, $index) == 'future'" style="margin-bottom: 12px; margin-top: -12px; padding-left: 45px;">
					<h4>Future:</h4>
				</div>
				<div class="col-xs-4" ng-if="showSeparator(role, $index) == 'past'" style="margin-bottom: 12px; margin-top: -12px; padding-left: 45px;">
					<h4>Past:</h4>
				</div>
			</div>
			
		</div>
		<div class="row" ng-repeat-end>
		    <!--  <div class="row people-row role-row">-->
		    <div class="row item-row role-row" style="margin-bottom: 10px; min-height: 90px;">
		        <div class="hidden-xs col-sm-3 col-md-3 col-lg-3 item-prop">
                    <a ng-click="tabSelected('/assignments')" style="cursor: pointer;">{{roleGroups[role.type.resource].title}}</a>
                </div>
                <div class="visible-xs col-xs-3 item-prop">
                    <a ng-click="tabSelected('/assignments')" style="cursor: pointer;">{{roleGroups[role.type.resource].abbreviation}}</a>
                </div>
                <div class="col-xs-3 col-sm-1 col-md-1 col-lg-1 item-prop">
                    <span ng-show="role.rate.isFullyUtilized()">100%</span>
                    <span ng-show="!role.rate.isFullyUtilized() && role.rate.type == 'hourly'">{{Math.ceil(role.rate.hoursPerMonth())}} h/m</span>
                    <span ng-show="!role.rate.isFullyUtilized() && role.rate.type == 'weekly'">{{Math.ceil(role.rate.hoursPerWeek)}} h/w</span>
                </div>
                <div class="hidden-xs col-sm-2 col-md-2 col-lg-2 item-prop">
                    <label class="zero-margin">From: &nbsp</label>{{role.startDate}}
                </div>
                <div class="hidden-xs col-sm-2 col-md-2 col-lg-2 item-prop">
                    <label class="zero-margin">To: &nbsp</label>{{role.endDate || '-'}}
                </div>
                <div class="hidden-xs col-sm-4 col-md-4 col-lg-4 assignment-row" ng-class="{'assignment-green': getCoverageValue(role) == 'OKAY', 'assignment-yellow': getCoverageValue(role) == 'NEEDS ATTENTION' || getCoverageValue(role) == 'GAPS', 'assignment-red': getCoverageValue(role) == 'UNASSIGNED'}">
                    <strong>{{getCoverageValue(role)}}</strong>
                </div>
                <div class="visible-xs col-xs-6" style="margin-top: 25px;" ng-class="{'assignment-green': getCoverageValue(role) == 'OKAY', 'assignment-yellow': getCoverageValue(role) == 'NEEDS ATTENTION' || getCoverageValue(role) == 'GAPS', 'assignment-red': getCoverageValue(role) == 'UNASSIGNED'}">
                    {{getCoverageValue(role)}}
                </div>
		    </div>
		</div>
	</div>
