<div class="summary-tab">
	<!--  <div class="row">
		<h3 class="col-xs-8">{{project.customerName || 'No Customer'}}</h3>
		<div class="actions col-xs-4 pageActions">
			<button ng-hide="editMode || !canEdit()" class="btn btn-default"
				ng-click="edit()">
				<i class="fa fa-pencil-square-o"></i> <span>Edit Details</span>
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h4>
				<span>{{project.startDate | date}}</span><span> -
					{{project.endDate? project.endDate:'?'| date}}</span>
		</div>
	</div>
	<br />-->
<div class="row summaryDescription">
	<div class="col-xs-12 col-sm-6" style="background-color: white; padding-bottom: 10px; margin-bottom: 10px;">
	    <div class="row">
	       <div class="col-xs-12 col-sm-8">
	           <h6>{{project.startDate | date}} - {{project.endDate? project.endDate:'?'| date}}</h6>
	           <div class="row" style="padding-left: 15px;">
	               <label class="zero-margin">Executive Sponsor: &nbsp</label><span>{{getExecutiveSponsor()}}</span>
	           </div>
	           <div class="row" style="padding-left: 15px;">
                   <label class="zero-margin">Sales Sponsor: &nbsp </label> <span>{{getSalesSponsor() || '-'}}</span>
               </div>
	       </div>
	       <div class="col-xs-12 col-sm-4">
	           <h6><i class="{{projectStateIcon(project)}}"></i> <span>{{projectState(project)}}</span></h6>
	       </div>
	    </div>
		<div ta-bind ng-if="project.description"
			ng-model="project.description"></div>
		<div ng-if="!project.description">No description entered.</div>
	</div>
	<div class="col-xs-12 col-sm-6" ng-if="financeAccess && isPaidClientProject()" style="padding-left: 0px; padding-right: 0px;">
      <div class="row content-header-gray project-content">
          <div class="col-xs-12">Terms:</div>
      </div>
      <div class="row" style="background-color: white; padding-bottom: 10px; margin-left: 15px; padding-top: 20px; margin-right: 0px;">
        <div class="col-xs-12 col-lg-6">
            <div class="row-fluid">
                <div class="col-xs-12" ng-if="isFixedBid()">
                    <label>Project Type:</label> <span>Fixed Bid</span>
                </div>
                <div class="col-xs-12" ng-if="!isFixedBid()">
                    <label>Project Type:</label> <span>Time and Materials</span>
                </div>
                <div class="col-xs-12">
                    <label>Contractually Committed: </label>
                    <span ng-if="project.committed">Yes</span><span ng-if="!project.committed">No</span>
                </div>
                <div class="col-xs-12">
                    <label>Date of 1st Invoice: </label>
                    <span ng-if="project.terms.billingDate">{{getFormatedBillingDate()}}</span>
                </div>
                <div class="col-xs-12">
                    <label>Billing Frequency: </label>
                    <span ng-if="project.terms.billingFrequency">{{getFormatedBillingFrequency()}}</span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-6">
            <div class="row-fluid">
                <div class="col-xs-12">
                    <label>Software $ In Plan:</label> <span>(USD)
                        {{(project.terms.softwareEstimate)?(project.terms.softwareEstimate):0
                        | currency}}</span>
                </div>
                <div class="col-xs-12">
                    <label>Services $ In Plan:</label> <span>{{servicesTotal() |
                        currency}}</span>
                </div>
                <div class="col-xs-12">
                    <label>Loaded $ In Plan:</label> <span>{{servicesLoadedTotal
                        | currency}}</span>
                </div>
                <div class="col-xs-12">
                    <label>Services Margin %:</label> <span>{{projectMargin() |
                        number:0}}</span>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
	
<div class="row" ng-if="financeAccess">
	<div class="col-xs-12" ng-if="isTandM_clientProject()">
		<div class="row content-header-gray project-content" style="margin-top: 15px; margin-left: 0px;">
			<div class="col-xs-12">
				Project Rate Table (Total):
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<table ng-table="sowRolesTableParams" class="table peopleList" style="background-color: white;"
					template-pagination="custom/pager" compute-estimate="totalEstimate">
					<thead>
						<tr>
							<th>Role</th>
							<th class="hidden-xs">Advertised Rate</th>
							<th class="hidden-xs">Project Rate</th>
							<th class="visible-xs">Rate</th>
							<th>Rate Units</th>
							<th>Usage</th>
							<th>Time Period</th>
							<th>Estimated Total</th>
							<th></th>
						</tr>
					</thead>
					<tr ng-repeat="role in $data">
						<td span>{{roleGroups[role.type.resource].abbreviation}}</span>
						</td>
						<td class="hidden-xs">{{role.rate.advAmount}}</td>

						<td>{{role.rate.amount}}</td>
						<td>{{role.rate.rateUnits}}</td>
						<td><span>{{role.rate.getNumberOfTUs()}}</span></td>
						<td>{{role.rate.getNumPeriods(role.startDate, role.endDate)}}</td>
						<td>{{role.formatMoney(role.rate.getEstimatedTotal(role.startDate,
							role.endDate), 0)}}</td>
					</tr>
					<tfoot>
						<tr>
							<td />
							<td class="hidden-xs"/>
							<td />
							<td />
							<td />
							<td class="hidden-xs"><b>Total Estimate:</b></td>
							<td class="visible-xs"><b>Total:</b></td>
							<td><span>{{formatMoney(getServicesEstimate(),0)}}</span></td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</div>

    <div class="row content-header-gray project-content" style="margin-left: 0px;">
		<div class="col-xs-4">
			Roles:
		</div>
	</div>
	<div class="row rolesList" style="background-color: white; margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-top: 10px; padding-bottom: 20px; margin-bottom: 20px;">
		<div ng-repeat-start="role in project.roles" ng-if="showSeparator(role, $index)" class="row">
			<!--  <div class="row">
				<hr  />
			</div>-->
			<div class="row">
				<div class="col-xs-4" ng-if="showSeparator(role, $index) == 'future'" style="margin-bottom: 12px; margin-top: -12px; padding-left: 45px;">
					<h4>Future:</h4>
				</div>
				<div class="col-xs-4" ng-if="showSeparator(role, $index) == 'past'" style="margin-bottom: 12px; margin-top: -12px; padding-left: 45px;">
					<h4>Past:</h4>
				</div>
			</div>
			
		</div>
		<div class="row" ng-repeat-end>
		    <div class="row people-row role-row">
		        <div class="col-xs-5 col-sm-6 col-md-3 col-lg-3 role-prop">
                    <a ng-click="tabSelected('/assignments')" style="cursor: pointer;">{{roleGroups[role.type.resource].title}}</a>
                </div>
                <div class="col-xs-2 col-md-1 col-lg-1 role-prop">
                    <span ng-show="role.rate.isFullyUtilized()">100%</span>
                    <span ng-show="!role.rate.isFullyUtilized() && role.rate.type == 'hourly'">{{Math.ceil(role.rate.hoursPerMonth())}} h/m</span>
                    <span ng-show="!role.rate.isFullyUtilized() && role.rate.type == 'weekly'">{{Math.ceil(role.rate.hoursPerWeek)}} h/w</span>
                </div>
                <div class="hidden-xs col-sm-2 col-md-2 col-lg-2 role-prop">
                    <label class="zero-margin">From: &nbsp</label>{{role.startDate}}
                </div>
                <div class="hidden-xs col-sm-2 col-md-2 col-lg-2 role-prop">
                    <label class="zero-margin">To: &nbsp</label>{{role.endDate || '-'}}
                </div>
                <div class="hidden-xs col-sm-4 col-md-4 col-lg-4 assignment-row" ng-class="{'assignment-green': getCoverageValue(role) == 'OKAY', 'assignment-yellow': getCoverageValue(role) == 'NEEDS ATTENTION' || getCoverageValue(role) == 'GAPS', 'assignment-red': getCoverageValue(role) == 'UNASSIGNED'}">
                    <strong>{{getCoverageValue(role)}}</strong>
                </div>
                <div class="col-xs-5 hidden-sm hidden-md hidden-lg" style="margin-top: 15px;" ng-class="{'assignment-green': getCoverageValue(role) == 'OKAY', 'assignment-yellow': getCoverageValue(role) == 'NEEDS ATTENTION' || getCoverageValue(role) == 'GAPS', 'assignment-red': getCoverageValue(role) == 'UNASSIGNED'}">
                    {{getCoverageValue(role)}}
                </div>
		    </div>
		    <!--<div class="row people-row role-row" ng-repeat="assignee in role.assignees" ng-if="role.assignees.length > 0 && role.assignees[0].person && role.assignees[0].person.resource">
		        <div class="col-xs-5 col-sm-6">
		            <a href="#{{assignee.person.resource}}"> <img ng-show="assignee && assignee.person" class="people-image" ng-src="{{assignee.person.thumbnail}}"/> {{roleGroups[role.type.resource].title}}</a>
		        </div>
		        <div class="col-xs-2 people-prop">{{assignee.hoursPerWeek}} h/w</div>
		        <div class="hidden-xs col-sm-4 assignment-row" ng-class="{'assignment-green': getCoverageValue(role) == 'Adequate', 'assignment-yellow': getCoverageValue(role) == 'Inadequate', 'assignment-red': getCoverageValue(role) == 'Unassigned'}">
		            {{getCoverageValue(role)}}
		        </div>
		        <div class="col-xs-5 hidden-sm hidden-md hidden-lg" style="margin-top: 15px;" ng-class="{'assignment-green': getCoverageValue(role) == 'Adequate', 'assignment-yellow': getCoverageValue(role) == 'Inadequate', 'assignment-red': getCoverageValue(role) == 'Unassigned'}">
                    {{getCoverageValue(role)}}
                </div>
		    </div>-->
				<!--<div  class="peopleList {{getRoleCSSClass(roleGroups[role.type.resource].abbreviation, role)}}">
				<div class="panel-heading">
	
					<span>{{roleGroups[role.type.resource].abbreviation}}: </span>
					<span ng-show="role.rate.isFullyUtilized()">100%</span>
					<span ng-show="!role.rate.isFullyUtilized() && role.rate.type == 'hourly'">{{Math.ceil(role.rate.hoursPerMonth())}} h/m</span>				
					<span ng-show="!role.rate.isFullyUtilized() && role.rate.type == 'weekly'">{{Math.ceil(role.rate.hoursPerWeek)}} h/w</span>
					<small>{{role.startDate | date:'MMM d y'}}</small><span ng-show="role.endDate">&ensp;-&ensp;<small>{{role.endDate | date:'MMM d y'}}</small></span>
					&emsp;
					<span ng-hide="role.endDate">- N/A</span>
					<span>{{getCoverageValue(role)}}</span>
				</div>
				<div ng-repeat="assignee in role.assignees" ng-if="assignee.person && assignee.person.resource" style="padding: 12px 0 12px 12px;">
					<div class="row">
						<span class="col-lg-2 col-md-2 col-sm-2 col-xs-2" >
							<a href="#{{assignee.person.resource}}"> <img ng-show="assignee && assignee.person" class="profileImage" ng-src="{{assignee.person.thumbnail}}" style="float:right"/></a>
						</span>
						<span class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-left:0;">
							<a href="#{{assignee.person.resource}}">
								<i class="fa fa-ban" ng-show="!assignee.person || !assignee.person.resource"></i>{{assignee.person.name || 'Unassigned'}} </a>
							<br />
							<span class="hidden-xs">
								<small>Hours per Week: </small> <span class="text-muted">{{assignee.hoursPerWeek}} h/w</span>
								<br />
								{{assignee.startDate | date:'longDate'}}&ensp;-&ensp;{{assignee.endDate | date:'longDate'}}{{role.type.abbreviation}}
								<br />
							</span>
							<span class="visible-xs">
								<small>{{assignee.hoursPerWeek}} h/w</small>
								&emsp; | &emsp;
								<small>{{assignee.startDate | date:'shortDate'}}</small>
								<span ng-show="assignee.endDate">- <small>{{assignee.endDate | date:'shortDate'}}</small></span>
								<span ng-hide="assignee.endDate">- <small>N/A</small></span>
							</span>
						</span>
					</div>
				</div>
				<div style="padding: 12px 0 12px 12px;"  ng-if="role.assignees.length == 0 || !role.assignees[0].person || !role.assignees[0].person.resource">
					<i class="fa fa-ban" style="color:#f34d4b"></i> <span>There are no assignees on this role</span>
				</div>
				
		</div>-->
			
		</div>
	</div>
