<div class="profile-actions pageActions" style="margin-top:0;">
    <button ng-hide="editMode" class="btn btn-default" ng-click="edit()">
        <span class="hidden-xs"><i class="fa fa-pencil-square-o"></i> Edit</span>
        <span class="visible-xs"><i class="fa fa-pencil-square-o"></i></span>
    </button>
    <button ng-show="editMode" class="btn btn-default" ng-click="cancel()">
        <span class="hidden-xs"><i class="fa fa-chevron-left"></i> Cancel</span>
        <span class="visible-xs"><i class="fa fa-chevron-left"></i></span>
    </button>
    <button ng-show="editMode" class="btn btn-default" ng-click="save()">
        <span class="hidden-xs"><i class="fa fa-floppy-o"></i> Save</span>
        <span class="visible-xs"><i class="fa fa-floppy-o"></i></span>
    </button>
</div>

<div ng-show="errors.length > 0" class="alert alert-danger" style="margin-left: 20px; margin-right: 20px;">
    <div ng-repeat="error in errors">{{error}}</div>
</div>

<div class="col-xs-12">
        <div class="well">
            <div class="row person-detail">
                <div class="spinner-container" ng-hide="hideProfileSpinner" style="width: calc(100% - 30px);">
                    <i class="fa fa-spinner fa-spin fa-3x"></i>
                </div>
                <div class="personPicColumn">
                    <img class="media-object fullProfileImage" ng-src="{{profile.thumbnail}}" err-src="\images\defaultprofile.png" />
                    <div class="verticalGreyLine" ng-show="gplusProfile.url"></div>
                    <a ng-show="gplusProfile.url" class="googlePlusIcon" ng-href="{{gplusProfile.url}}"><span class="fa fa-google-plus"></span></a>
                </div>
                <div class="person-contact-info">
                    <div class="personDetailName">{{getPersonName(profile, true)}}</div>
                </div>
                <div class="person-contact-info row">
                    <!-- Left column -->
                    <div class="col-xs-12 col-sm-6 no-padding" ng-show="!editMode">
                        <div ng-show="canViewMyRolesTitles()">
                            <div ng-if="profile.jobTitle" class="sub-heading">{{getJobTitle(profile.jobTitle.resource)}}</div>
                            <div ng-if="!profile.jobTitle" class="sub-heading">Job title is not specified yet.</div>
                        </div>
                        <div style="display: inline;" ng-show="canViewMyRolesTitles()">
                            <div style="display: inline;">
                                <strong for="primaryRole" class="profilePartTimeLabel">Primary Role</strong>
                            </div>
                            <div class="user-security-role" ng-if="profile.primaryRole" style="margin-left: 30px;">
                                {{getRoleName(profile.primaryRole.resource)}}
                            </div>
                        </div>
                        <div style="padding-top: 25px;" ng-show="canViewMySecondaryRoles() || canViewOthersSecondaryRoles()">
                            <strong for="profileManager" class="profilePartTimeLabel">{{getPersonName(profile, false, true)}} has the following secondary roles:</strong>
                        </div>
                        <div ng-show="(!profile.secondaryRoles || profile.secondaryRoles.length == 0) && (canViewMySecondaryRoles() || canViewOthersSecondaryRoles())" style="margin-bottom: 10px;">No secondary roles assigned.</div>
                        
                        <div style="display:table;" ng-show="canViewMySecondaryRoles() || canViewOthersSecondaryRoles()">
                            <div ng-repeat="secondaryRole in profile.secondaryRoles" class="user-security-role col-lg-3 col-md-6 col-xs-12">
                                <div class="col-xs-12 no-padding" ng-show="!editMode">{{getRoleName(secondaryRole.resource)}}</div>
                            </div>
                        </div>
                        
                        <div style="padding-top: 25px;" ng-show="canViewSecurityRoles()">
                            <strong class="profilePartTimeLabel">{{getPersonName(profile, false, true)}} currently belongs to the following permissions groups:</strong>
                            <strong ng-show="userSecurityGroups.length == 0" style="margin-bottom: 10px;">No permissions groups assigned.</strong>
                        </div>

                        <div ng-repeat="userRole in userSecurityGroups" class="user-security-role col-lg-3 col-md-6 col-xs-12" ng-show="canViewSecurityRoles()">
                            <div class="col-xs-12 no-padding">{{userRole.name}}</div>
                        </div>
                    </div>

                    <!-- Right column -->
                    <div class="col-xs-12 col-sm-6 no-horizontal--padding" ng-show="!editMode" style="padding-top: 30px;">
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 no-padding">
                            <div>
                                <i class="fa fa-phone fa-3x"></i>
                            </div>
                            <div>
                                <i class="fa fa-skype fa-3x"></i>
                            </div>
                            <div style="padding-top: 10px;">
                                <strong class="personDetailLabel">DevOps ID</strong>
                            </div>
                            <div ng-if="canSeeCapacity" class="padding-top-10">
                                <strong class="profilePartTimeLabel">Manager</strong>
                            </div>
                            <div ng-if="canSeeCapacity" class="padding-top-10" ng-show="isManager">
                                <strong class="profilePartTimeLabel">Vacation days</strong>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-8 col-md-9 col-lg-10">
                            <div style="padding-top: 15px;">
                                <a ng-if="profile.phone" ng-href="tel:{{profile.phone | tel}}">{{profile.phone | tel}}</a>
                            </div>
                            <div style="padding-top: 25px;">
                                <a ng-if="profile.skypeId" ng-href="skype:{{profile.skypeId}}?chat">{{profile.skypeId}}</a>
                            </div>
                            <div style="padding-top: 15px;">
                                <span ng-if="profile.jazzHubId">{{profile.jazzHubId}}</span>
                            </div>
                            <div class="padding-top-10">
                                <span>{{getPersonName(profile.manager, true) || "Not Selected"}}</span>
                            </div>
                            <div class="padding-top-10" ng-show="isManager">
                                <span>{{profile.vacationCapacity || 'Not Set'}} <span ng-show="profile.vacationCapacity">days</span></span>
                            </div>
                        </div>
                        <div class="col-xs-12 no-horizontal-padding" style="padding-top: 20px;">
                            <div ng-show="!profile.partTime" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 no-horizontal-padding">
                                <i class="fa fa-check fa-2x" style="color: #60c5db; margin-right: 15px;"></i><span>Full time</span>
                            </div>
                            <div ng-show="profile.partTime" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 no-horizontal-padding padding-top-10">
                                <span ng-show="profile.partTime"><strong>Part time: </strong>{{profile.partTimeHours}} h/w</span>
                            </div>
                            
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 no-horizontal-padding">
                                <div class="col-xs-6 no-padding" ng-show="profile.isActive == 'true'">
                                    <i class="fa fa-check fa-2x" style="color: #60c5db; margin-right: 15px;"></i><strong>Active</strong>
                                </div>
                                <div class="col-xs-6 no-padding" ng-show="profile.isActive == 'false'">
                                    <i class="fa fa-times-circle fa-2x" style="color: #60c5db; margin-right: 15px;"></i><strong>Inactive</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Left column EDIT Mode-->
                    <div class="col-xs-12 col-sm-6 no-padding" ng-show="editMode">
                        
                        <div ng-if="canEditPersonnelData() && canEditRolesTitles()" class="padding-top-10 profile-edit-select">
                            <strong>Job Title:</strong>
                            <select class="form-control" ng-model="profile.jobTitle.resource" ng-options="m.resource as m.title for m in allTitles"></select>
                        </div>
                        <div ng-if="canEditPersonnelData() && canEditRolesTitles()" class="padding-top-10 profile-edit-select">
                            <strong>Primary Role:</strong>
                            <select class="form-control" ng-model="profile.primaryRole.resource" ng-options="m.resource as m.title for m in allRoles"></select>
                        </div>
                        <div ng-show="isManager && canEditRolesTitles()" class="padding-top-10">
                            <div>
                                <strong>Select secondary roles:</strong>
                            </div>
                            <select class="selectpicker select-secondary-roles form-control" data-width="95%" multiple data-selected-text-format="count>3" ng-model="profile.secondaryRoles" ng-options="g.title for g in allRoles" style="width: 95%;"></select>
                        </div>
                        
                        <div style="display: table;" ng-show="canEditRolesTitles()">
                            <div>
                                <strong for="secondaryRoles" class="profilePartTimeLabel">{{getPersonName(profile, false, true)}} has the following secondary roles:</strong>
                            </div>
                            <div ng-show="!profile.secondaryRoles || profile.secondaryRoles.length == 0" style="margin-bottom: 10px;">No secondary roles assigned.</div>
                            <div ng-repeat="secondaryRole in profile.secondaryRoles" class="user-security-role col-lg-3 col-md-6 col-xs-12">
                                <div class="col-xs-12 col-sm-11 col-md-11 no-padding">{{getSecondaryRoleName(secondaryRole)}}</div>
                                <a ng-click="removeSecondaryRole($index)" class="col-xs-1 col-sm-1 col-md-1 no-padding cursor-pointer" style="color:white;"><i class="fa fa-times"></i></a>
                            </div>
                        </div>

                        <div ng-show="isManager" class="padding-top-10">
                            <div>
                                <strong>Select permissions groups:</strong>
                            </div>
                            <select class="selectpicker select-user-groups form-control" multiple data-selected-text-format="count>3" ng-model="userSecurityGroups" ng-options="g.name for g in securityGroups" ng-change="userSecurityGroupsChanged(this)"></select>
                        </div>
                        
                        <div class="row col-xs-12 no-margin-bottom" ng-show="isManager">
                            <strong for="profileManager" class="profilePartTimeLabel">{{getPersonName(profile, false, true)}} currently belongs to the following permissions groups:</strong>
                            <div ng-show="userSecurityGroups.length == 0" style="margin-bottom: 10px;">No permissions groups assigned.</div>
                        </div>

                        <div ng-repeat="userRole in userSecurityGroups" class="user-security-role col-lg-3 col-md-6 col-xs-12" ng-show="isManager">
                            <div class="col-xs-12 no-padding" ng-show="!editMode">{{userRole.name}}</div>
                            <div class="col-xs-11 col-sm-11 col-md-10 no-padding" ng-show="editMode">{{userRole.name}}</div>
                            <a ng-show="editMode" ng-click="removeUserRole($index)" class="col-xs-1 col-sm-1 col-md-2 no-padding cursor-pointer" style="color:white;"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    
                    <!-- Right column EDIT Mode -->
                    <div class="col-xs-12 col-sm-6 no-padding" ng-show="editMode" style="padding-top: 25px;">
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 no-padding">
                            <div>
                                <i class="fa fa-phone fa-3x"></i>
                            </div>
                            <div style="padding-top: 20px;">
                                <i class="fa fa-skype fa-3x"></i>
                            </div>
                            <div style="padding-top: 25px;">
                                <strong for="profileJazzHub" class="personDetailLabel">DevOps ID</strong>
                            </div>
                            <div style="padding-top: 40px;" ng-show="isManager">
                                <strong for="profileManager" class="profilePartTimeLabel">Manager</strong>
                            </div>
                            <div ng-show="canEditPersonnelData() && isManager" style="padding-top: 40px;">
                                <strong for="profilePartTime" class="profilePartTimeLabel">Vacation days</strong>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-8 col-md-9 col-lg-6">
                            <div>
                                <input id="profilePhone" ng-model="profile.phone" class="form-control" type="phone" />
                            </div>
                            <div style="padding-top: 20px;">
                                <input id="profileSkype" ng-model="profile.skypeId" class="form-control" type="text" />
                            </div>
                            <div style="padding-top: 20px;">
                                <input id="profileJazzHub" ng-model="profile.jazzHubId" class="form-control" type="text" />
                            </div>
                            <div style="padding-top: 20px;">
                                <div ng-show="canEditPersonnelData() && isManager">
                                    <select class="form-control" style="width: 100%;"
                                            ng-model="profile.manager" required
                                            ng-options="c as getPersonName(c) for c in managers| orderBy:'name.familyName'">
                                        <option selected disabled hidden value=''></option>"

                                    </select>
                                </div>
                            </div>
                            <div style="padding-top: 20px;" ng-show="canEditPersonnelData() && isManager">
                                <input ng-model="profile.vacationCapacity" placeholder="days" type="number" class="form-control" />
                            </div>
                        </div>
                        <div class="col-xs-12 no-horizontal-padding" style="padding-top: 20px;" ng-show="canEditPersonnelData() && isManager && editMode">
                            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 no-horizontal-padding">
                                <div class="btn-group col-xs-9 no-padding" style="border: 0;">
                                    <label class="btn btn-toggle" ng-model="profile.partTime" btn-radio="true">Part Time</label>
                                    <label class="btn btn-toggle" ng-model="profile.partTime" btn-radio="false">Full Time</label>
                                </div>
                                <div class="col-xs-2 no-padding">
                                    <input type="number" class="form-control" ng-model="profile.partTimeHours" ng-show="profile.partTime" />
                                </div>
                                <div class="col-xs-1 padding-top-10">
                                    <strong ng-show="profile.partTime">h/w</strong>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 no-horizontal-padding" style="padding-top: 20px;" ng-show="editMode">
                            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 no-horizontal-padding">
                                <div class="btn-group col-xs-12 no-padding" style="border: 0;">
                                    <label class="btn btn-toggle" ng-model="profile.isActive" btn-radio="'true'">Active</label>
                                    <label class="btn btn-toggle" ng-model="profile.isActive" btn-radio="'false'">Inactive</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--<div class="spinner-container" ng-hide="hideProfileSpinner" style="width: calc(100% - 30px);">
                        <i class="fa fa-spinner fa-spin fa-3x"></i>
                    </div>

                    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-9">
                        <div class="personPicColumn">
                            <img class="media-object fullProfileImage" ng-src="{{profile.thumbnail}}" err-src="\images\defaultprofile.png" />
                            <div class="verticalGreyLine" ng-show="gplusProfile.url"></div>
                            <a ng-show="gplusProfile.url" class="googlePlusIcon" ng-href="{{gplusProfile.url}}"><span class="fa fa-google-plus"></span></a>
                        </div>

                        <div class="person-contact-info">
                            <div class="personDetailName">{{getPersonName(profile, true)}}</div>
                            <div ng-if="canEditPersonnelData() && editMode">
                                <br />
                                <label>Primary Role:</label>
                                <select class="form-control" ng-model="profile.primaryRole.resource" ng-options="m.resource as m.title for m in allRoles"></select>
                            </div>
                            <div ng-hide="editMode">
                                <div ng-if="profile.primaryRole" class="sub-heading">{{getRoleName(profile.primaryRole.resource)}}</div>
                            </div>

                            <div class="col-lg-12 contact-fields">
                                <div class="row">
                                    <div ng-hide="editMode" class="col-xs-12 col-md-10 col-lg-4 no-horizontal-padding padding-left-lg">
                                        <label>Email</label>
                                        <a ng-href="mailto:{{profile.mBox}}">{{profile.mBox}}</a>
                                    </div>

                                    

                                    <div ng-show="editMode" class="col-xs-12 col-md-10 col-lg-6">
                                        <label for="profileSkype" class="personDetailLabel">Skype</label>
                                        <input id="profileSkype" ng-model="profile.skypeId" class="form-control" type="text" />
                                    </div>
                                    <div ng-hide="editMode" class="col-xs-12 col-md-10 col-lg-2 no-horizontal-padding">
                                        <label class="personDetailLabel">Skype Id</label>
                                        <a ng-if="profile.skypeId" ng-href="skype:{{profile.skypeId}}?chat">{{profile.skypeId}}</a>
                                    </div>

                                    <div ng-show="editMode" class="col-xs-12 col-md-10 col-lg-6">
                                        <label for="profileJazzHub" class="personDetailLabel">JazzHub Id</label>
                                        <input id="profileJazzHub" ng-model="profile.jazzHubId" class="form-control" type="text" />
                                    </div>
                                    <div ng-hide="editMode" class="col-xs-12 col-md-10 col-lg-3 no-horizontal-padding-xs">
                                        <label class="personDetailLabel">JazzHub</label>
                                        <span ng-if="profile.jazzHubId">{{profile.jazzHubId}}</span>
                                    </div>

                                    <div ng-if="canEditPersonnelData()" ng-show="editMode" class="col-xs-12 col-md-10 col-lg-3 part-time-container edit padding-top-10">
                                        <input type="checkbox" ng-if="canEditPersonnelData()" name="profilePartTime" ng-model="profile.partTime" />
                                        <label for="profilePartTime" class="profilePartTimeLabel">Part time</label>
                                        <input ng-model="profile.partTimeHours" ng-if="canEditPersonnelData()" ng-disabled="!profile.partTime" placeholder="h/w" type="number" class="form-control" />
                                    </div>
                                    <div ng-hide="editMode" class="col-xs-12 col-md-10 col-lg-3 part-time-container view no-left-padding-sm padding-top-10">
                                        <label class="profilePartTimeLabel">Part time</label>
                                        <span ng-show="profile.partTime">{{profile.partTimeHours}}h/w</span>
                                        <span ng-show="!profile.partTime">NO</span>
                                    </div>

                                    <div ng-if="canEditPersonnelData() && editMode" class="col-xs-12 col-md-10 col-lg-3 edit padding-top-10">
                                        <label for="profilePartTime" class="profilePartTimeLabel">Vacation entitlements</label>
                                        <input ng-model="profile.vacationCapacity" placeholder="days" type="number" class="form-control" />
                                    </div>
                                    <div ng-if="canSeeCapacity" ng-hide="editMode" class="col-xs-12 col-md-10 col-lg-3 view no-left-padding-sm padding-top-10">
                                        <label class="profilePartTimeLabel">Vacation entitlements</label>
                                        <span>{{profile.vacationCapacity || 'Not Set'}} <span ng-show="profile.vacationCapacity">days</span></span>
                                    </div>

                                    <div ng-if="canEditPersonnelData() && editMode" class="col-xs-12 col-md-10 col-lg-6 edit padding-top-10">
                                        <label for="profileManager" class="profilePartTimeLabel">Manager</label>
                                        <select class="form-control"
                                                ng-model="profile.manager" required
                                                ng-options="c as getPersonName(c) for c in managers| orderBy:'name.familyName'">
                                            <option selected disabled hidden value=''></option>"
                                        
                                        </select>
                                    </div>
                                    <div ng-if="canSeeCapacity" ng-hide="editMode" class="col-xs-12 col-md-10 col-lg-3 view no-left-padding-sm padding-top-10">
                                        <label class="profilePartTimeLabel">Manager</label>
                                        <span>{{getPersonName(profile.manager, true) || "Not Selected"}}</span>
                                    </div>

                                    <div ng-hide="!canSeeCapacity" class="col-xs-12 col-md-10 col-lg-3 padding-top-10">
                                        <label class="profilePartTimeLabel">Is Active:</label>
                                        <input type="checkbox" ng-if="canEditPersonnelData()" name="profileIsActive" ng-model="profile.isActive" ng-checked="profile.isActive == 'true'" ng-disabled="!editMode" />
                                    </div>

                                    <div ng-show="isManager && editMode" class="col-xs-12 col-md-12 col-lg-6 edit padding-top-30 pull-right">
                                        <label>Select permissions groups:</label>
                                        <select class="selectpicker select-user-groups form-control" multiple data-selected-text-format="count>3" ng-model="userSecurityGroups" ng-options="g.name for g in securityGroups">
                                        </select>
                                    </div>

                                    <div ng-show="isManager && editMode" class="col-xs-12 col-md-12 col-lg-6 view no-left-padding-sm padding-top-10">
                                        <div class="row col-xs-12 no-margin-bottom">
                                            <label for="profileManager" class="profilePartTimeLabel">{{getPersonName(profile, false, true)}} currently belongs to the following permissions groups:</label>
                                            <span ng-show="userSecurityGroups.length == 0" style="margin-bottom: 10px;">No permissions groups assigned.</span>
                                        </div>

                                        <div ng-repeat="userRole in userSecurityGroups" class="user-security-role col-lg-2 col-md-6 col-xs-12">
                                            <div class="col-xs-12 no-padding" ng-show="!editMode">{{userRole.name}}</div>
                                            <div class="col-xs-11 col-sm-11 col-md-10 no-padding" ng-show="editMode">{{userRole.name}}</div>
                                            <a ng-show="editMode" ng-click="removeUserRole($index)" class="col-xs-1 col-sm-1 col-md-2 no-padding cursor-pointer" style="color:white;"><i class="fa fa-times"></i></a>
                                        </div>
                                    </div>

                                    <div ng-show="isManager && !editMode" class="col-xs-12 view no-left-padding-sm padding-top-10">
                                        <div class="row col-xs-12 no-margin-bottom">
                                            <label for="profileManager" class="profilePartTimeLabel">{{getPersonName(profile, false, true)}} currently belongs to the following permissions groups:</label>
                                            <span ng-show="userSecurityGroups.length == 0" style="margin-bottom: 10px;">No permissions groups assigned.</span>
                                        </div>

                                        <div ng-repeat="userRole in userSecurityGroups" class="user-security-role col-lg-2 col-md-6 col-xs-12">
                                            <div class="col-xs-12 no-padding" ng-show="!editMode">{{userRole.name}}</div>
                                            <div class="col-xs-11 col-sm-11 col-md-10 no-padding" ng-show="editMode">{{userRole.name}}</div>
                                            <a ng-show="editMode" ng-click="removeUserRole($index)" class="col-xs-1 col-sm-1 col-md-2 no-padding cursor-pointer" style="color:white;"><i class="fa fa-times"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-3 profile-graph-container">
                    <h3 class="profile-graph-header">Hours this week</h3>
                    <div class="percentage-container">
                        <div id="percentage-activeBorder" class="percentage-active-border">
                            <div id="percentage-circle" class="percentage-circle">
                                <h1 class="percentage-circle-week-hours">
                                    {{totalWeekHours ? totalWeekHours : 0}}
                                </h1>
                                <h5 class="percentage-circle-week-hours-rate">of {{hoursRateValue}}</h5>
                            </div>
                        </div>
                    </div>

                    <h5 style="text-align: center;">
                        <span style="font-weight: bold; font-size: 22px;">{{totalMonthHours ? totalMonthHours : 0}}</span> hrs logged this month
                    </h5>
                    <h5 style="text-align: center;">
                        <span style="font-weight: bold; font-size: 22px;">{{hoursRateFromProjects ? hoursRateFromProjects : 0}}</span> % utilized
                    </h5>
                    <h5 style="text-align: center;">
                        <span style="font-weight: bold; font-size: 22px;">{{activeProjectsCount ? activeProjectsCount : 0}}</span> active projects
                    </h5>
                    <!-- <label class="personDetailLabel">Accounts:</label>
                        <span ng-show="!gplusProfile.url">None</span>
                        <ul class="personDetailList">
                            <li ng-show="gplusProfile.url"><a ng-href="{{gplusProfile.url}}">Google+</a>
                            </li>
                        </ul> -->
                <!--</div>-->
            </div>
        </div>
</div>
