<div ng-controller="PeopleCtrl">
	<div ng-controller="ResourceFinderCtrl">
		<br />
		<div class="row">
		  <div class="col-xs-6 col-md-7 xs-padding-top" style="text-align: right;">
		      <div class="btn-group">
		        <button type="button" class="btn btn-default" ng-class="{active: showTableView}" ng-click="toggleTableView()"><i class="fa fa-table"></i> <span class="hidden-xs hidden-sm">Table</span></button>
		        <button type="button" class="btn btn-default" ng-class="{active: showGraphView}" ng-click="toggleGraphView()"><i class="fa fa-tasks"></i> <span class="hidden-xs hidden-sm">Graph</span></button>
		    </div> 
		  </div>
		</div>
		<div ng-if="showTableView">
			<ng-include src="'modules/staffing/partials/resourceFinderTable.html'"></ng-include>
		</div>
		
		<div ng-if="showGraphView">
			<ng-include src="'modules/staffing/partials/resourceFinderGraph.html'"></ng-include>
		</div>
	</div>
</div>