<div class="departments-container" ng-controller="DepartmentsCtrl">
	<div class="row">
		<div class="col-md-4">
			<div class="section-header">
				<label>Department</label>
				<div>Search or a select a department to see details</div>
				
				<div class="input-group search-department-control">
			        <input type="text" class="form-control" ng-model="searchDeptStr" placeholder="Search a manager, nickname or code" ng-change="searchDepartments($event)">
			        <span class="input-group-addon"><i class="fa fa-search"></i></span>
			   </div>
			</div>
			<div class="section-content">
				<div ng-repeat="dep in availableDepartments" class="department-entry" ng-click="selectDepartment($event, dep)">
					<span class="code">{{dep.departmentCode.name}}</span>
					<span class="manager">{{dep.departmentManager.name}}</span>
					<span class="nickname">{{dep.departmentNickname}}</span>
				</div>
			</div>
			
		</div>
		<div class="col-md-4">
			
			
			<div ng-form="selectedDepartmentForm" class="department-edit-container" ng-if="selectedDepartment.isNew || selectedDepartment._id && selectedDepartment.isEdit">
			    <div class="row">
			    	<div class="col-xs-7">
			    		<label>Department Details</label>
			    	</div>
			        <div class="col-xs-5">
			            <input type="submit"  class="btn" value="Cancel" ng-click="cancelDepartment()">
			            <input type="submit" ng-disabled="selectedDepartmentForm.$invalid" class="btn" value="Save" ng-click="saveDepartment()" >
			        </div>
			    </div>
			    <div class="row">
			    	<div class="col-xs-12">
		               <label class="required-label control-label" for="role">Department code:</label>
		               <input class="form-control" name="deptCode" ng-required="true" placeholder="Search for an availalble code" 
		               	ng-model="selectedDepartment.departmentCode" typeahead-min-length="1" highlight="true" typeahead="p as p.name for p in currentDepartmentCodes | filter:{name:$viewValue}"/>
		           </div>
			        <div class="col-xs-12 ">
		               <label class="required-label control-label" for="role">Department category:</label>
		               
		               
		               	
		               	<select name="deptCategory" class="form-control pull-right" 
								ng-model="selectedDepartment.departmentCategory"
								ng-required="true"
								ng-options="p as p.name for p in departmentCategories | filter:{name:$viewValue}">
							</select>
					
		           </div>
		           <div class="col-xs-12">
		               <label class="required-label control-label" for="role">Department nickname:</label>
		               <input class="form-control" name="deptName" ng-required="true" placeholder="Nicknames must be unique"  ng-model="selectedDepartment.departmentNickname"/>
		           </div>
			       <div class="col-xs-12">
		               <label class="required-label control-label" for="role">Department manager:</label>
		              
		           		<input  class="form-control" name="deptManager" ng-model="selectedDepartment.departmentManager" required typeahead-on-select="selectedManagerChanged($event, $item)"
							placeholder="Search for a person" typeahead-min-length="1" highlight="true" typeahead="p as p.name for p in managersList | filter:{name:$viewValue}" />
		
		
		           </div>
			       
			              
			    </div>
			    
			    <div class="row">
			    	<div class="col-xs-7">
			    		<label>Department <span ng-if="selectedDepartment.departmentCode">{{selectedDepartment.departmentCode.name}}</span>People</label>
			    	</div>
			        <div class="col-xs-5">
			            <input type="submit" ng-show="selectedDepartment.editDepartmenPeople" ng-disabled="selectedDepartmentForm.$invalid" class="btn" value="Cancel" ng-click="cancelDepartmentPeople()">
			            <input type="submit" ng-show="selectedDepartment.editDepartmenPeople" ng-disabled="selectedDepartmentForm.$invalid" class="btn" value="Save" ng-click="saveDepartmentPeople()" >
			            <input type="submit" ng-show="!selectedDepartment.editDepartmenPeople" ng-disabled="selectedDepartmentForm.$invalid" class="btn pull-right" value="Edit" ng-click="editDepartmentPeople()" >
			        </div>
			    </div>
			    <div class="row">
			    	<div ng-if="selectedDepartment.editDepartmenPeople">
			    		<div ng-repeat="p in selectedDepartmentPeople" class="available-person">
			    			<span class="name">{{p.name}}</span>
								<span class="add pull-right" ng-click="removeDepartmentPerson(p)">
									<i class="fa fa-times"></i>
								</span>
		    			</div>
			    	</div>
			    	
			    	<div ng-if="!selectedDepartment.editDepartmenPeople">
			    		<div ng-repeat="p in selectedDepartmentPeople">
			    			{{p.name}}
			    			</div>
			    	</div>
			    	
			    	
			    	
			    </div>
			</div>
			
			
			<div ng-form="selectedDepartmentForm" class="department-edit-container" ng-if="selectedDepartment._id && !selectedDepartment.isEdit">
			    <div class="section-header">
			    	<div class="col-xs-7">
			    		<label>Department <span ng-if="selectedDepartment.departmentCode">{{selectedDepartment.departmentCode.name}}</span> Details</label>
			    	</div>
			        <div class="col-xs-5">
			            <input type="submit" ng-disabled="selectedDepartmentForm.$invalid" class="btn pull-right" value="Edit" ng-click="editDepartment()">
			            <input type="submit" ng-disabled="selectedDepartmentForm.$invalid" class="btn pull-right" value="Delete" ng-click="deleteDepartment()" style="margin-right:4px;">
			          
			        </div>
			    </div>
			    <div class="section-content view-container">
			    	<div class="col-xs-12">
		               <label class="control-label" >Department code:</label>
		               
		               <span>{{selectedDepartment.departmentCode.name}}</span>
		               
		           </div>
			        <div class="col-xs-12 ">
		               <label class="control-label" >Department category:</label>
		               
		               <span>{{selectedDepartment.departmentCategory.name}}</span>
		               
		           </div>
		           <div class="col-xs-12">
		               <label class="control-label" >Department nickname:</label>
		               
		               <span>{{selectedDepartment.departmentNickname}}</span>
		              
		           </div>
			       <div class="col-xs-12">
		               <label class="control-label" for="departmentManager.name">Department manager:</label>
		              
		               <span>{{selectedDepartment.departmentManager.name}}</span>
		           		
		           </div>
			       
			              
			    </div>
			    
			    <div class="section-header" style="top:50px;z-index:10;">
			    	<div class="col-xs-7">
			    		<label>Department <span ng-if="selectedDepartment.departmentCode">{{selectedDepartment.departmentCode.name}}</span>  People</label>
			    	</div>
			        <div class="col-xs-5">
			            <input type="submit" ng-show="selectedDepartment.editDepartmenPeople" ng-disabled="selectedDepartmentForm.$invalid" class="btn" value="Cancel" ng-click="cancelDepartmentPeople()">
			            <input type="submit" ng-show="selectedDepartment.editDepartmenPeople" ng-disabled="selectedDepartmentForm.$invalid" class="btn" value="Save" ng-click="saveDepartmentPeople()" >
			            <input type="submit" ng-show="!selectedDepartment.editDepartmenPeople" ng-disabled="selectedDepartmentForm.$invalid" class="btn pull-right" value="Edit" ng-click="editDepartmentPeople()" >
			        </div>
			    </div>
			    <div class="section-content">
			    	<div ng-if="selectedDepartment.editDepartmenPeople">
			    		<div ng-repeat="p in selectedDepartmentPeople" class="available-person">
			    			<span class="name">{{p.name}}</span>
								<span class="add pull-right" ng-click="removeDepartmentPerson(p)">
									<i class="fa fa-times"></i>
								</span>
		    			</div>
			    	</div>
			    	
			    	<div ng-if="!selectedDepartment.editDepartmenPeople">
			    		<div ng-repeat="p in selectedDepartmentPeople">
			    			{{p.name}}
			    			</div>
			    	</div>
			    	
			    	
			    	
			    </div>
			</div>
			
	
			
		</div>
		<div class="col-md-4">
			<div class="section-header"> 
				<label>Available people</label>
				<div>These people are not assigned to any department</div>
			</div>
			<div class="section-content">
				<div ng-if="!selectedDepartment.editDepartmenPeople">
					<div  ng-repeat="p in availablePeopleList | limitTo:7">{{p.name}}</div>
					<div>etc.</div>
				</div>
				
				<div ng-if="selectedDepartment.editDepartmenPeople">
					<div  ng-repeat="p in availablePeopleList | limitTo:15" class="available-person">
						<span class="name">{{p.name}}</span>
						<span class="add pull-right" ng-click="addDepartmentPerson(p)">
							<i class="fa fa-plus"></i>
						</span>
					</div>
					
				</div>
				
			</div>
		</div>
	</div>
	
</div>