<form name="jobTitleForm" novalidate class="modal-form">
    <div class="row">
        <div class="col-xs-6">
            <span>Abbreviation</span>
            <input name="abbreviation" type="text" class="form-control" placeholder="Enter abbreviation" ng-model="selectedJobTitle.abbreviation" required />
        </div>
        <div class="col-xs-6">
            <span>Title</span>
            <input name="title" type="text" class="form-control" placeholder="Enter title" ng-model="selectedJobTitle.title" required />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-default pull-right" ng-click="save()" style="margin-left: 10px;" ng-disabled="jobTitleForm.$invalid || !jobTitleForm.$dirty">
                <span ng-show="creating">Add</span>
                <span ng-hide="creating">Save</span>
            </button>
            <button class="btn btn-default pull-right" ng-click="cancel()">Cancel</button>
        </div>
        
    </div>
</form>

