<div ng-form="RoleEditForm">
    <div id="messages" class="alert alert-danger"
         ng-show="(RoleEditForm.abbreviation.$dirty && RoleEditForm.abbreviation.$error.required ) || (RoleEditForm.name.$dirty && RoleEditForm.name.$error.required)">
        <!--  <a class="close" ng-click="addRoleMessages = []">&times;</a> -->
        <ul>
            <li ng-show="RoleEditForm.abbreviation.$error.required">Role abbreviation is required</li>
            <li ng-show="RoleEditForm.name.$error.required">Role name is required</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-xs-4 col-sm-2">
            <label class="required-label control-label" for="role">Abbr:</label>
            <input class="form-control" name="abbreviation" ng-required="true" ng-model="newRole.abbreviation"/>
        </div>
        <div class="col-xs-8 col-sm-10">
            <label class="required-label control-label" for="role">Name:</label>
            <input class="form-control" name="name" ng-required="true" ng-model="newRole.title"/>
        </div>

        <br/>

        <div class="col-xs-12 col-sm-6 col-lg-3">
            <label class="control-label" for="role">Hourly Advertised Rate:</label>
            <input class="form-control" type="number" ng-model="newRole.hourlyAdvertisedRate"/>
            (USD/Hour){{newRole.hourlyAdvertisedRate | currency}}
            <br/><br/>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3">
            <label class="control-label" for="role">Hourly Loaded Rate:($USD/Hour)</label>
            <input class="form-control" type="number" ng-model="newRole.hourlyLoadedRate"/>
            (USD/Hour){{newRole.hourlyLoadedRate | currency}}
            <br/><br/>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3">
            <label class="control-label" for="role">Monthly Advertised Rate:</label>
            <input class="form-control" type="number" ng-model="newRole.monthlyAdvertisedRate"/>
            (USD/Month){{newRole.monthlyAdvertisedRate | currency}}
            <br/><br/>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3">
            <label class="control-label" for="role">Monthly Loaded Rate:($USD/Hour)</label>
            <input class="form-control" type="number" ng-model="newRole.monthlyLoadedRate"/>
            (USD/Month){{newRole.monthlyLoadedRate | currency}}
            <br/><br/>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3">
            <label class="control-label" for="role">Utilization Rate:</label>
            <input class="form-control" type="number" min="1" max="100" ng-model="newRole.utilizationRate"/>
            {{newRole.utilizationRate}}%
            <br/><br/>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3">
            <label class="checkbox-inline">
                <input type="checkbox" id="isNonBillableCheckBox" ng-model="newRole.isNonBillable"
                       value="newRole.isNonBillable"> Is Non-Billable?
            </label>
            <br/><br/>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <input type="submit" ng-disabled="RoleEditForm.$invalid" class="btn" value="Add" ng-click="addRole()"
                   ng-show="editRoleIndex==null">
            <input type="submit" ng-disabled="RoleEditForm.$invalid" class="btn" value="Save" ng-click="saveRole()"
                   ng-show="editRoleIndex!=null">
            <input type="submit" class="btn" value="Cancel" ng-click="cancelRole()">
        </div>
    </div>
</div>
