<div ng-controller="SecurityGroupsCtrl">
  <div class="row alert alert-success" ng-show="messages.length > 0">
    <i class="fa fa-times pull-right cursor-pointer" ng-click="messages = []"></i>
    <ul>
      <li ng-repeat="message in messages">{{message}}</li>
    </ul>
  </div>
  <div class="row alert alert-danger" ng-show="errors.length > 0">
    <i class="fa fa-times pull-right cursor-pointer" ng-click="errors = []"></i>
    <ul>
      <li ng-repeat="error in errors">{{error}}</li>
    </ul>
  </div>
  <div class="row security-roles">
    <div class="col-xs-6 col-sm-1" style="margin-right: 25px;display: inline;">Select a group</div>
    <div class="col-xs-6 col-sm-4" style="margin-left: 15px;display: inline;">
      <select class="form-control"
        name="securityGroups"
        ng-options="g.name for g in securityGroups"
        ng-model="selectedGroup"
        ng-change="updateSelectedGroupMembers()"
        ng-disabled="editMode">
      </select>
    </div>
    <div class="pull-right">
      <button class="btn btn-default" ng-click="createGroup()" ng-disabled="creatingGroup">Create a group</button>
    </div>
  </div>
  <div ng-show="editMode || creatingGroup">
    <div ng-include src="'modules/admin/partials/editSecurityGroup.html'"></div>
  </div>
  <div class="row" ng-show="!editMode && !creatingGroup">
    <div class="col-xs-12 col-sm-4">
      <h4>GROUP NAME</h4>
      <div style="padding-top: 10px;padding-left: 10px;font-size: 16px;font-weight: bold;">
        {{selectedGroup.name}}
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <h4>MEMBERS</h4>
      <div class="row security-members" ng-repeat="member in selectedGroupMembers">
        <div class="col-xs-12">
            <a href="#{{member.resource + loc.href.substring(loc.href.indexOf('?'))}}" ng-if="hasPermissions(CONSTS.VIEW_PROFILE)">{{getPersonName(member)}}</a>
            <span ng-if="!hasPermissions(CONSTS.VIEW_PROFILE)">{{getPersonName(member)}}</span>
        </div>
      </div>
      <div class="row security-members" ng-repeat="group in selectedGroupGroups">
        <div class="col-xs-12">
          <a>{{group.name}}</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <h4>PERMISSIONS</h4>
      <div class="row">
        <div class="col-xs-12 col-sm-6" ng-repeat="permission in selectedGroup.resources">
          <h5>{{permission.name.toUpperCase()}}</h5>
          <ul>
            <li ng-repeat="permissionName in permission.permissions" style="list-style-type: none;">{{mapPermission(permissionName)}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>