<div ng-form="TaskEditForm">
	<div id="messages" class="alert alert-danger" 
		ng-show="(TaskEditForm.abbreviation.$dirty && TaskEditForm.abbreviation.$error.required ) || (TaskEditForm.name.$dirty && TaskEditForm.name.$error.required)">
	    <ul>
	         <li ng-show="RoleEditForm.name.$error.required">Task name is required</li>
	    </ul>
	</div>
	<div class="row">
       <div class="col-xs-12 col-sm-12">
           <label class="required-label control-label" for="role">Name:</label>
           <input class="form-control" name="name" ng-required="true" ng-model="newTask.name"/>
       </div>
		
		<br/>
	</div>
	
	<div class="row">
	    <div class="col-xs-12">
	        <input type="submit" ng-disabled="TaskEditForm.$invalid" class="btn" value="Add" ng-click="addTask()" ng-show="editTaskIndex==null">
	        <input type="submit" ng-disabled="TaskEditForm.$invalid" class="btn" value="Save" ng-click="saveTask()" ng-show="editTaskIndex!=null">
	        <input type="submit" class="btn" value="Cancel" ng-click="cancelTask()">
	    </div>
	</div>
</div>