<div class="panel panel-default dashboard-widget" ng-controller="PeopleWidgetCtrl">
    <div class="panel-heading">
          <i class="fa fa-users"></i> People
          <div class="pull-right  btn-group btn-group-sm dashboard-actions">
              <div class="styled-select">
                  <select class="btn-group-sm  form-control" ng-model="peopleFilter" ng-change="handlePeopleFilterChanged()">
                      <option value="" selected>Filter By Role</option>
                      <option ng-repeat="roleOption in rolesFilterOptions | orderBy:'title'" value="{{roleOption.resource}}" ng-selected="peopleFilter === roleOption.resource">{{roleOption.title}}</option>
                  </select>
              </div>
          </div>
    </div>
    <div class="panel-body">
        <div class="dashboard-box  three-rows">
            <div class="row-fluid">
                <div class="col-xs-4 col-sm-2 col-md-3 col-lg-2"
                     ng-repeat="person in availablePeople">
                    <a href="#{{person.resource}}"> <img alt="{{getPersonName(person)}}"
                                                         title="{{getPersonName(person)}}" ng-src="{{person.thumbnail}}"
                                                         err-src="\images\defaultProfileImg.png"  />
                    </a>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-xs-12 text-center">
                <br/>
                <button class="btn btn-default btn-md" ng-click="handleShowPeopleClick()">Show All <i class="fa fa-chevron-right"></i></button>
            </div>
        </div>
    </div>
</div>
