<div class="medium-grid-block medium-4 large-3">
    <div class="small-16 medium-16 vertical medium-grid-block" zf-panel id="main-menu" position="left">
        <ul class="main-menu block-list">
            <li class="menu-item" ng-repeat="menuItem in menuItems">
                <a ng-click="menuNavigate(menuItem)">
                    <i class="fa fa-fw" ng-class="menuItem.iconClass"></i> <span>{{menuItem.label}}</span>
                </a>
                <ul ng-if="menuItem.submenuItems.length" class="submenu submenu-{{$index}}" ng-show="menuItem.visible">
                    <li class="submenu-item" ng-repeat="submenuItem in menuItem.submenuItems">
                        <a ng-click="filterItems(submenuItem)">
                            <span>{{submenuItem.label}}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
