/* Copyright © 2015 PointSource, LLC. All rights reserved. */

#leftMenu {
    &.off-canvas {
        overflow: hidden;
    }
}

.main-menu-container {
    margin: 0;
    padding: 0;
    height: auto;
    .search-bar {
        background-color: darken($dark-color, 8);
    }

    .main-menu {
        margin: 0;
        padding: 0;
    }

    .menu-item {
        background-color: $dark-color;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.8rem;
        a {
            color: $gray-lightest;
            :hover {
                text-decoration: none;
            }
            :link {
                text-decoration: none;
            }
        }
        i {
            font-size: 1.5rem;
            vertical-align: middle;
            margin: 0 1rem 0 0;
        }
    }
    .submenu {
        position: absolute;
        top: -1px;
        left: 3.5rem;
        background-color: #000;
        padding: 0;
        margin: 0;
        list-style-type: none;
        height: auto;
        width: 100%;
        z-index: 10;
    }
}
