<div class="panel panel-default dashboard-widget" id="projectKickoffsWidget" ng-controller="VacationRequestsCtrl">
    <div class="panel-heading">
        Out of Office Requests
    </div>
    <div class="panel-body no-bottom-padding no-horizontal-padding-xs">
      <div class="padding-bottom-10">
        <h4 class="align-center" ng-show="requests.length > 0">
          <span class="color-yellow">
            <i class="fa fa-exclamation-circle"></i>
             {{getRequestsByStatus("Pending").length}} Pending request<span ng-hide="requests.length == 1">s</span>
          </span> awaiting your response.
        </h4>
        <h4 class="align-center" ng-hide="requests.length > 0">
          There are no Pending requests.
        </h4>
      </div>
      <div class="row vac-row no-horizontal-margin-xs" ng-repeat="request in requests" ng-show="request.status === 'Pending'">
        <div class="row no-horizontal-margin margin-bottom-md">
          <div class="col-xs-4 vac-first-col">{{getPersonName(request.person)}}</div>
          <div class="col-xs-4 vac-type no-horizontal-padding">{{getTypeText(request.type)}} <span class="color-gray-image-border">({{getDays(request.startDate, request.endDate)}})</span></div>
          <div class="col-xs-3 bold no-horizontal-padding" ng-class="{'assignment-green': request.status === 'Approved', 'assignment-red': request.status === 'Denied', 'color-yellow': request.status === 'Pending'}">
            <i class="fa fa-check" ng-show="request.status === 'Approved'"></i>
            <i class="fa fa-clock-o" ng-show="request.status === 'Pending'"></i>
            {{getStatusText(request.status)}}
          </div>
          <div class="col-xs-1 no-horizontal-padding">
            <i class="fa fa-chevron-down" ng-show="expandedIndex != $index" ng-click="expandRequest($index)"></i>
            <i class="fa fa-chevron-up" ng-show="expandedIndex == $index" ng-click="expandRequest($index)"></i>
          </div>
        </div>
        
        <div class="row col-xs-12 no-horizontal-margin" ng-show="expandedIndex == $index">
          <div class="row no-horizontal-margin">
            <i class="fa fa-calendar"></i> 
            {{displayDate(request.startDate)}} <!--<span ng-hide="isSameDay(request.startDate, request.endDate)">--> <span>- {{displayDate(request.endDate)}}</span>
          </div>
          <div class="row no-horizontal-margin color-gray-image-border italic margin-bottom-md">
            "{{request.description}}"
          </div>
          <div class="row no-margin vac-type margin-bottom-md" ng-show="peopleOutThisDay && peopleOutThisDay.length > 0">
            Other People out this period.
          </div>
          <div class="row no-horizontal-margin margin-bottom-md">
            <a ng-repeat-start="otherVacPerson in peopleOutThisDay" href="#{{otherVacPerson.about}}">{{getPersonName(otherVacPerson)}}</a>
            (<span class="smallDates" ng-repeat="period in otherVacPerson.periods">
              {{displayShortPeriod(period)}}
              <span class="smallDates" ng-hide="$index == otherVacPerson.periods.length - 1">|</span>
            </span>)
             <span ng-repeat-end ng-hide="$index == peopleOutThisDay.length - 1">,&nbsp;</span>
          </div>
          <div class="row no-horizontal-margin vac-type margin-bottom-md">
            <a href="#{{request.person.about}}">{{getPersonName(request.person, false, true)}}'s Projects</a> | 
            <a class="cursor-pointer" ng-click="getResourceFinderLink(request)">People available to cover</a>
          </div>
          <div class="row no-horizontal-margin color-gray-image-border margin-bottom-md">
            <input class="form-control" ng-model="request.comment" placeholder="Comment"/>
          </div>
          <div class="row no-horizontal-margin color-gray-image-border" ng-show="request.status != 'Cancelled'">
            <button class="btn btn-approve pull-right" ng-click="decide($index, true)">
              <i class="fa fa-check"></i> <span>APPROVE</span>
            </button>
            <button class="btn btn-deny pull-right" ng-click="decide($index, false)">
              <i class="fa fa-times"></i> <span>DENY</span>
            </button>
          </div>
          <div class="row no-horizontal-margin color-gray-image-border" ng-show="request.status == 'Cancelled'">
            <span>Cancellation reason: <i>{{request.cancellationReason}}</i></span>
            <button class="btn btn-deny pull-right" ng-click="deleteVacation($index)">
              <i class="fa fa-times"></i> <span>REMOVE</span>
            </button>
          </div>
        </div>
      </div>
    </div>
</div>