<div ng-controller="VacationsCtrl">
  <div class="panel panel-default dashboard-widget">
    <div class="panel-heading"> 
      <i class="fa fa-briefcase"></i> Vacations
      <div class="pull-right  btn-group btn-group-sm dashboard-actions">
        <a ng-click="requestHours()"><i class="fa fa-plus"></i> Request Hours</a>
      </div>
    </div>
    <div class="panel-body">
      <div class="row" style="margin-bottom: 0px;">
        <div class="col-xs-12" style="text-align: center; border-bottom: 1px solid #ededed; padding-bottom: 10px;">
          <h4>You have <strong style="color: black;">{{getVacationCapacity()}}</strong> days available for vacation</h4>
        </div>
      </div>
      <div class="row alert alert-danger" ng-show="errors.length > 0">
        <ul>
          <li ng-repeat="error in errors">{{error}}</li>
        </ul>
      </div>
      <div class="row" ng-show="requestNew">
        <div class="col-xs-12" style="margin-bottom: 10px; margin-top: 10px;">New Request</div>
        <div class="col-xs-4 col-sm-4">
          <input id="fromDate" name="fromDate" class=" form-control datepicker" type="text" placeholder="Start Date" ng-model="vacationStartDate" data-date-format="yyyy-mm-dd" data-provide="datepicker">
        </div>
        <div class="hidden-xs col-sm-1">
          <i class="fa fa-long-arrow-right fa-3x" style="color: #ededed;"></i>
        </div>
        <div class="col-xs-4 col-sm-4">
          <input id="toDate" name="toDate" class=" form-control datepicker" type="text" placeholder="End Date" ng-model="vacationEndDate" data-date-format="yyyy-mm-dd" ng-disabled="!vacationStartDate" data-date-start-date="{{vacationStartDate}}" data-provide="datepicker">
        </div>
        <div class="hidden-xs col-sm-1"></div>
        <div class="col-xs-4 col-sm-3"><input type="text" class="form-control" value="{{getNewRequestDays()}} Days" disabled/></div>
        <div class="col-xs-12" style="margin-top: 10px;">
          <input type="text" placeholder="Description" ng-model="newDescription" class="form-control"/>
        </div>
        <div class="col-xs-12" style="margin-top: 10px;">
          <button class="btn btn-default pull-right" ng-click="addVacation()">SUBMIT</button>
        </div>
      </div>
      
      <div class="row" ng-repeat="vacation in vacations" style="border-bottom: 1px solid #ededed; padding-top: 15px; margin-bottom: 0px;">
        <div class="row col-xs-12" ng-hide="editVacationIndex == $index">
          <div class="col-xs-4">{{displayDate(vacation.startDate)}} <span ng-hide="vacation.startDate === vacation.endDate">- {{displayDate(vacation.endDate)}}</span></div>
          <div class="col-xs-4">{{getDays(vacation.startDate, vacation.endDate)}}</div>
          <div class="col-xs-3">{{vacation.status}}</div>
          <div class="col-xs-1"><i class="fa fa-pencil cursor-pointer" ng-click="editVacation($index)"></i></div>
        </div>
        <div class="row col-xs-12" ng-show="editVacationIndex == $index">
          <div class="row col-xs-12" style="margin-left: 0px; margin-right: 0px; margin-bottom: 10px; padding-left: 0px; padding-left: 0px;">
            <div class="col-xs-8"><strong>Request</strong> submitted on {{vacation.created}}</div>
            <div class="col-xs-3">{{vacation.status}}</div>
            <div class="col-xs-1"><i class="fa fa-times cursor-pointer pull-right" ng-click="editVacation($index)"></i></div>
          </div>
          <div class="col-xs-4 col-sm-4">
            <input id="fromDate" name="fromDate" class=" form-control datepicker" type="text" placeholder="Start Date" ng-model="vacation.startDate" data-date-format="yyyy-mm-dd" data-provide="datepicker">
          </div>
          <div class="hidden-xs col-sm-1">
            <i class="fa fa-long-arrow-right fa-3x" style="color: #ededed;"></i>
          </div>
          <div class="col-xs-4 col-sm-4">
            <input id="toDate" name="toDate" class=" form-control datepicker" type="text" placeholder="End Date" ng-model="vacation.endDate" data-date-format="yyyy-mm-dd" data-provide="datepicker">
          </div>
          <div class="hidden-xs col-sm-1"></div>
          <div class="col-xs-4 col-sm-3"><input type="text" class="form-control" value="{{getDays(vacation.startDate, vacation.endDate)}}" disabled/></div>
          <div class="col-xs-12" style="margin-top: 10px;">
            <input type="text" placeholder="Description" ng-model="vacation.description" class="form-control"/>
          </div>
          <div class="col-xs-12" style="margin-top: 10px;">
            <button class="btn btn-default" ng-click="deleteVacation(vacation)" style="color: red; border: 1px solid red; background-color: white;">Cancel Request</button>
            <button class="btn btn-default pull-right" ng-click="updateVacation(vacation)">SAVE</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>