<!-- Table View -->
<div class="row people-list">
  <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 pull-right people-filter">
    <input class="form-control" placeholder="Filter People" ng-model="filterText" autofocus/>
  </div>
  <div class="col-xs-12">
    <div class="row people-header">
      <div class="col-xs-3 col-sm-5 col-md-5 person-header-name">
        <a class="header-name" ng-class="{ active: sortType=='name-asc' || sortType=='name-desc' }" ng-click="switchSort('name')">NAME</a>
        <div class="person-sorting">
          <button class="sorting-button"><i class="fa fa-caret-up" ng-class="{ 'active': sortType == 'name-asc'}" ng-click="changeSort('name-asc')"></i>
          </button>
          <button class="sorting-button"><i class="fa fa-caret-down" ng-class="{ 'active': sortType == 'name-desc'}" ng-click="changeSort('name-desc')"></i>
          </button>
        </div>
      </div>
      <div class="col-xs-3 col-sm-2 col-md-1 person-header" style="padding-right: 0px; padding-left: 0px;">
        <a class="header-name" ng-class="{ active: sortType=='role-asc' || sortType=='role-desc' }" ng-click="switchSort('role')">ROLE</a>
        <div class="person-sorting">
          <button class="sorting-button"><i class="fa fa-caret-up" ng-class="{ 'active': sortType == 'role-asc'}" ng-click="changeSort('role-asc')"></i>
          </button>
          <button class="sorting-button"><i class="fa fa-caret-down" ng-class="{ 'active': sortType == 'role-desc'}" ng-click="changeSort('role-desc')"></i>
          </button>
        </div>
      </div>
      <div class="col-xs-2 col-sm-3 col-md-4 person-header-name person-header-title">
        <a class="header-name" ng-class="{ active: sortType=='group-asc' || sortType=='group-desc' }" ng-click="switchSort('group')">TITLE</a>
        <div class="person-sorting">
          <button class="sorting-button"><i class="fa fa-caret-up" ng-class="{ 'active': sortType == 'group-asc'}" ng-click="changeSort('group-asc')"></i>
          </button>
          <button class="sorting-button"><i class="fa fa-caret-down" ng-class="{ 'active': sortType == 'group-desc'}" ng-click="changeSort('group-desc')"></i>
          </button>
        </div>
      </div>
      <div class="col-xs-4 col-sm-2 person-header" style="padding-right: 0px; padding-left: 0px;">
        <a class="header-name" ng-class="{ active: sortType=='rate-asc' || sortType=='rate-desc' }" ng-click="switchSort('rate')">UTILIZATION</a>
        <div class="person-sorting">
          <button class="sorting-button"><i class="fa fa-caret-up" ng-class="{ 'active': sortType == 'rate-asc'}" ng-click="changeSort('rate-asc')"></i>
          </button>
          <button class="sorting-button"><i class="fa fa-caret-down" ng-class="{ 'active': sortType == 'rate-desc'}" ng-click="changeSort('rate-desc')"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="row people-row" ng-repeat="person in people | filter:filterPerson(filterText)">
      <a class="col-xs-3 col-sm-2 person-image" href="#{{person.resource}}">
        <img class="fullProfileImage" ng-src="{{person.thumbnail}}" />
      </a>
      <div class="col-xs-9 col-sm-3 person-name">
        <a href="#{{person.resource}}">{{person.familyName}}, {{person.givenName}}</a>
      </div>
      <div class="col-xs-2 col-sm-1 people-prop person-prop">
        <div>
          <div>{{person.primaryRole.abbreviation}}</div>
        </div>
      </div>
      <div class="visible-xs col-xs-4 utilization-rate-xs pull-right">
        {{person.activePercentage}}<span class="percent">%</span>
      </div>
      <!--<div class="hidden-xs hidden-sm col-md-2 people-prop">{{person.group}}</div>-->
      <div class="col-xs-9 col-sm-4 person-title">
        <div>{{person.primaryRole.title}}</div>
      </div>
      <div class="hidden-xs col-sm-2 pull-right people-utilization-rate">
        {{person.activePercentage}}<span class="percent">%</span>
      </div>
      <!--<div class="col-xs-3 hidden-sm hidden-md hidden-lg people-prop">{{person.activePercentage}}%</div>-->
    </div>
  </div>
</div>