<div>
  <div class="row top-row">
    <div class="profile-actions pageActions" style="margin-top:0;">
      <button ng-hide="editMode" class="btn btn-default" ng-click="edit()">
        <span class="hidden-xs"><i class="fa fa-pencil-square-o"></i> Edit</span>
        <span class="visible-xs"><i class="fa fa-pencil-square-o"></i></span>
      </button>
      <button ng-show="editMode" class="btn btn-default" ng-click="cancel()">
        <span class="hidden-xs"><i class="fa fa-chevron-left"></i> Cancel</span>
        <span class="visible-xs"><i class="fa fa-chevron-left"></i></span>
      </button>
      <button ng-show="editMode" class="btn btn-default" ng-click="save()">
        <span class="hidden-xs"><i class="fa fa-floppy-o"></i> Save</span>
        <span class="visible-xs"><i class="fa fa-floppy-o"></i></span>
      </button>
    </div>

    <div class="col-xs-12">
      <div class="row padded-row">
        <div class="well">
          <div class="row person-detail">
          	<div class="spinner-container" ng-hide="hideProfileSpinner" style="width: calc(100% - 30px);">
	    		<i class="fa fa-spinner fa-spin fa-3x"></i>
    		</div>
    		
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-9">
              <div class="personPicColumn">
                <img class="media-object fullProfileImage" ng-src="{{profile.thumbnail}}" />
                <div class="verticalGreyLine" ng-show="gplusProfile.url"></div>
                <a ng-show="gplusProfile.url" class="googlePlusIcon" ng-href="{{gplusProfile.url}}"><span class="fa fa-google-plus"></span></a>
              </div>
            
              <div class="person-contact-info">
                <div class="personDetailName">{{getPersonName(profile, true)}}</div>
                <div ng-show="editMode">
                  <br/>
                  <label>Primary Role:</label>
                  <select class="form-control" ng-model="profile.primaryRole.resource" ng-options="m.resource as m.title for m in allRoles">
                  </select>
                </div>
                <div ng-hide="editMode">
                  <div class="sub-heading">{{getRoleName(profile.primaryRole.resource)}}</div>
                </div>

                <div class="col-lg-12 contact-fields">
                  <div class="row">
                    <div ng-hide="editMode" class="col-xs-12 col-md-10 col-lg-4 no-horizontal-padding padding-left-lg">
                      <label>Email</label>
                      <a ng-href="mailto:{{profile.mBox}}">{{profile.mBox}}</a>
                    </div>

                    <div ng-show="editMode" class="col-xs-12 col-md-10 col-lg-6">
                      <label for="profilePhone" class="personDetailLabel">Phone</label>
                      <input id="profilePhone" ng-model="profile.phone" class="form-control" type="phone" />
                    </div>
                    <div ng-hide="editMode" class="col-xs-12 col-md-10 col-lg-3 no-horizontal-padding">
                      <label class="personDetailLabel">Phone</label>
                      <a ng-if="profile.phone" ng-href="tel:{{profile.phone | tel}}">{{profile.phone | tel}}</a>
                    </div>
                    
                    <div ng-show="editMode" class="col-xs-12 col-md-10 col-lg-6">
                      <label for="profileSkype" class="personDetailLabel">Skype</label>
                      <input id="profileSkype" ng-model="profile.skypeId" class="form-control" type="text" />
                    </div>
                    <div ng-hide="editMode" class="col-xs-12 col-md-10 col-lg-2 no-horizontal-padding">
                      <label class="personDetailLabel">Skype Id</label>
                      <a ng-if="profile.skypeId" ng-href="skype:{{profile.skypeId}}?chat">{{profile.skypeId}}</a>
                    </div>

                    <div ng-show="editMode" class="col-xs-12 col-md-10 col-lg-6">
                      <label for="profileJazzHub" class="personDetailLabel">JazzHub Id</label>
                      <input id="profileJazzHub" ng-model="profile.jazzHubId" class="form-control" type="text" />
                    </div>
                    <div ng-hide="editMode" class="col-xs-12 col-md-10 col-lg-3 no-horizontal-padding-xs">
                      <label class="personDetailLabel">JazzHub</label>
                      <span>{{profile.jazzHubId}}</span>
                    </div>
                    
                    <div ng-show="editMode" class="col-xs-12 col-md-10 col-lg-3 part-time-container edit padding-top-10">
                      <input type="checkbox" name="profilePartTime" ng-model="profile.partTime"  />
                      <label for="profilePartTime" class="profilePartTimeLabel">Part time</label>
                      <input ng-model="profile.partTimeHours" ng-disabled="!profile.partTime" placeholder="h/w" type="number" class="form-control" />
                    </div>
                    <div ng-hide="editMode" class="col-xs-12 col-md-10 col-lg-3 part-time-container view no-left-padding-sm padding-top-10">
                      <label class="profilePartTimeLabel">Part time</label>
                      <span ng-show="profile.partTime">{{profile.partTimeHours}}h/w</span>
                      <span ng-show="!profile.partTime">NO</span>
                    </div>
                    
                    <div ng-show="canEditCapacity && editMode" class="col-xs-12 col-md-10 col-lg-3 edit padding-top-10">
                      <label for="profilePartTime" class="profilePartTimeLabel">Vacation entitlements</label>
                      <input ng-model="profile.vacationCapacity" placeholder="days" type="number" class="form-control" />
                    </div>
                    <div ng-if="canSeeCapacity" ng-hide="editMode" class="col-xs-12 col-md-10 col-lg-3 view no-left-padding-sm padding-top-10">
                      <label class="profilePartTimeLabel">Vacation entitlements</label>
                      <span>{{profile.vacationCapacity || 'Not Set'}} <span ng-show="profile.vacationCapacity">days</span></span>
                    </div>
                    
                    <div ng-show="canEditCapacity && editMode" class="col-xs-12 col-md-10 col-lg-6 edit padding-top-10">
                      <label for="profileManager" class="profilePartTimeLabel">Manager</label>
                      <select class="form-control" ng-model="profile.manager" ng-options="c as getPersonName(c) for c in managers| orderBy:'name.familyName'">
                        <!--<option selected value="" ng-if="!profile.manager">Select Manager</option>-->
                      </select>
                    </div>
                    <div ng-if="canSeeCapacity" ng-hide="editMode" class="col-xs-12 col-md-10 col-lg-3 view no-left-padding-sm padding-top-10">
                      <label class="profilePartTimeLabel">Manager</label>
                      <span>{{getPersonName(profile.manager, true) || "Not Selected"}}</span>
                    </div>
                    
                    <div ng-hide="!canSeeCapacity" class="col-xs-12 col-md-10 col-lg-3 padding-top-10">
                      <label class="profilePartTimeLabel">Is Active:</label>
                      <input type="checkbox" name="profileIsActive" ng-model="profile.isActive" ng-checked="profile.isActive == 'true'" ng-disabled="!editMode"/>
                    </div>
                    
                    <div ng-show="canEditCapacity && editMode" class="col-xs-12 col-md-10 col-lg-6 edit padding-top-10 pull-right">
                      
                      <select class="selectpicker select-user-groups form-control" multiple data-selected-text-format="count>3" ng-model="userSecurityGroups" ng-options="g.name for g in securityGroups">
                        <!--<option selected value="" ng-if="!profile.manager">Select Manager</option>-->
                      </select>
                    </div>
                    
                    <div ng-if="canSeeCapacity"  class="col-xs-12 col-md-6 col-lg-6 view no-left-padding-sm padding-top-10">
                      
                      <label for="profileManager" class="profilePartTimeLabel" style="margin-bottom: 10px;">{{getPersonName(profile, false, true)}} currently belongs to the following permissions groups:</label>
                      <span ng-show="userSecurityGroups.length == 0" style="margin-bottom: 10px;">No permissions groups assigned.</span>
                      <div ng-repeat="userRole in userSecurityGroups" class="user-security-role">
                        {{userRole.name}} <a ng-show="editMode" ng-click="removeUserRole($index)" class="cursor-pointer" style="color:white;"><i class="fa fa-times"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-3 profile-graph-container">
              <h3 class="profile-graph-header">Hours this week</h3>
              <div class="percentage-container">
                <div id="percentage-activeBorder" class="percentage-active-border">
                    <div id="percentage-circle" class="percentage-circle">
                      <h1 class="percentage-circle-week-hours">
                        {{totalWeekHours ? totalWeekHours : 0}}
                      </h1>
                      <h5 class="percentage-circle-week-hours-rate">of {{hoursRateValue}}</h5>
                    </div>
                  </div>
                </div>
              
              <h5 style="text-align: center;">
                <span style="font-weight: bold; font-size: 22px;">{{totalMonthHours ? totalMonthHours : 0}}</span> hrs logged this month
              </h5>
              <h5 style="text-align: center;">
                <span style="font-weight: bold; font-size: 22px;">{{hoursRateFromProjects ? hoursRateFromProjects : 0}}</span> % utilized
              </h5>
              <h5 style="text-align: center;">
                <span style="font-weight: bold; font-size: 22px;">{{activeProjectsCount ? activeProjectsCount : 0}}</span> active projects
              </h5>
              <!-- <label class="personDetailLabel">Accounts:</label>
              <span ng-show="!gplusProfile.url">None</span>
              <ul class="personDetailList">
                <li ng-show="gplusProfile.url"><a ng-href="{{gplusProfile.url}}">Google+</a>
                </li>
              </ul> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row padded-row">
    <ng-include src="'modules/widgets/hours/hoursEntry.html'" ng-init="mode='month'"></ng-include>
    
       <div class="row" ng-if="hasHours && showHoursMonthInfo">
        <div class="col-xs-12">
          
          <div class="row ">
            <div class="col-xs-12">
            	<div class="well">
	            	<div><h1>Projects</h1></div>
	            	<div>
			              <div ng-repeat="projectHour in projectHours">
			                <div class="row" ng-click="projectHour.collapsed=!projectHour.collapsed">
			                  <div class="col-xs-12" style="margin-bottom: 10px;">
			                    <span style="margin-right: 12px;" ng-if="!projectHour.collapsed"><i class="fa fa-caret-right" ng-show="projectHour"></i></span>
			                    <span style="margin-right: 12px;" ng-if="projectHour.collapsed"><i class="fa fa-caret-down" ng-show="projectHour"></i></span>
			                    <i class="{{projectHour.icon}}"></i>
			                    <span><a href="#/{{projectHour.project.about}}">{{projectHour.project ? projectHour.project.customerName + ": " 
			                    											      + projectHour.project.name : "Unknown"}}</a>&nbsp;&nbsp;----&nbsp;&nbsp;
			                    	  {{projectHour.totalHours}} Hours</span>
			                  </div>
			                </div>
			                <div ng-if="isEmptyForSelectedMonth(projectHour)" ng-show="projectHour.collapsed" class="alert alert-warning" style="margin-top: 10px; margin-bottom: 20px;">
			                  No hours logged found for selected month.
			                </div>
			                <div class="col-xs-12" ng-show="projectHour.collapsed" ng-if="!isEmptyForSelectedMonth(projectHour)" style="font-weight: bold; border-bottom: 2px solid #dddddd; margin-bottom: 10px; height: auto;">
			                  <div class="col-xs-4 col-md-2 col-lg-2">
			                    Date
			                    <div class="visible-xs">
			                      Description
			                    </div>
			                  </div>
			                  <div class="col-xs-4 col-md-2 col-lg-2">
			                    Hours
			                  </div>
			                  <div class="col-md-3 col-lg-3 hidden-xs">
			                    Description
			                  </div>
			                </div>
			                <div ng-repeat="hoursRecord in projectHour.hours" ng-show="projectHour.collapsed" ng-if="hoursRecord.show">
			                  <div class="cos-xs-12">
			                    <div class="row" style="border-bottom: 1px solid #dddddd; margin: 0px;">
			                      <div class="col-xs-4 col-md-2 col-lg-2">
			                        <span class="hidden-xs">{{hoursRecord.hour.date | date}}</span>
			                        <span class="visible-xs">{{hoursRecord.hour.date | date:'shortDate'}}</span>
			                      </div>
			                      <div class="col-xs-4 visible-xs">
			                        {{hoursRecord.hour.task.name || 'No Task'}}
			                      </div>
			                      <div class="col-xs-2 col-md-2 col-lg-2">
			                        {{hoursRecord.hour.hours}}
			                      </div>
			                      
			                      <div class="col-xs-9 col-md-3 col-lg-3">
			                        {{hoursRecord.hour.description}}
			                      </div>
			                      
			                    </div>
			                  </div>
			                </div>
			              </div>
	              </div>
	              	
	              	<div><h1>Tasks</h1></div>
	              	
	              	<div >
		              <div ng-repeat="taskHour in taskHours" >
		                <div class="row" ng-click="taskHour.collapsed=!taskHour.collapsed">
		                  <div class="col-xs-12" style="margin-bottom: 10px;">
		                    <span style="margin-right: 12px;" ng-if="!taskHour.collapsed"><i class="fa fa-caret-right" ng-show="taskHour"></i></span>
		                    <span style="margin-right: 12px;" ng-if="taskHour.collapsed"><i class="fa fa-caret-down" ng-show="taskHour"></i></span>
		                    <i class="{taskHour.icon}}"></i>
		                    <span><a href="#/{{taskHour.about}}">{{taskHour.name ? taskHour.name : "Unknown"}}</a>&nbsp;&nbsp;----&nbsp;&nbsp;
		                   		   {{taskHour.totalHours}} Hours</span>
		                  </div>
		                </div>
		                <div ng-if="isEmptyForSelectedMonth(taskHour)" ng-show="taskHour.collapsed" class="alert alert-warning" style="margin-top: 10px; margin-bottom: 0px;">
		                  No hours logged found for selected month.
		                </div>
		                <div class="col-xs-12" ng-show="taskHour.collapsed" ng-if="!isEmptyForSelectedMonth(taskHour)" style="font-weight: bold; border-bottom: 2px solid #dddddd; margin-bottom: 10px; height: auto;">
		                  <div class="col-xs-4 col-md-2 col-lg-2">
		                    Date
		                    <div class="visible-xs">
		                      Description
		                    </div>
		                  </div>
		                  <div class="col-xs-4 col-md-2 col-lg-2">
		                    Hours
		                  </div>
		                  <div class="col-md-3 col-lg-3 hidden-xs">
		                    Description
		                  </div>
		                </div>
		                <div ng-repeat="hoursRecord in taskHour.hours" ng-show="taskHour.collapsed" ng-if="hoursRecord.show">
		                  <div class="cos-xs-12">
		                    <div class="row" style="border-bottom: 1px solid #dddddd; margin: 0px;">
		                      <div class="col-xs-4 col-md-2 col-lg-2">
		                        <span class="hidden-xs">{{hoursRecord.hour.date | date}}</span><span class="visible-xs">{{hoursRecord.hour.date | date:'shortDate'}}</span>
		                      </div>
		                      <div class="col-xs-4 visible-xs">
		                        {{hoursRecord.hour.task.name || 'No Task'}}
		                      </div>
		                      <div class="col-xs-2 col-md-2 col-lg-2">
		                        {{hoursRecord.hour.hours}}
		                      </div>
		                      <div class="col-xs-2 visible-xs">
		                        <button class="btn btn-default pull-right" ng-click="deleteHours(hoursRecord.hour)">
		                          <i class="fa fa-trash-o"></i>
		                        </button>
		                      </div>
		                      <div class="col-xs-9 col-md-3 col-lg-3">
		                        {{hoursRecord.hour.description}}
		                      </div>
		                      <div class="col-md-5 col-lg-5 hidden-xs">
		                        <button class="btn btn-default pull-right" ng-click="deleteHours(hoursRecord.hour)">
		                          <i class="fa fa-trash-o"></i>
		                        </button>
		                      </div>
		                    </div>
		                  </div>
		                </div>
		              </div>
	
					</div>
            
            	</div>
            </div>
          </div>
        </div>
      </div>
    <!-- end
    	-->
    
  </div>
  <div class="row padded-row">
    <div ng-hide="editMode" class="well col-xs-12">
      
<!--
        <div ng-show="isExec" class="col-xs-12">
          <span ng-show="projects.length === 0">No current projects found.</span>
          <table>
            <tr ng-repeat="project in projects">
              <td data-title="'Project'">
                <a href="#{{project.resource}}"><i class="{{projectStateIcon(project)}}"></i> {{project.name}}: {{project.name}}</a>
              </td>
            </tr>
          </table>
        </div>
-->
<!--        <div ng-hide="isExec" class="col-xs-12">-->
        
      <div class="row">
        <div class="col-xs-12">
          <h3>My Projects</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <span ng-hide="hasAssignments">No current projects found.</span>
          <table class="table">
            <tr ng-show="isExec && execProjects.length !== 0" ng-repeat="execProject in execProjects">
              <td data-title="'Project'">
                <a href="#{{execProject.resource}}"><i class="{{projectStateIcon(execProject)}}"></i> {{execProject.name}}: {{execProject.customerName}}</a>
                 - (Executive Sponsor)
              </td>
              <td data-title="'Percentage'">
                &nbsp;
              </td>
              <td data-title="'Start Date'" sortable="'startDate'" class="hidden-xs" header-class="hidden-xs">
                <small>{{execProject.startDate | date:'longDate'}}</small>
              </td>
              <td data-title="'End Date'" sortable="'endDate'" class="hidden-xs" header-class="hidden-xs">
                <span ng-show="execProject.endDate">
                  <small>{{execProject.endDate | date:'longDate'}}</small>
                </span>
                <span ng-hide="execProject.endDate">N/A</span>
              </td>
              <td data-title="'Dates'" sortable="'startDate'" class="visible-xs" header-class="visible-xs">
                <small>{{execProject.startDate | date:'shortDate'}}</small>  <span ng-show="execProject.endDate"> -
                <small>{{execProject.endDate | date:'shortDate'}}</small></span>  <span ng-hide="execProject.endDate"> - N/A</span>
              </td>
            </tr>
            <tr ng-repeat="assignment in assignments" ng-show="hasAssignments">
              <td data-title="'Project'">
                <a href="#{{assignment.project.resource}}"><i class="{{projectStateIcon(assignment.project)}}"></i> {{assignment.project.name}}: {{assignment.project.customerName}}</a>
                <!-- <div ng-repeat="role in project.roles" ng-show="profile.about == role.assignee.resource">
                  <span  class="visible-xs">{{getRoleName(role.type.resource)}}</spam>
                </div> -->
              </td>
              <!-- <td data-title="'Role'" class="hidden-xs" header-class="hidden-xs">
                {{getRoleName(project.user.type.resource)}}
              </td> -->
              <td data-title="'Percentage'">
                {{assignment.percentage}}%
              </td>
              <td data-title="'Start Date'" sortable="'startDate'" class="hidden-xs" header-class="hidden-xs">
                <small>{{assignment.startDate | date:'longDate'}}</small>
              </td>
              <td data-title="'End Date'" sortable="'endDate'" class="hidden-xs" header-class="hidden-xs">
                <span ng-show="assignment.endDate">
                  <small>{{assignment.endDate | date:'longDate'}}</small>
                </span>
                <span ng-hide="assignment.endDate">N/A</span>
              </td>
              <td data-title="'Dates'" sortable="'startDate'" class="visible-xs" header-class="visible-xs">
                <small>{{assignment.startDate | date:'shortDate'}}</small>  <span ng-show="assignment.endDate"> -
                <small>{{assignment.endDate | date:'shortDate'}}</small></span>  <span ng-hide="assignment.endDate"> - N/A</span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row padded-row">
    <div class="col-xs-12 col-sm-6 expenses">
      <div class="well">
        <div class="row">
          <div class="col-xs-12">
            <h3>Expenses</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 vacations">
        <div class="row">
          <div class="col-xs-12">
            <ng-include src="'modules/widgets/vacations/vacations.html'"></ng-include>
          </div>
        </div>
    </div>
  </div>
</div>
<!-- <div>
  <div class="row">
    <div class="col-xs-9">
      <h3>Proficiencies</h3>
    </div>
    <div class="col-xs-3 pageActions" ng-show="editMode">
      <button type="button" class="btn btn-default pull-right" data-toggle="collapse" data-target="#newSkillDialog">
          <i class="fa fa-plus-square"></i> <span>Add Proficiency</span>
      </button>
    </div>
  </div>
  <section id="newSkillDialog" class="well collapse out" ng-show="editMode">
   <div class="row">
       <div class="col-xs-12 col-sm-4 form-group">
           <label for="skill">Proficiency:</label>
           <select id="skillSelect" class="col-xs-12 form-control" ng-model="newSkill.type.resource"
                   ng-options="m.resource as m.title for m in skillTypes">
           </select>
       </div>
    </div>
    <div class="row">
           <div class="col-xs-12">
               <input type="submit" ng-disabled="!newSkill.type.resource" class="btn" value="Add" ng-click="addSkill()"/>
               <input type="submit" class="btn" value="Cancel" ng-click="cancelAddSkill()"/>
           </div>
       </div>
  </section>
  <div class="row">
    <div class="col-xs-12">
      <table ng-table="skillsParams" class="table">
         <thead>
                <tr>
                  <th>Title</th>
                  <th>Level</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
        <tr ng-repeat="skill in $data">
          <td>{{getSkillsName(skill.type.resource)}}</td>
          <td ng-hide="editMode">{{getSkillProficiencyLabel(skill.proficiency)}}</td>
          <td ng-show="editMode">
            <select ng-model="skill.proficiency">
              <option value="1">Some</option>
              <option value="2">Moderate</option>
              <option value="3">Mastered</option>
                    </select>
                </td>
          <td ng-show="editMode"><button class="btn btn-default" ng-click="removeSkill(skill)"><i class="fa fa-trash-o"></i></button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> -->