<div>
    <div class="spinner-container" ng-hide="hideProfileSpinner" style="width: calc(100% - 30px);">
        <i class="fa fa-spinner fa-spin fa-3x"></i>
    </div>
    <div class="row top-row">
        <ng-include src="'modules/people/partials/profile.html'"></ng-include>
    </div>
    <div class="row padded-row" ng-hide="editMode">
        <ng-include src="'modules/people/partials/hours.html'"></ng-include>
    </div>
    <div class="row padded-row" ng-hide="editMode">
        <ng-include src="'modules/people/partials/projects.html'"></ng-include>
    </div>
    <div class="row padded-row" ng-hide="editMode">
        <div class="col-xs-12 col-sm-6 expenses">
            <div class="well">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>Expenses</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 vacations">
            <div class="row">
                <div class="col-xs-12">
                    <ng-include src="'modules/widgets/vacations/vacations.html'"></ng-include>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div>
  <div class="row">
    <div class="col-xs-9">
      <h3>Proficiencies</h3>
    </div>
    <div class="col-xs-3 pageActions" ng-show="editMode">
      <button type="button" class="btn btn-default pull-right" data-toggle="collapse" data-target="#newSkillDialog">
          <i class="fa fa-plus-square"></i> <span>Add Proficiency</span>
      </button>
    </div>
  </div>
  <section id="newSkillDialog" class="well collapse out" ng-show="editMode">
   <div class="row">
       <div class="col-xs-12 col-sm-4 form-group">
           <label for="skill">Proficiency:</label>
           <select id="skillSelect" class="col-xs-12 form-control" ng-model="newSkill.type.resource"
                   ng-options="m.resource as m.title for m in skillTypes">
           </select>
       </div>
    </div>
    <div class="row">
           <div class="col-xs-12">
               <input type="submit" ng-disabled="!newSkill.type.resource" class="btn" value="Add" ng-click="addSkill()"/>
               <input type="submit" class="btn" value="Cancel" ng-click="cancelAddSkill()"/>
           </div>
       </div>
  </section>
  <div class="row">
    <div class="col-xs-12">
      <table ng-table="skillsParams" class="table">
         <thead>
                <tr>
                  <th>Title</th>
                  <th>Level</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
        <tr ng-repeat="skill in $data">
          <td>{{getSkillsName(skill.type.resource)}}</td>
          <td ng-hide="editMode">{{getSkillProficiencyLabel(skill.proficiency)}}</td>
          <td ng-show="editMode">
            <select ng-model="skill.proficiency">
              <option value="1">Some</option>
              <option value="2">Moderate</option>
              <option value="3">Mastered</option>
                    </select>
                </td>
          <td ng-show="editMode"><button class="btn btn-default" ng-click="removeSkill(skill)"><i class="fa fa-trash-o"></i></button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> -->