<div class="row people-list" style="padding-top: 0px;">
    <div class="col-xs-12">
        <div class="row people-header">
            <div class="col-xs-8 col-sm-4 col-md-5">
              <a class="header-name" ng-class="{ 'active': sortType == 'proj-asc' || sortType == 'proj-desc'}" ng-click="switchSort('proj')">PROJECT</a>
              <div class="person-sorting">
                  <button class="sorting-button"><i class="fa fa-chevron-up" ng-class="{ 'active': sortType == 'proj-asc'}" ng-click="changeSort('proj-asc')"></i></button>
                  <button class="sorting-button"><i class="fa fa-chevron-down" ng-class="{ 'active': sortType == 'proj-desc'}"  ng-click="changeSort('proj-desc')"></i></button>
              </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-3" style="padding: 0;">
              <a class="header-name" ng-class="{ 'active': sortType == 'cust-asc' || sortType == 'cust-desc'}" ng-click="switchSort('cust')">CLIENT</a>
              <div class="person-sorting">
                  <button class="sorting-button"><i class="fa fa-chevron-up" ng-class="{ 'active': sortType == 'cust-asc'}" ng-click="changeSort('cust-asc')"></i></button>
                  <button class="sorting-button"><i class="fa fa-chevron-down" ng-class="{ 'active': sortType == 'cust-desc'}" ng-click="changeSort('cust-desc')"></i></button>
              </div>
            </div>
            <div class="col-xs-8 col-sm-3 col-md-3 people-header-dates">
              <a class="header-name" ng-class="{ 'active': sortType == 'sd-asc' || sortType == 'sd-desc'}" ng-click="switchSort('sd')">START DATE</a>
              <div class="person-sorting">
                  <button class="sorting-button"><i class="fa fa-chevron-up" ng-class="{ 'active': sortType == 'sd-asc'}" ng-click="changeSort('sd-asc')"></i></button>
                  <button class="sorting-button"><i class="fa fa-chevron-down" ng-class="{ 'active': sortType == 'sd-desc'}" ng-click="changeSort('sd-desc')"></i></button>
              </div>
              <a class="header-name" ng-class="{ 'active': sortType == 'ed-asc' || sortType == 'ed-desc'}" ng-click="switchSort('ed')">END DATE</a>
              <div class="person-sorting">
                  <button class="sorting-button"><i class="fa fa-chevron-up" ng-class="{ 'active': sortType == 'ed-asc'}" ng-click="changeSort('ed-asc')"></i></button>
                  <button class="sorting-button"><i class="fa fa-chevron-down" ng-class="{ 'active': sortType == 'ed-desc'}" ng-click="changeSort('ed-desc')"></i></button>
              </div>
            </div>
            <div class="col-xs-4 col-sm-1 col-md-1 people-header-status">
              <a class="header-name" ng-class="{ 'active': sortType == 'stat-asc' || sortType == 'stat-desc'}" ng-click="switchSort('stat')">STATUS</a>
              <div class="person-sorting">
                  <button class="sorting-button"><i class="fa fa-chevron-up" ng-class="{ 'active': sortType == 'stat-asc'}" ng-click="changeSort('stat-asc')"></i></button>
                  <button class="sorting-button"><i class="fa fa-chevron-down" ng-class="{ 'active': sortType == 'stat-desc'}" ng-click="changeSort('stat-desc')"></i></button>
              </div>
            </div>
        </div>
      
        <div class="row item-row project-row" ng-repeat="project in projects | filter:filterText" style="margin-top: 10px; margin-bottom: 0px;">
            <div class="col-xs-12 col-sm-4 col-md-5 item-prop project-row-name">
                <a href="#{{project.resource}}">{{project.name}}</a>
            </div>
            <!--  <div class="visible-xs visible-sm col-xs-5">
                <a href="#{{project.resource}}">{{project.name}}</a>
            </div>-->
            
            <div class="col-xs-12 col-sm-4 col-md-3 item-prop project-row-cust">
                <span>{{project.customerName ? project.customerName : 'No customer'}}</span>
            </div>
            <!--<div class="visible-xs visible-sm col-xs-5">
                {{project.customerName ? project.customerName : 'No customer'}}
            </div>-->
            
            <div class="visible-sm col-sm-4 project-icon-container" style="background-color: #ace8e0">
                <div class="row visible-sm">
                  <div class="col-sm-12">
                    <i class="{{projectStateIcon(project)}} fa-4x pull-right"></i>
                  </div>
                </div>
                <div class="row visible-sm">
                    <div class="col-sm-12 item-prop project-row-dates">
                        <span>{{project.startDate | date}} <i class="fa fa-long-arrow-right"></i> {{project.endDate | date}}</span>
                    </div>
                </div>
                <i class="{{projectStateIcon(project)}} hidden-sm fa-4x pull-right"></i>
            </div>
            
            <div class="col-xs-9 hidden-sm col-md-3 item-prop project-row-dates">
                <span>{{project.startDate | date}} <i class="fa fa-long-arrow-right"></i> {{project.endDate | date}}</span>
            </div>
            <!--  <div class="visible-xs visible-sm col-xs-12">
                {{project.startDate | date}} <i class="fa fa-long-arrow-right"></i> {{project.endDate | date}}
            </div>-->
           
            
            <div class="hidden-sm col-xs-3 col-md-1 project-icon-container">
                <i class="{{projectStateIcon(project)}} fa-4x"></i>
            </div>
            <!--<div class="visible-xs visible-sm col-xs-2">
                <i class="{{projectStateIcon(project)}}"></i>
            </div> -->
            
            <!--  <div class="hidden-xs hidden-sm col-md-3 item-prop-big">
                {{project.state}}
            </div>
            <div class="visible-xs visible-sm col-xs-4">
                {{project.state}}
            </div>-->
        </div>
    </div>
</div>