<div class="row people-list">
    <div class="col-xs-12">
        <div class="row content-header-gray people-header">
            <div class="col-md-1">
            </div>
            <div class="col-md-2 person-header-name">Project</div>
            <div class="col-md-1 person-sorting">
                <button class="sorting-button"><i class="fa fa-chevron-up" ng-class="{ 'active': sortType == 'proj-asc'}" ng-click="changeSort('proj-asc')"></i></button>
                <button class="sorting-button"><i class="fa fa-chevron-down" ng-class="{ 'active': sortType == 'proj-desc'}"  ng-click="changeSort('proj-desc')"></i></button>
            </div>
            <div class="col-md-1 person-header">Client</div>
            <div class="col-md-1 person-sorting">
                <button class="sorting-button"><i class="fa fa-chevron-up" ng-class="{ 'active': sortType == 'cust-asc'}" ng-click="changeSort('cust-asc')"></i></button>
                <button class="sorting-button"><i class="fa fa-chevron-down" ng-class="{ 'active': sortType == 'cust-desc'}" ng-click="changeSort('cust-desc')"></i></button>
            </div>
            <div class="col-md-1 person-header">Start Date</div>
            <div class="col-md-1 person-sorting">
                <button class="sorting-button"><i class="fa fa-chevron-up" ng-class="{ 'active': sortType == 'sd-asc'}" ng-click="changeSort('sd-asc')"></i></button>
                <button class="sorting-button"><i class="fa fa-chevron-down" ng-class="{ 'active': sortType == 'sd-desc'}" ng-click="changeSort('sd-desc')"></i></button>
            </div>
            <div class="col-md-1 person-header">End Date</div>
            <div class="col-md-1 person-sorting">
                <button class="sorting-button"><i class="fa fa-chevron-up" ng-class="{ 'active': sortType == 'ed-asc'}" ng-click="changeSort('ed-asc')"></i></button>
                <button class="sorting-button"><i class="fa fa-chevron-down" ng-class="{ 'active': sortType == 'ed-desc'}" ng-click="changeSort('ed-desc')"></i></button>
            </div>
            <div class="col-md-1">Status</div>
            <div class="col-md-1 person-sorting">
                <button class="sorting-button"><i class="fa fa-chevron-up" ng-class="{ 'active': sortType == 'stat-asc'}" ng-click="changeSort('stat-asc')"></i></button>
                <button class="sorting-button"><i class="fa fa-chevron-down" ng-class="{ 'active': sortType == 'stat-desc'}" ng-click="changeSort('stat-desc')"></i></button>
            </div>
        </div>

        <div class="row people-row" ng-repeat="project in projects | filter:filterText" style="padding-top: 0px; padding-bottom: 0px;">
            <div class="col-md-1 project-icon-container">
                <i class="{{projectStateIcon(project)}} fa-3x"></i>
            </div>
            <div class="col-md-3 project-prop">
                <a href="#{{project.resource}}">{{project.name}}</a>
            </div>
            <div class="col-md-2 project-prop">
                {{project.customerName}}
            </div>
            <div class="col-md-2 project-prop">
                {{project.startDate | date}}
            </div>
            <div class="col-md-2 project-prop">
                {{project.endDate | date}}
            </div>
            <div class="col-md-2 people-utilization-rate">
                {{projectState(project)}}
            </div>
        </div>
    </div>
</div>