<div ng-form="projectForm" ng-class="{'submitted project-form': submitAttempted, 'project-form': !submitAttempted}">
	<!--<div class="row">
		<div class="col-xs-10 col-sm-9 col-lg-10"><h2>{{ title }} <span class="badge badge-important">{{messages.length}}</span></h2></div>
    	<div class="col-xs-2 col-sm-3 col-lg-2"><h3 class="pull-right"><i class="{{projectStateIcon(project)}}"></i> <span class="hidden-xs">{{projectState(project)}}</span></h3></div>
    </div>-->
    <div class="row" style="padding-top: 15px;">
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-5">
            <div class="btn-group tab-buttons">
                <button class="btn project-button" ng-class="{'active-tab': activeTab['/summary']}" ng-click="tabSelected('/summary')">Summary</button>
                <button class="btn project-button" ng-class="{'active-tab': activeTab['/assignments']}" ng-click="tabSelected('/assignments')">Assignments</button>
                <button class="btn project-button" ng-class="{'active-tab': activeTab['/hours']}" ng-click="tabSelected('/hours')">Hours</button>
                <button class="btn project-button" ng-class="{'active-tab': activeTab['/links']}" ng-click="tabSelected('/links')">Links</button>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-7">
            <table class="pull-right">
                    <tr>
                        <td>
                            <button ng-hide="editMode || !canEdit()" class="btn project-button edit-button" ng-click="edit()">
                                <i class="fa fa-pencil fa-2x"></i>
                            </button>
                        </td>
                        <td style="padding-left: 10px;"><button class="btn project-button print-button"><i class="fa fa-print fa-2x"></i></button></td>
                        <td style="padding-left: 10px;"><input type="text" class="form-control pull-right" placeholder="search page"/></td>
                    </tr>
                </table>
        </div>
                 
    </div>
    <div id="messages" class="row alert alert-danger" ng-show="messages.length > 0">
       <!--  <a class="close" data-dismiss="alert">&times;</a> -->
        <ul>
            <li ng-repeat="message in messages">{{message}}</li>
        </ul>
    </div>
    <!--<div class="row tab-header">
        <div class="col-xs-12 col-sm-6">
            <h3 class="zero-margin">{{title}}</h3>
            <h6 class="zero-margin">{{project.customerName || 'No Customer'}}</h6>
        </div>
        <div class="hidden-xs hidden-sm hidden-md col-lg-3"></div>
        <div class="hidden-xs hidden-sm col-md-5 col-lg-4">
                  <table class="pull-right">
                    <tr>
                        <td>
                            <button ng-hide="editMode || !canEdit()" class="btn" ng-click="edit()">
                                Edit
                            </button>
                        </td>
                        <td style="padding-left: 10px;"><button class="btn">Print</button></td>
                        <td style="padding-left: 10px;"><input type="text" class="form-control pull-right" placeholder="search page"/></td>
                    </tr>
                </table>
        </div>
        <div class="col-xs-12 col-sm-12 hidden-md hidden-lg" style="margin-top: 10px;">
            <table class="pull-right">
                    <tr>
                        <td><button class="btn">Edit</button></td>
                        <td style="padding-left: 10px;"><button class="btn">Print</button></td>
                        <td style="padding-left: 10px;"><input type="text" class="form-control pull-right" placeholder="search page"/></td>
                    </tr>
            </table>
        </div>
    </div>-->

    <div class="row tab-content" >
        <div ng-show="projectLoaded && activeTab['/summary']">
             <ng-include src="'modules/projects/views/show/summary.html'"></ng-include>
        </div>
        <div ng-show="projectLoaded && activeTab['/assignments']">
             <ng-include src="'modules/projects/views/show/assignments.html'"></ng-include>
        </div>
        <div ng-show="projectLoaded && activeTab['/hours']">
             <ng-include src="'modules/projects/views/show/hours.html'"></ng-include>
        </div>
        <div ng-show="projectLoaded && activeTab['/links']">
             <ng-include src="'modules/projects/views/show/links.html'"></ng-include>
        </div>
    </div>
</div>