<div ng-controller="AssignmentsCtrl">
  
  <!-- button ng-click="roleTableParams.reload()" class="btn btn-default">Reload</button-->
  	<div class="row">
		<h3 class="col-xs-8">
	       	Assignments
	    </h3>
	    <div class="actions col-xs-4 pageActions">
	    	<button ng-hide="editMode" class="btn" ng-click="edit()"><i class="fa fa-pencil-square-o"></i> <span>Edit</span></button>
	 	</div>   	
    </div>
    <div class="row">
    	<div id="messages" class="alert alert-danger" ng-show="assignmentsErrorMessages.length > 0">
	      
	        
	         <ul>
	            <li ng-repeat="message in assignmentsErrorMessages">{{message}}</li>
	        </ul>
	    </div>
    
        <div class="col-xs-12">
            <table class="table" ng-table="roleTableParams" template-pagination="custom/pager">
              <thead>
                <tr>
                  
                  <th class="hidden-xs">Role</th>
                  <th>Hours</th>
                  <th class="hidden-xs">Start Date</th>
                  <th class="hidden-xs">End Date</th>
                  <th class="visible-xs">Dates</th>
                  <th></th>
                </tr>
              </thead>
              <tbody ng-repeat="role in $data">
                <tr>
                    <td>
                        <span>{{roleGroups[role.type.resource].abbreviation}}</span>
                    </td>
                    <!-- <td class="hidden-xs">{{roleGroups[role.type.resource].abbreviation}}</td> -->
                    <td class="visible-xs">
                      <span ng-show="role.rate.isFullyUtilized()">100%</span>
                      <span ng-hide="role.rate.isFullyUtilized()">{{role.rate.hoursPerMonth()}}/M</span>
                    </td>
                    <td class="hidden-xs">
                    	<span>{{displayHours(role)}}</span>
                    </td>
                    <td class="hidden-xs">{{role.startDate | date:'longDate'}}</td>
                    <td class="hidden-xs">{{role.endDate | date:'longDate'}}</td>
                    <td class="visible-xs">
                      <small>{{role.startDate | date:'shortDate'}}</small>
                      <span ng-show="role.endDate">-<br><small>{{role.endDate | date:'shortDate'}}</small></span>
                      <span ng-hide="role.endDate">- N/A</span>
                    </td>
                    <td class="actionsCell">
                    	
                    </td>
                </tr>
                
	             <tr ng-show="editMode" ng-if="editMode">
	             	<td colspan="5">
	             		<div ng-form="newPersonToRoleForm{{$index}}" id="editPersonToRoleDialog{{$index}}" class="well">
						    <ng-include src="'views/projects/show/roleAssign.html'"/>
						</div>
	             	</td>
	             </tr>
	             <tr ng-show="!editMode" ng-if="!editMode">
	             	<td colspan="5">
	             		<div ng-form="newPersonToRoleForm{{$index}}" id="editPersonToRoleDialog{{$index}}" class="well">
						    <ng-include src="'views/projects/show/roleAssignView.html'"/>
						</div>
	             	</td>
	             </tr>
              </tbody>
            </table>
            <script type="text/ng-template" id="custom/pager">
                <ul class="pager ng-cloak">
                    <li ng-repeat="page in pages"
                            ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                            ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
                        <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
                        <a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
                    </li>
                    <li>
                        <div class="btn-group" ng-show="page.type == 'prev' || page.type == 'next'">
                            <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                            <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                            <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                            <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
                        </div>
                    </li>
                </ul>
            </script>
        </div>
    </div>
    
    <div class="row" ng-show="editMode" ng-if="editMode">
		<div class="col-xs-12">
			<input type="submit" class="btn" value="Save" ng-click="saveAssignment()" />
			<input type="submit" class="btn" value="Cancel" ng-click="cancelAssignment()"/>
		</div>
	</div>
</div>