<div class="assignments-tab" ng-controller="AssignmentsCtrl">

  	  <div class="row hidden-xs">
     	<div class="col-sm-4 col-md-4 col-lg-3" style="padding-top:15px;" >
            <h4>
            	<span>{{project.startDate | date}}</span><span> - {{project.endDate? project.endDate:'?'| date}}</span>
            </h4> 
        </div>
        <div class="col-sm-5 col-md-4 col-lg-6" style="padding-top:15px;">
           <select name="assignmentsFilter" id="assignmentsFilter" ng-show="!editMode" class="form-control"
				ng-model="selectedAssignmentsFilter" ng-change="handleAssignmentsFilterChanged()"
				ng-required="true"
				ng-options="f.value as f.name for f in assignmentsFilters | orderBy:'name'">
			</select>
        </div>
	   
	    <div class="actions col-sm-3 col-md-4 col-lg-3 pageActions">
	    	<button ng-hide="editMode || !adminAccess" class="btn" ng-click="edit()"><i class="fa fa-pencil-square-o"></i> <span>Edit</span></button>
	    	<button ng-hide="!editMode" class="btn" ng-click="cancelAssignment()"><i class="fa fa-chevron-left"></i><span>Cancel</span></button>
      		<button ng-hide="!editMode" class="btn" ng-click="saveAssignment()"><i class="fa fa-floppy-o"></i><span>Save</span></button>
	 	</div> 
	 </div>
	<div class="row visible-xs">
		<div class="col-xs-8" style="padding-top:15px;" >
            <h4>
            	<span>{{project.startDate | date}}</span><span> - {{project.endDate? project.endDate:'?'| date}}</span>
            </h4> 
        </div>
	 	<div class="actions col-xs-4 pageActions">
	 		<button ng-hide="editMode || !adminAccess" class="btn" ng-click="edit()"><i class="fa fa-pencil-square-o"></i></button>
	 		<button ng-hide="!editMode" class="btn" ng-click="cancelAssignment()"><i class="fa fa-chevron-left"></i></button>
      		<button ng-hide="!editMode" class="btn" ng-click="saveAssignment()"><i class="fa fa-floppy-o"></i></button>
	 	</div>  	
	 	<div ng-show="!editMode" class="col-xs-12" style="padding-top:15px;">
           <select name="assignmentsFilter" id="assignmentsFilter"  class="form-control"
				ng-model="selectedAssignmentsFilter" ng-change="handleAssignmentsFilterChanged()"
				ng-required="true"
				ng-options="f.value as f.name for f in assignmentsFilters | orderBy:'name'">
			</select>
        </div>
    </div>
    
    
    <div class="row">
    	<div id="messages" class="alert alert-danger" ng-show="assignmentsErrorMessages.length > 0">
	         <ul>
	            <li ng-repeat="message in assignmentsErrorMessages">{{message}}</li>
	        </ul>
	    </div>
    
        <div class="col-xs-12">
            <table class="table peopleList" ng-table="roleTableParams" template-pagination="custom/pager">
              
              <tbody ng-repeat="role in $data" class="{{getRoleCSSClass(roleGroups[role.type.resource].abbreviation, role)}}" style="border-top:0px;">
                <tr class="panel-heading">
                    <td colspan="5">
                    	<span>{{roleGroups[role.type.resource].abbreviation}}: </span>
                    	<span ng-show="role.rate.isFullyUtilized()">100%</span>&nbsp;
                      	<span ng-hide="role.rate.isFullyUtilized()">{{role.rate.hoursPerMonth()}} h/m</span>&nbsp;
                      	<small>{{role.startDate | date:'MMM d y'}}</small>
	                      <span ng-show="role.endDate">-<small>{{role.endDate | date:'MMM d y'}}</small></span>
	                      <span ng-hide="role.endDate">- N/A</span>
	                      &nbsp;
	                   	<span>{{getCoverageValue(role)}}</span>
	                   	
                    </td>
                    <td class="actionsCell">
                    	<button ng-if="editMode" class="btn btn-default" ng-click="addNewAssignmentToRole($index, role)">
				            <div class="hidden-xs"><i class="fa fa-plus-square"></i> <span > Add Assignment</span></div>
        					<div class="visible-xs"><i class="fa fa-plus-square"></i></div>
				        </button>
                    </td>
                </tr>
                
	             <tr ng-show="editMode" ng-if="editMode">
	             	<td colspan="5">
	             		<div ng-form="newPersonToRoleForm{{$index}}" id="editPersonToRoleDialog{{$index}}">
						    <ng-include src="'views/projects/show/roleAssign.html'"/>
						</div>
	             	</td>
	             </tr>
	             <tr ng-show="!editMode" ng-if="!editMode">
	             	<td colspan="5">
	             		<div ng-form="newPersonToRoleForm{{$index}}" id="editPersonToRoleDialog{{$index}}" class="">
						    <ng-include src="'views/projects/show/roleAssignView.html'"/>
						</div>
	             	</td>
	             </tr>
              </tbody>
            </table>
            <script type="text/ng-template" id="custom/pager">
                <ul class="pager ng-cloak">
                    <li ng-repeat="page in pages"
                            ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                            ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
                        <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
                        <a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
                    </li>
                    <li>
                        <div class="btn-group" ng-show="page.type == 'prev' || page.type == 'next'">
                            <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                            <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                            <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                            <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
                        </div>
                    </li>
                </ul>
            </script>
        </div>
    </div>
</div>