<div id="assignments" class="tab-pane active">
    <form name="ProjectForm" class="projectForm">
        <fieldset class="form-horizontal">
            <div class="row-fluid">
                <div class="span12">
                    <h3>Current Roles</h3>
                    <table ng-table="roleTableParams"  class="table">
                        <tr ng-repeat="role in project.roles">
                            <td data-title="'Role'">{{role.title}}</td>
                            <td data-title="'100%'"><input type="checkbox" ng-model="role.rate.fullyUtilized"/></td>
                            <td data-title="'H/M'">{{role.rate.hoursPerMonth}}</td>
                            <td data-title="'Start Date'">{{role.startDate | date:'longDate'}}</td>
                            <td data-title="'End Date'">{{role.endDate | date:'longDate'}}</td>
                            <td data-title="'Person Assigned'">
                                <select ng-model="role.assignee">
                                    <option ng-repeat="person in people | filter:{primaryRole:role.title}" value="{{person.nick}}">{{person.name}}</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </fieldset>
    </form>
</div>