<div class="row">
   	<div class="col-xs-12 form-group">
     		<label class="control-label" for="newLinkURL">URL:</label>
          	<input class="col-xs-12 form-control" type="url" id="newLinkURL" ng-model="newLink.url"/>
      </div>
   </div>
   <div class="row">
   	<div class="col-xs-12">
      		
      </div>
   </div>
   <div class="row">
   	<div class="col-xs-12 form-group">
     		<label class="control-label" for="newLinkLabel">Label:</label>
          	<input class="col-xs-12 form-control" id="newLinkLabel" ng-model="newLink.label"/>
      </div>
   </div>
   <div class="row">
    <div class="col-xs-12">
        <input type="submit" class="btn" value="Add" ng-click="addLink()" ng-show="!editingLink">
        <input type="submit" class="btn" value="Save" ng-click="saveLink()" ng-show="editingLink">
        <input type="submit" class="btn" value="Cancel" ng-click="cancelLink()">
    </div>
</div>