<div class="row">
	<div class="col-xs-12">
	   <div class="col-xs-12 btn-group" data-toggle="buttons" style="margin-top: 15px;">
	           <label class="btn btn-default active" ng-click="setHoursView('monthly')">
	               <input type="radio" name="options"> Monthly
	           </label>
	           <label class="btn btn-default" ng-click="setHoursView('weekly')">
	               <input type="radio" name="options"> Weekly
	           </label>
	           <label class="btn btn-default" ng-if="project.terms && project.terms.billingDate" ng-click="setHoursView('billings')">
	               <input type="radio" name="options"> Billings
	           </label>
	           <label class="btn btn-default" ng-if="project.terms && project.terms.billingDate" ng-click="setHoursView('customDates')">
	               <input type="radio" name="options"> Custom Dates
	           </label>
	    </div>
	</div>
</div>
<div class="row">
  
 
  <div class="col-xs-8 col-sm-8 col-md-7" style="padding-top: 10px;" ng-if="organizedHours && hoursViewType != 'customDates'">
     <div class="col-xs-12 col-sm-4 col-md-4">
	     <select name="hoursPeriod" class="form-control" ng-if="organizedHours && hoursViewType == 'billings'" 
			ng-model="selectedHoursPeriod" ng-change="handleHoursPeriodChanged('selectedHoursPeriod')"
			ng-required="true"
			ng-options="f.value as f.name for f in hoursPeriods">
		</select>
		
		<select name="hoursPeriod" class="form-control" ng-if="organizedHours && hoursViewType == 'monthly'" 
			ng-model="currentMonth" ng-change="handleHoursPeriodChanged('currentMonth')"
			ng-required="true"
			ng-options="f.value as f.name for f in monthPeriods">
		</select>
	</div>
	
  </div>
  
  <div class="col-xs-8 col-sm-8 col-md-7" style="padding-top: 10px;" ng-if="organizedHours && hoursViewType == 'customDates'" >
   <form class="form-horizontal" >
		<label for="fromDate" class="control-label col-xs-2 col-sm-1 col-md-1">From:</label>
		<div class="col-xs-3 col-md-4 col-sm-4">
			<input id="fromDate" name="fromDate"
				class=" form-control datepicker" type="text"
				ng-model="selectedHoursFromDate" data-date-format="yyyy-mm-dd"
				data-provide="datepicker">
		</div>
		<label for="fromDate" class="control-label col-xs-2 col-sm-1 col-md-1">To:</label>
		<div class="col-xs-3 col-md-4 col-sm-4">
			<input id="toDate" name="toDate"
				class="form-control datepicker" type="text"
				ng-model="selectedHoursToDate" data-date-format="yyyy-mm-dd"
				data-provide="datepicker">
		</div>
		<div class="col-xs-2 col-md-2 col-sm-2">
			<a ng-if="selectedHoursFromDate && selectedHoursToDate"  class="btn btn-default">
		      <div class="hidden-xs"><i class="fa fa-search"></i>Apply</div>
		      <div class="visible-xs"><i class="fa fa-search"></i></div>
		    </a>
	    </div>
    </form>
  </div>
 
  <div class="actions col-xs-4 col-sm-4 col-md-5 pageActions">
    <a ng-if="financeAccess" ng-enabled="csvDownloadEnabled" class="btn btn-default" ng-mousedown="hoursToCSV.generate()" href="{{hoursToCSV.link()}}" download="{{project.name}}-{{currentMonth}}.csv">
      <div class="hidden-xs"><i class="fa fa-table"></i><span> Download to Excel</span></div>
      <div class="visible-xs"><i class="fa fa-table"></i></div>
    </a>
    
  </div>
</div>

<div class="row" ng-hide="hoursViewType == 'weekly'">
	<div class="col-sm-12">
		<hr  />
	</div>
</div>

<!-- {{project}}<br/><br/>-->
<!-- {{hoursToCSV.rawJSON()}}<br/><br/>-->
<!-- {{hoursToCSV.rawCSV()}} -->
<!--  
<div class="row" ng-if="hoursValidation.length > 0">
-->
<div class="row" ng-if="getNewHoursValidationErrors(newHoursForm)">
   <div id="hoursValidationDiv" class="alert alert-danger">
     <a class="close" ng-click="hoursValidation=[]">&times;</a>
         <ul>
             <li ng-repeat="message in hoursValidation">{{message}}</li>
         </ul>
     </div>
 </div>

 <!-- Monthly view -->
<div class="row" ng-if="hoursViewType == 'monthly' || hoursViewType == 'billings'">
     <div class="col-xs-12" ng-if="!organizedHours">
        <div class="alert alert-warning">There are no logged hours for this project.</div>
     </div>
     <div class="col-xs-12 peopleList">
      <div ng-repeat="person in organizedHours" ng-if="organizedHours && getPersonTotalHours($index) > 0" class="well" style="margin-bottom: 10px;">
            <div class="row" style="padding-bottom: 12px;" ng-click="person.collapsed=!person.collapsed">
            	<div class="col-xs-12">
            		<span style="margin-right: 12px;" ng-if="!person.collapsed" ><i class="fa fa-caret-right" ng-show="person && person.thumbnail"></i></span>
            		<span style="margin-right: 12px;" ng-if="person.collapsed" ><i class="fa fa-caret-down" ng-show="person && person.thumbnail"></i></span>
	            	<a href="#{{person.resource}}">
	                    <img ng-show="person && person.thumbnail" class="profileImage" ng-src="{{person.thumbnail}}"/>
	                    <i class="fa fa-ban" ng-show="!person || !person.thumbnail"></i>
	                    <span style="display: inline-block;">{{person.name || 'Unknown'}}</span>
	                  </a>
	            	<span>: {{getPersonProjectRoles(person)}}</span>
	            	<span>- {{getPersonTotalHours($index)}} hours</span>
           		</div>
            	
            </div>
           <div class="col-xs-12" ng-show="person.collapsed" style="font-weight: bold; border-bottom: 2px solid #dddddd; margin-bottom: 10px; height: auto;">
	           	<div class="col-xs-4 col-md-3 col-lg-3">
	           		Date
	           		<div class="visible-xs">
	           		  Description
	           		</div>
	           	</div>
	           	<div class="col-xs-4 col-md-3 col-lg-3">
	           		Hours
	           	</div>
	           	<div class="col-md-3 col-lg-3 hidden-xs">
                    Description
                </div>
           </div>
           <div ng-repeat="hoursRecord in currentDisplayedHours[$index]" ng-show="person.collapsed">
           		 <div class="cos-xs-12">
           		   <div class="row" style="border-bottom: 1px solid #dddddd; margin: 0px;">
		           	<div class="col-xs-4 col-md-3 col-lg-3">
		           		<span class="hidden-xs">{{hoursRecord.date | date}}</span><span class="visible-xs">{{hoursRecord.date | date:'shortDate'}}</span>
		           	</div>
		           	<div class="col-xs-4 col-md-3 col-lg-3">
		           		{{hoursRecord.hours}}
		           	</div>
		           	<div class="col-xs-4 visible-xs">
                        <button class="btn btn-default pull-right" ng-click="deleteHours(hoursRecord.resource)">
                          <i class="fa fa-trash-o"></i>
                        </button>
                    </div>
		           	<div class="col-xs-9 col-md-3 col-lg-3">
		           		{{hoursRecord.description}}
		           	</div>
		           	<div class="col-md-3 col-lg-3 hidden-xs">
		           		<button class="btn btn-default pull-right" ng-click="deleteHours(hoursRecord.resource)">
	                      <i class="fa fa-trash-o"></i>
	                    </button>
		           	</div>
		           </div>
	           </div>
            </div>
        	<div ng-if="currentDisplayedHours[$index].length == 0 && person.collapsed">
        		<span>There are no logged hours</span>
        	</div>
        </div>
    
     </div>
 </div>
 
 <!-- Weekly view -->
 <div class="row" ng-if="hoursViewType == 'weekly'">
  <div class="col-xs-12 col-md-6 col-lg-6">
    <div class="panel panel-default dashboard-widget" >
        <div class="panel-heading" style="padding: 0;">
            <i class="fa fa-calendar-o" style="padding-top: 15px;padding-bottom: 10px;padding-left: 15px;"></i> Project weekly hours summary:
            <div class="pull-right btn-group-sm" data-toggle="buttons" style="margin-top:5px; margin-right: 5px;">
               <label class="btn btn-default" ng-click="prevWeek()">
                   <input type="radio" name="weeks"> Previous week
               </label>
               <label class="btn btn-default active" ng-click="thisWeek()">
                   <input type="radio" name="weeks"> This week
               </label>
            </div>
        </div>
        <div class="panel-body">
    
           <h3> {{dayFormatted(startWeekDate)}} &ndash; {{dayFormatted(endWeekDate, "MMM D, YYYY")}} </h3>
            <div class="row">
                <div class="col-xs-12">
                    <div class="row hidden-xs">
                        <div class="hidden-xs col-md-5"></div>
                        <div class="col-xs-1 col-md-1 text-center" ng-repeat="dayLabel in thisWeekDayLabels">{{thisWeekDayLabels[$index]}}</div>
                    </div>
                    <div class="row" ng-repeat="personHours in weekPersonHours" style="margin-bottom: 5px;">
                        <div class="hidden-xs col-md-5" style="margin-top:15px;">
                            <a href="#{{personHours.person.resource}}">
                                <img class="profileImage" ng-src="{{personHours.person.thumbnail}}" style="width: 36px; height: 36px;"/>
                                {{personHours.person.name}}
                            </a>
                        </div>
                        <div class="row hidden-md hidden-lg hidden-sm">
                            <hr style="margin: 0;"/>
                            <div style="margin-left: 30px;">
                                <a href="#{{personHours.person.resource}}">
                                    <img class="profileImage" ng-src="{{personHours.person.thumbnail}}" style="width: 36px; height: 36px;"/>
                                    {{personHours.person.name}}
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-1 col-md-1 col-lg-1" ng-repeat="day in personHours.hours">
                            <button class="btn btn-hours btn-default" ng-class="{'btn-danger':day.totalHours===0 && $index > 0 && $index<6 && !day.futureness,'btn-warning': day.totalHours < 8 && $index > 0 && $index<6, 'btn-default' : days.totalHours >= 8 && $index > 0 && $index<6, 'futureDay': day.futureness, 'todaysClass': moment().format('YYYY-MM-DD') == day.date }">{{day.totalHours}}</button>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
  </div>
 </div>