<div class="row">
  <div class="col-xs-1 col-sm-1 col-md-1">
  	<h3 class="hidden-xs">View</h3>
 </div>
 
  <div class="col-xs-4 col-sm-4 col-md-2" style="padding-top: 20px;">
  	<span>
     <select name="hoursPeriod" class="form-control"
		ng-model="selectedHoursPeriod" ng-change="handleHoursPeriodChanged()"
		ng-required="true"
		ng-options="f.value as f.name for f in hoursPeriods | orderBy:'name'">
	</select>
	</span>
 </div>
 
  <div class="actions col-xs-6 col-sm-6 col-md-9 pageActions">
    <a ng-if="financeAccess" class="btn btn-default" ng-mousedown="hoursToCSV.generate()" ng-href="{{hoursToCSV.link()}}" download="{{project.name}}-hours.csv">
      <div class="hidden-xs"><i class="fa fa-table"></i><span> Download to Excel</span></div>
      <div class="visible-xs"><i class="fa fa-table"></i></div>
    </a>
    <button type="button"
      class="btn btn-default" data-toggle="collapse" data-target="#newHoursDialog">
        <div class="hidden-xs"><i class="fa fa-plus-square"></i> <span > Add Hours</span></div>
        <div class="visible-xs"><i class="fa fa-plus-square"></i></div>
    </button>
  </div>
</div>
<div class="row">
	<div class="col-sm-12">
		<hr  />
	</div>
</div>

<!-- {{project}}<br/><br/>-->
<!-- {{hoursToCSV.rawJSON()}}<br/><br/>-->
<!-- {{hoursToCSV.rawCSV()}} -->

<div ng-form="newHoursForm" id="newHoursDialog" class="well collapse out">
    <div class="row">
      <div class="col-xs-12 col-sm-6 row">
        <div class="col-xs-6">
              <label class="control-label" for="role">Project: </label>
              <span>{{project.name}}</span>
          </div>
          <div class="col-xs-6">
              <label class="control-label" for="role">Person: </label>
              <span>{{me.name}}</span>
          </div>
      <div class="col-xs-6">
             <label class="control-label" for="hours">* Hours:</label>
             <input id="hours" name="hours" class="form-control" type="number" ng-model="newHoursRecord.hours" ng-required="true"/>
          </div>
        <div class="col-xs-6">
              <label class="control-label" for="date">* Date:</label>
              <input id="date" name="date" class="form-control datepicker" type="text"
                    ng-model="newHoursRecord.date"
                    todayBtn="true" data-provide="datepicker" data-date-format="yyyy-mm-dd" ng-required="true"/>
              </div>
      </div>
      <div class="col-xs-12 col-sm-6">
           <label class="control-label" for="hours">* Description:</label>
           <textarea id="hours" name="hours" rows="3" class="form-control" ng-model="newHoursRecord.description" ng-required="true"></textarea>
        </div>
  </div>
  <div class="row">
        <div class="col-xs-12">
            <input type="submit" class="btn" value="Add" ng-click="addHours()"/>
        </div>
    </div>
</div>
<div class="row">
     <div class="col-xs-12 peopleList">
      <div ng-repeat="person in organizedHours" >
            <div class="row" style="padding-bottom: 12px;">
            	
            	<div class="col-xs-12">
            		<span style="margin-right: 12px;" ng-if="!person.collapsed" ><i class="fa fa-caret-right" ng-click="person.collapsed=true" ng-show="person && person.thumbnail"></i></span>
            		<span style="margin-right: 12px;" ng-if="person.collapsed" ><i class="fa fa-caret-down" ng-click="person.collapsed=false" ng-show="person && person.thumbnail"></i></span>
	            	<a href="#{{person.resource}}">
	                    <img ng-show="person && person.thumbnail" class="profileImage" ng-src="{{person.thumbnail}}"/>
	                    <i class="fa fa-ban" ng-show="!person || !person.thumbnail"></i>
	                    <span style="display: inline-block;">{{person.name || 'Unknown'}}</span>
	                  </a>
	            	<span>: {{getPersonProjectRoles(person)}}</span>
	            	<span>- {{getPersonTotalHours(person)}} hours</span>
           		</div>
            	
            </div>
           <div class="col-xs-12" ng-show="person.collapsed">
	           	<div class="col-xs-3">
	           		Date
	           	</div>
	           	<div class="col-xs-3">
	           		Hours
	           	</div>
	           	<div class="col-xs-3">
	           		Description
	           	</div>
           </div>
           <div class="cos-xs-12" ng-show="person.collapsed">
           		<hr/>
           </div>
           <div ng-repeat="hoursRecord in getProjectHours(person.hoursEntries)" ng-show="person.collapsed">
           		 <div class="cos-xs-12">
		           	<div class="col-xs-3">
		           		<span class="hidden-xs">{{hoursRecord.date | date}}</span><span class="visible-xs">{{hoursRecord.date | date:'shortDate'}}</span>
		           	</div>
		           	<div class="col-xs-3">
		           		{{hoursRecord.hours}}
		           	</div>
		           	<div class="col-xs-3">
		           		{{hoursRecord.description}}
		           	</div>
		           	<div class="col-xs-3">
		           		<button class="btn btn-default pull-right" ng-click="deleteHours(hoursRecord.resource)">
	                      <i class="fa fa-trash-o"></i>
	                    </button>
		           	</div>
	           </div
            </div>
        </div>
     <!--  
      <table ng-table="hoursTableParams" template-pagination="hours/pager" class="table peopleList" export-hours="hoursToCSV">
               <tr ng-repeat="hoursRecord in $data">
                <td data-title="'Person'" sortable="'person.resource'">
                  <a href="#{{hoursRecord.person.resource}}">
                    <img ng-show="hoursRecord.person" class="profileImage" ng-src="{{hoursRecord.person.thumbnail}}"/>
                    <i class="fa fa-ban" ng-show="!hoursRecord.person"></i>
                    <span style="display: inline-block;">{{hoursRecord.person.name || 'Unknown'}}</span>
                  </a> <span class="visible-xs">{{hoursRecord.role.type.abbreviation}}</span>
                  </td>
                  <td data-title="'Role'" header-class="hidden-xs" sortable="'role.type.abbreviation'"
                      class="hidden-xs">
                    {{hoursRecord.role.type.title}}
                  </td>
                  <td data-title="'Date'" sortable="'date'">
                    <span class="hidden-xs">{{hoursRecord.date | date}}</span><span class="visible-xs">{{hoursRecord.date | date:'shortDate'}}</span>
                  </td>
                  <td data-title="'Hrs'" sortable="'hours'">
                    {{hoursRecord.hours}}
                  </td>
                  <td ng-if="financeAccess" data-title="'Rate'">
                    {{displayRate(hoursRecord.role)}}
                  </td>
                  <td class="hidden-xs" data-title="'Desc'" header-class="hidden-xs" sortable="'description'" class="hidden-xs">
                    {{hoursRecord.description}}
                  </td>
                  <td class="actionsCell" data-title="''">
                    <button class="btn btn-default" ng-click="deleteHours(hoursRecord.resource)">
                      <i class="fa fa-trash-o"></i>
                    </button>
                  </td>
               </tr>
           </span>
         </table>
         <script type="text/ng-template" id="hours/pager">
            <ul class="pager ng-cloak">
              <li ng-repeat="page in pages"
                    ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                    ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
                <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
                <a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
              </li>
                <li>
                <div class="btn-group">
                    <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                    <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                    <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                    <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
                </div>
                </li>
            </ul>
        </script>
        -->
     </div>
 </div>