<div class="row">
  <div class="col-sm-1 col-md-1 hidden-xs" style="padding-top:14px;">
  	
  	<h4 >
  		<input ng-if="project.terms && project.terms.billingDate" name="hoursMode"
				type="radio" value="filtered" ng-model="hoursMode" >View</h4>
 </div>
 
  <div class="col-xs-6 col-sm-4 col-md-2" style="padding-top: 20px;">
  	
     <select name="hoursPeriod" class="form-control" ng-if="organizedHours" 
		ng-model="selectedHoursPeriod" ng-change="handleHoursPeriodChanged()"
		ng-required="true"
		ng-options="f.value as f.name for f in hoursPeriods" ng-disabled="hoursMode=='billed'">
	</select>
	
 </div>
 
 <div class="col-sm-1 col-md-1 hidden-xs" style="padding-top:14px;">
  	
  	<h4 ng-if="project.terms && project.terms.billingDate">
  		<input  name="hoursMode"
				type="radio" value="billed" ng-model="hoursMode" >Billing</h4>
 </div>
 
  <div class="actions col-xs-5 col-sm-5 col-md-8 pageActions">
    <a ng-if="financeAccess" ng-enabled="csvDownloadEnabled" class="btn btn-default" ng-mousedown="hoursToCSV.generate()" href="{{hoursToCSV.link()}}" download="{{project.name}}-{{currentMonth}}.csv">
      <div class="hidden-xs"><i class="fa fa-table"></i><span> Download to Excel</span></div>
      <div class="visible-xs"><i class="fa fa-table"></i></div>
    </a>
    
  </div>
</div>
<div class="row">
	<div class="col-sm-12">
		<hr  />
	</div>
</div>

<!-- {{project}}<br/><br/>-->
<!-- {{hoursToCSV.rawJSON()}}<br/><br/>-->
<!-- {{hoursToCSV.rawCSV()}} -->
<!--  
<div class="row" ng-if="hoursValidation.length > 0">
-->
<div class="row" ng-if="getNewHoursValidationErrors(newHoursForm)">
   <div id="hoursValidationDiv" class="alert alert-danger">
     <a class="close" ng-click="hoursValidation=[]">&times;</a>
         <ul>
             <li ng-repeat="message in hoursValidation">{{message}}</li>
         </ul>
     </div>
 </div>

<div class="row">
     <div class="col-xs-12" ng-if="!organizedHours">
        <div class="alert alert-warning">There are no logged hours for this project.</div>
     </div>
     <div class="col-xs-12 peopleList">
      <div ng-repeat="person in organizedHours" ng-if="organizedHours && getPersonTotalHours($index) > 0" class="well" style="margin-bottom: 10px;">
            <div class="row" style="padding-bottom: 12px;" ng-click="person.collapsed=!person.collapsed">
            	<div class="col-xs-12">
            		<span style="margin-right: 12px;" ng-if="!person.collapsed" ><i class="fa fa-caret-right" ng-show="person && person.thumbnail"></i></span>
            		<span style="margin-right: 12px;" ng-if="person.collapsed" ><i class="fa fa-caret-down" ng-show="person && person.thumbnail"></i></span>
	            	<a href="#{{person.resource}}">
	                    <img ng-show="person && person.thumbnail" class="profileImage" ng-src="{{person.thumbnail}}"/>
	                    <i class="fa fa-ban" ng-show="!person || !person.thumbnail"></i>
	                    <span style="display: inline-block;">{{person.name || 'Unknown'}}</span>
	                  </a>
	            	<span>: {{getPersonProjectRoles(person)}}</span>
	            	<span>- {{getPersonTotalHours($index)}} hours</span>
           		</div>
            	
            </div>
           <div class="col-xs-12" ng-show="person.collapsed" style="font-weight: bold; border-bottom: 2px solid #dddddd; margin-bottom: 10px; height: auto;">
	           	<div class="col-xs-4 col-md-3 col-lg-3">
	           		Date
	           		<div class="visible-xs">
	           		  Description
	           		</div>
	           	</div>
	           	<div class="col-xs-4 col-md-3 col-lg-3">
	           		Hours
	           	</div>
	           	<div class="col-md-3 col-lg-3 hidden-xs">
                    Description
                </div>
           </div>
           <div ng-repeat="hoursRecord in currentDisplayedHours[$index]" ng-show="person.collapsed">
           		 <div class="cos-xs-12">
           		   <div class="row" style="border-bottom: 1px solid #dddddd; margin: 0px;">
		           	<div class="col-xs-4 col-md-3 col-lg-3">
		           		<span class="hidden-xs">{{hoursRecord.date | date}}</span><span class="visible-xs">{{hoursRecord.date | date:'shortDate'}}</span>
		           	</div>
		           	<div class="col-xs-4 col-md-3 col-lg-3">
		           		{{hoursRecord.hours}}
		           	</div>
		           	<div class="col-xs-4 visible-xs">
                        <button class="btn btn-default pull-right" ng-click="deleteHours(hoursRecord.resource)">
                          <i class="fa fa-trash-o"></i>
                        </button>
                    </div>
		           	<div class="col-xs-9 col-md-3 col-lg-3">
		           		{{hoursRecord.description}}
		           	</div>
		           	<div class="col-md-3 col-lg-3 hidden-xs">
		           		<button class="btn btn-default pull-right" ng-click="deleteHours(hoursRecord.resource)">
	                      <i class="fa fa-trash-o"></i>
	                    </button>
		           	</div>
		           </div>
	           </div>
            </div>
        	<div ng-if="currentDisplayedHours[$index].length == 0 && person.collapsed">
        		<span>There are no logged hours</span>
        	</div>
        </div>
    
     </div>
 </div>