<div ng-controller="LinksCtrl">
	<div class="row">
		<div class="col-xs-2"><h3>Links</h3></div>
		<div class="actions col-xs-10 pageActions">
			<button type="button" ng-click="toggleNewLink()"
				class="btn btn-default pull-right" data-toggle="collapse" data-target="#newLinkDialog">
		  		<i class="fa fa-plus-square"></i> <span>Add Links</span>
			</button>
			<button class="btn btn-default" ng-click="launchDropboxChooser()"><i class="fa fa-dropbox"></i> <span>Dropbox</span></button>
		</div>
		<!-- <div class="col-xs-4"><h3>Links</h3></div>
		<div class="actions col-sm-8 hidden-xs pageActions">
			<button class="btn btn-default"><i class="fa fa-plus-square" data-toggle="collapse" data-target="#newLinkDialog"></i> <span>Add Links</span></button>
            <button class="btn btn-default" ng-click="launchDropboxChooser()"><i class="fa fa-dropbox"></i> <span>Add Dropbox Links</span></button>
       		<button type="button"
				class="btn btn-default pull-right" data-toggle="collapse" data-target="newLinkDialog">
		  		<i class="fa fa-plus-square"></i> <span>Add Hours</span>
			</button>
        </div>
        <div class="actions col-xs-8 visible-xs pageActions">
             <button class="btn btn-default" ng-click="launchDropboxChooser()"><i class="fa fa-dropbox"></i></button>
       		 <button class="btn btn-default"><i class="fa fa-plus-square" data-toggle="collapse" data-target="#newLinkDialog"></i></button>
         </div> -->
	</div>
	<section ng-form="newLinkDialog" id="newLinkDialog" class="well collapse out">
		 <div ng-include src="'views/projects/show/editLink.html'"/>
	</section>
	<div class="row">
     <div class="col-xs-12">
         <table ng-table="linksTableParams" class="table margin-top">
         	<tbody ng-repeat="link in $data">
             <tr>
             	<td data-title="'Link'" sortable="'label'">
                  <img ng-if="link.icon" ng-src="{{link.icon}}" style="width:24px;height:24px"/>
                  <a href="{{link.url}}">{{link.label}}</a>
                </td>
                <td class="actionsCell">
                	<button class="btn btn-default" ng-click="triggerEditLink(link, $index)">
                        <i class="fa fa-pencil"></i>
                    </button>
                	<button class="btn btn-default"
					ng-click="deleteLink(link)">
					<i class="fa fa-trash-o"></i> 
				</button></td>
             </tr>
             <tr ng-show="editLinkIndex===$index" ng-if="editLinkIndex===$index">
             	<td>
             		<div ng-form="newLinkForm{{$index}}" id="editLinkDialog{{$index}}" class="well">
					    <div ng-include src="'views/projects/show/editLink.html'"/>
					</div>
             	</td>
             </tr>
            </tbody>
         </table>
     </div>
 </div>
</div>