<div id="roles" class="tab-pane active">
    <form name="ProjectForm" class="projectForm" ng-controller="RolesCtrl" ng-submit="add()">
        <fieldset>
            <section class="well">
                <h3>Add Role</h3>

                <div class="row-fluid">
                    <div class="span4">
                        <label>Role:</label>
                        <select class="span12" ng-model="newRole.type.id" ng-options="m.id as m.title for m in roleTypes.members">
                            
                        </select>
                    </div>
                    <div class="span4">
                        <label class="required-label">* Start Date:</label>
                        <div class="span12 input-insert-right">
                            <input class="span12" type="text" ng-model="newRole.startDate" datepicker-popup="MM/dd/yyyy" ng-required="true" />
                            <span class="add-in"><i class="fa fa-calendar input-icon"></i></span>
                        </div>
                    </div>
                    <div class="span4">
                        <label>End Date:</label>
                        <div class="span12 input-insert-right">
                            <input class="span12" type="text" ng-model="newRole.endDate" datepicker-popup="MM/dd/yyyy" />
                            <span class="add-in"><i class="fa fa-calendar input-icon"></i></span>
                        </div>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="tab-panes tabs-left span6">
                        <div class="nav nav-tabs">
                            <li ng-class="{active: newRoleRateType == 'hourly'}"><a ng-click="changeRateType('hourly')" data-toggle="tab">Hourly</a></li>
                            <li ng-class="{active: newRoleRateType == 'weekly'}"><a ng-click="changeRateType('weekly')" data-toggle="tab">Weekly</a></li>
                            <li ng-class="{active: newRoleRateType == 'monthly'}"><a ng-click="changeRateType('monthly')" data-toggle="tab">Monthly</a></li>
                        </div>
                        <div class="tab-content">
                            <section id="hourlyControls" class="tab-pane" ng-class="{active: newRoleRateType == 'hourly'}">
                                <div class="row-fluid">
                                    <div class="span12">
                                        <label>Hourly Rate:</label>
                                        <input class="span12" placeholder="Enter Hourly Rate" type="number" ng-model="newRole.rate.amount"/>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <label>Hours/Month:</label>
                                        <input class="span12" placeholder="Enter Hours per Month" type="number" ng-model="newRole.rate.hoursPerMonth"/>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <label>Utilization:</label>
                                        <label class="checkbox">
                                            <input type="checkbox" ng-model="newRole.rate.fullyUtilized"/>
                                            100% Utilized
                                        </label>
                                    </div>
                                </div>
                            </section>

                            <section id="weeklyControls" class="tab-pane" ng-class="{active: newRoleRateType == 'weekly'}">
                                <div class="row-fluid">
                                    <div class="span12">
                                        <label>Hourly Rate:</label>
                                        <input class="span12" placeholder="Enter Hourly Rate" type="number" ng-model="newRole.rate.amount"/>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <label>Hours/Week:</label>
                                        <input class="span12" placeholder="Enter Hours per Month" type="number" ng-model="newRole.rate.hoursPerWeek"/>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <label>Utilization:</label>
                                        <label class="checkbox">
                                            <input type="checkbox" ng-model="newRole.rate.fullyUtilized"/>
                                            100% Utilized
                                        </label>
                                    </div>
                                </div>
                            </section>

                            <section id="monthlyControls" class="tab-pane" ng-class="{active: newRoleRateType == 'monthly'}">
                                <div class="row-fluid">
                                    <div class="span12">
                                        <label>Monthly Rate:</label>
                                        <input class="span12" placeholder="Margin" type="number" ng-model="newRole.rate.amount"/>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>

                    <div class="span6">
                        <label>Shoring:</label>
                        <label class="radio"><input type="radio" value="on" ng-model="newRole.shore" />Onshore</label>
                        <label class="radio"><input type="radio" value="off" ng-model="newRole.shore" />Offshore</label>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span12">
                        <input type="submit" class="btn" value="Add Role" />
                    </div>
                </div>
            </section>

            <h3>Current Roles</h3>
            <div class="row-fluid">
                <div class="span12">
                    <table ng-table="roleTableParams"  class="table">
                        <tr ng-repeat="role in project.roles">
                            <td data-title="'Role'">{{role.type.id}}</td>
                            <td data-title="'100%'"><input type="checkbox" ng-model="role.rate.fullyUtilized"/></td>
                            <td data-title="'H/M'">{{role.rate.hoursPerMonth}}</td>
                            <td data-title="'Start Date'">{{role.startDate | date:'longDate'}}</td>
                            <td data-title="'End Date'">{{role.endDate | date:'longDate'}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </fieldset>
    </form>
</div>