
<div class="row hidden-xs" >
	<div class="col-sm-3">
		<span>
			* Person
		</span> 
	</div>
	<div class="col-sm-2">
		<span>
			* %
		</span> 
	</div>
	
	<div class="col-sm-3">
		<span>
			* Start Date
		</span> 
	</div>
	
	<div class="col-sm-3">
		<span>
			* End Date
		</span> 
	</div>
	<hr/>
</div>
<div class="row" ng-repeat="currentAssignee in role.assignees">
	<div class="col-sm-3 col-xs-6 form-group" ng-class="{error: isFieldInError('role')}">
		<select ng-model="currentAssignee.person.resource"
                 ng-options="m.resource as m.title for m in roleGroups[role.type.resource].assiganble"
                 ng-change="assigneeChanged($index, role)"
                 class="form-control" name="person">
         </select>
	</div>
	
	<div class="col-sm-2 col-xs-3" >
		
		<input name="assigneePercentage{{$index}}" class="form-control" style="width: 70px;" type="number" ng-model="currentAssignee.percentage" min="0" max="100" required >
	</div>
	
	<div class="col-xs-3 form-group visible-xs">
		
		 <button ng-show="role.assignees.length > 1" class="btn btn-default" ng-click="removeAssignmentToRole($index, role)">
            <i class="fa fa-trash-o"></i>
        </button>
	</div>
	
	<div class="col-sm-3 col-xs-6 form-group"
		ng-class="{error: isFieldInError('role')}">
		
		<input id="assigneeStartDate" name="assigneeStartDate"
			class="form-control datepicker" type="text"
			ng-model="currentAssignee.startDate"
			data-date-start-date="{{project.startDate}}"
			data-date-end-date="{{project.endDate}}" todayBtn="true"
			data-provide="datepicker" data-date-format="yyyy-mm-dd"
			ng-required="true">
		
	</div>
	
	<div class="col-sm-3 col-xs-6 form-group">
		<input id="assigneeEndDate" class="form-control datepicker" type="text"
			ng-model="currentAssignee.endDate"
			data-date-start-date="{{project.startDate}}"
			data-date-end-date="{{project.endDate}}" todayBtn="true"
			data-provide="datepicker" data-date-format="yyyy-mm-dd">
	</div>
	
	<div class="col-sm-1 form-group hidden-xs" >
        
        <button ng-show="role.assignees.length > 1" class="btn btn-default pull-right" ng-click="removeAssignmentToRole($index, role)">
            <i class="fa fa-trash-o"></i>
        </button>
	</div>
	
</div>
	
