<div ng-form="rolesForm" ng-controller="RolesCtrl">
	<div class="row">
		<div class="col-xs-12">
			<button type="button"
				ng-click="newRole.startDate = project.startDate;newRole.endDate = project.endDate"
				class="btn btn-default pull-right" data-toggle="collapse" data-target="#newRoleDialog">
		  		<i class="fa fa-plus-square"></i> <span>Add Roles</span>
			</button>
		</div>
	</div>
	<div id="messages" class="alert alert-danger" ng-show="addRoleMessages.length > 0">
        <a class="close" ng-click="addRoleMessages = []">&times;</a>
        <ul>
            <li ng-repeat="message in addRoleMessages">{{message}}</li>
        </ul>
    </div>
	<section id="newRoleDialog" class="well collapse out">
        <div class="row">
            <div class="col-xs-12 col-sm-4 form-group" ng-class="{error: isFieldInError('role')}">
                <label class="required-label control-label" for="role">Role:</label>
                <select name="role" id="role" class="col-xs-12 form-control" ng-model="newRole.type.resource"
                    ng-required="true"
                    ng-options="m.resource as m.title for m in roleTypes">
                </select>
            </div>
            <div class="col-xs-12 col-sm-4 form-group" ng-class="{error: isFieldInError('roleStartDate')}">
                <label class="required-label control-label" for="roleStartDate">
                  Start Date: <span class="text-muted">{{project.startDate}}</span>
                </label>
                <input id="roleStartDate" name="roleStartDate" class="form-control datepicker" type="text"
                    ng-model="newRole.startDate"
                		data-date-start-date="{{project.startDate}}" data-date-end-date="{{project.endDate}}"
                		todayBtn="true" data-provide="datepicker" data-date-format="yyyy-mm-dd" ng-required="true">
            </div>
            <div class="col-xs-12 col-sm-4 form-group">
                <label for="roleEndDate">End Date: <span class="text-muted">{{project.endDate}}</span></label>
                <input id="roleEndDate" class="form-control datepicker" type="text" ng-model="newRole.endDate"
                		data-date-start-date="{{project.startDate}}" data-date-end-date="{{project.endDate}}"
                		todayBtn="true" data-provide="datepicker" data-date-format="yyyy-mm-dd">
            </div>
        </div>

        <!--
          TODO: Convert to Angular UI tabs component.

          Currently we can't do this because of a bug in Angular UI Bootstrap which prevents nested tabs.

          There is an open ticket under:
          https://github.com/angular-ui/bootstrap/issues/783
          -->

        <div class="row">
            <div class="tab-panes tabs-left col-xs-9">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a ng-click="changeToHourlyRate()"
                                data-target="#hourlyControls"
                                data-toggle="tab">Hourly</a>
                    </li>
                    <li>
                        <a ng-click="changeToWeeklyRate()"
                                data-target="#weeklyControls"
                                data-toggle="tab">Weekly</a>
                    </li>
                    <li>
                        <a ng-click="changeToMonthlyRate()" data-target="#monthlyControls" data-toggle="tab">Monthly</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="hourlyControls" class="tab-pane active">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 form-group">
                                <label for="hourlyHourlyRate">Hourly Rate:</label>
                                <input id="hourlyHourlyRate" class="form-control"
                                        placeholder="Enter Hourly Rate"
                                        type="number" min="0" ng-model="newRole.rate.amount">
                            </div>

                            <div class="col-xs-12 col-sm-4 form-group">
                                <label for="hourlyHours">Hours/Month:</label>
                                <input id="hourlyHours" class="form-control" placeholder="Enter Hours per Month"
                                        type="number" ng-model="newRole.rate.hours">
                            </div>

                            <div class="col-xs-12 col-sm-4 form-group">
                                <label>Utilization:</label>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="newRole.rate.fullyUtilized">
                                        100% Utilized
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="weeklyControls" class="tab-pane">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 form-group">
                                <label for="weeklyHourlyRate">Hourly Rate:</label>
                                <input id="weeklyHourlyRate" class="form-control"
                                        placeholder="Enter Hourly Rate" min="0" type="number"
                                        ng-model="newRole.rate.amount">
                            </div>

                            <div class="col-xs-12 col-sm-4 form-group">
                                <label for="weeklyHours">Hours/Week:</label>
                                <input id="weeklyHours" class="form-control" placeholder="Enter Hours per Week"
                                        type="number" ng-model="newRole.rate.hours">
                            </div>

                            <div class="col-xs-12 col-sm-4 form-group">
                                <label>Utilization:</label>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="newRole.rate.fullyUtilized">
                                        100% Utilized
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="monthlyControls" class="tab-pane">
                        <div class="row">
                            <div class="col-xs-12 form-group">
                                <label for="monthlyRate">Monthly Rate:</label>
                                <input id="monthlyRate" class="form-control" placeholder="Margin" type="number"
                                        ng-model="newRole.rate.amount">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-3 form-group">
                <label>Shoring:</label>
                <div class="radio">
                  <label>
                      <input type="radio" value="on" ng-model="newRole.shore">Onshore
                  </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" value="off" ng-model="newRole.shore">Offshore
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <input type="submit" class="btn" value="Add" ng-click="add()">
            </div>
        </div>
    </section>

    <h3>Current Roles</h3>
	<!-- button ng-click="roleTableParams.reload()" class="btn btn-default">Reload</button-->
    <div class="row">
        <div class="col-xs-12">
            <table class="table" ng-table="roleTableParams" template-pagination="custom/pager">
              <thead>
                <tr>
                  <th>Person Assigned</th>
                  <th class="hidden-xs">Role</th>
                  <th>H/M</th>
                  <th class="hidden-xs">Start <span class="hidden-xs">Date</span></th>
                  <th class="hidden-xs">End <span class="hidden-xs">Date</span></th>
                  <th class="visible-xs">Date</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="role in $data">
                    <td>
                        <select ng-model="role.assignee.resource"
                                ng-options="m.resource as m.name for m in roleGroups[role.type.resource].members"
                                ng-change="assigneeChanged($index, role)"
                                class="form-control">
                        </select>
                        <span class="visible-xs">{{roleGroups[role.type.resource].abbreviation}}</span>
                    </td>
                    <td class="hidden-xs">{{roleGroups[role.type.resource].abbreviation}}</td>
                    <td>
                      <span ng-show="role.rate.isFullyUtilized()">100%</span>
                      <span ng-hide="role.rate.isFullyUtilized()">{{role.rate.hoursPerMonth()}}</span>
                    </td>
                    <td class="hidden-xs">{{role.startDate | date:'longDate'}}</td>
                    <td class="hidden-xs">{{role.endDate | date:'longDate'}}</td>
                    <td class="visible-xs">
                      {{role.startDate | date:'shortDate'}}
                      <span ng-show="role.endDate">-<br>{{role.endDate | date:'shortDate'}}</span>
                      <span ng-hide="role.endDate">- N/A</span>
                    </td>
                    <td><button class="btn btn-default" ng-click="remove(role)"><i class="fa fa-trash-o"></i></button></td>
                </tr>
              </tbody>
            </table>
            <script type="text/ng-template" id="custom/pager">
                <ul class="pager ng-cloak">
                    <li ng-repeat="page in pages"
                            ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                            ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
                        <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
                        <a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
                    </li>
                    <li>
                        <div class="btn-group" ng-show="page.type == 'prev' || page.type == 'next'">
                            <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                            <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                            <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                            <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
                        </div>
                    </li>
                </ul>
            </script>
        </div>
    </div>
</div>