<div ng-controller="SummaryCtrl">
    <div class="row">
        <h4 class="col-xs-4" ng-class="{empty: !project.customerName}">{{project.customerName || 'No
            customer'}}</h4>

        <h3 class="col-xs-4" ng-class="{empty: !project.name}">{{project.name || 'No project'}}</h3>

        <div class="col-xs-4" ng-if="project.endDate">
            {{project.startDate | date}} to {{project.endDate | date}}
        </div>
        <div class="col-xs-4" ng-if="!project.endDate && project.startDate">
            Beginning {{project.startDate | date}}
        </div>
        <div class="col-xs-4 empty" ng-if="!project.startDate">
            No beginning date entered.
        </div>
    </div>
    <div id="summaryDescription" class="row">
        <div class="col-xs-12" ng-if="project.description" ng-bind-html="project.description | markdown">
        </div>
        <div class="col-xs-12 empty" ng-if="!project.description">
            No description entered.
        </div>
    </div>
    <div class="row form-inline">
        <div class="col-xs-12">
            <div class="well">
                <div class="col-xs-4">
                    <label>Estimated value:</label> <span ng-class="{empty: !project.terms.totalEstValue}">{{project.terms.totalEstValue || 'none' }}</span>
                </div>
                <div class="col-xs-4">
                    <label>Total $ In Plan:</label> <span class="empty">none</span>
                </div>
                <div class="col-xs-4">
                    <label>Margin %:</label> <span class="empty">none</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table ng-table="roleTableParams" class="table">
                <tr ng-repeat="role in project.roles">
                    <td data-title="'Role'">{{role.type.id}}</td>

                    <td data-title="'Assignee'">
                        <div ng-hide="role.assignee==null"
                                ng-repeat="p in people.people | filter:{id:role.assignee}:false">
                            {{p.name}}
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>