<div class="summary-tab">
	<div class="row">
		<h3 class="col-xs-8">{{project.customerName || 'No Customer'}}</h3>
		<div class="actions col-xs-4 pageActions">
			<button ng-hide="editMode || !canEdit()" class="btn"
				ng-click="edit()">
				<i class="fa fa-pencil-square-o"></i> <span>Edit</span>
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h4>
				<span>{{project.startDate | date}}</span><span> -
					{{project.endDate? project.endDate:'?'| date}}</span>
		</div>
	</div>
	<br />
	<div class="summaryDescription">
		<div class="row">
			<div class="col-xs-12">
				<div ta-bind ng-if="project.description"
					ng-model="project.description"></div>
				<div ng-if="!project.description">No description entered.</div>
			</div>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-xs-4">
			<h4>Roles:</h4>
		</div>
		<div class="actions col-xs-8 pageActions" style="margin-top:0px">
			<button ng-hide="editMode || !adminAccess" class="btn" ng-click="editAssignments()"><i class="fa fa-pencil-square-o"></i> <span>Edit Assignments</span></button>
		</div>
				
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="panel panel-default dashboard-widget">
				<div class="panel-heading">Sponsors</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-12 col-sm-6"><label>Executive:</label><span>{{getExecutiveSponsor()}}</span></div>
						<div class="col-xs-12 col-sm-6"><label>Sales:</label> <span>{{getSalesSponsor()}}</span></div>
					
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-lg-4" ng-repeat="role in project.roles">
				<div  class="peopleList {{getRoleCSSClass(roleGroups[role.type.resource].abbreviation, role)}}">
					<div class="panel-heading">
	                   
	                    	<span>{{roleGroups[role.type.resource].abbreviation}}: </span>
	                    	<span ng-show="role.rate.isFullyUtilized()">100%</span>&nbsp;
	                      	<span ng-hide="role.rate.isFullyUtilized() || role.rate.type != 'hourly'">{{role.rate.hoursPerMonth()}} h/m</span>&nbsp;
	                      	<span ng-hide="role.rate.type == 'hourly'">{{role.rate.hoursPerWeek}} h/w</span>&nbsp;
	                      	<small>{{role.startDate | date:'MMM d y'}}</small>
		                      <span ng-show="role.endDate">-<small>{{role.endDate | date:'MMM d y'}}</small></span>
		                      <span ng-hide="role.endDate">- N/A</span>
		                      <span>{{getCoverageValue(role)}}</span>
	                   </div>
					<div ng-repeat="assignee in role.assignees" ng-if="assignee.person && assignee.person.resource" style="padding: 12px 0 12px 12px;;">
						<span >
							<a href="#{{assignee.person.resource}}"> <img
									ng-show="assignee && assignee.person"
									class="profileImage" ng-src="{{assignee.person.thumbnail}}" /> <i
									class="fa fa-ban"
									ng-show="!assignee.person || !assignee.person.resource"></i> <span>{{assignee.person.name
										|| 'Unassigned'}}</span>
							</a>
						</span>
						<span class="hidden-xs ">{{role.type.abbreviation}}</span>
						
						<span class="hidden-xs">
							<label for="assigneeHoursPerWeek">Hours per Week: <span class="text-muted">{{assignee.hoursPerWeek}} h/w</span></label>
							
						</span>
						<span class="visible-xs">
							<small>{{assignee.hoursPerWeek}}</small>
							
						</span> 
						
						
						<span class="hidden-xs" >{{assignee.startDate | date:'longDate'}}</span>
						<span class="hidden-xs">{{assignee.endDate | date:'longDate'}}</span>
						<span class="visible-xs">
							<small>{{assignee.startDate |
								date:'shortDate'}}</small> <span ng-show="assignee.endDate">-<br>
								<small>{{assignee.endDate | date:'shortDate'}}</small></span> <span
							ng-hide="assignee.endDate">- <small>N/A</small></span>
						</span>
					</div>
					<div style="padding: 12px 0 12px 12px;"  ng-if="role.assignees.length == 0 || !role.assignees[0].person || !role.assignees[0].person.resource">
						<i class="fa fa-ban" style="color:#f34d4b"></i> <span>There are no assignees on this role</span>
					</div>
				</div>
			</table>
		</div>
		<script type="text/ng-template" id="custom/pager">
                <ul class="pager ng-cloak">
                    <li ng-repeat="page in pages"
                            ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                            ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
                        <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
                        <a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
                    </li>
                    <li>
                        <div class="btn-group" ng-show="page.type == 'prev' || page.type == 'next'">
                            <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                            <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                            <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                            <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
                        </div>
                    </li>
                </ul>
         </script>
		
	</div>

<div ng-if="financeAccess">
	<div class="row well">
		<div class="row">
			<div class="col-xs-12">
				<h4>Terms:</h4>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="row-fluid">
				<div class="col-xs-12 col-sm-6 col-md-3" ng-if="isFixedBid()">
					<label>Project Type:</label> <span>Fixed Bid</span>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3" ng-if="!isFixedBid()">
					<label>Project Type:</label> <span>Time and Materials</span>
				</div>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="row-fluid">
				<div class="col-xs-12 col-sm-6 col-md-3">
					<label>Software $ In Plan:</label> <span>(USD)
						{{(project.terms.softwareEstimate)?(project.terms.softwareEstimate):0
						| currency}}</span>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<label>Services $ In Plan:</label> <span>{{servicesTotal() |
						currency}}</span>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<label>Loaded $ In Plan:</label> <span>{{servicesLoadedTotal
						| currency}}</span>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<label>Services Margin %:</label> <span>{{projectMargin() |
						number:0}}</span>
				</div>
			</div>
		</div>
		<br />
	</div>

	<div class="row well" ng-if="!isFixedBid()">
		<div class="row">
			<div class="col-xs-12">
				<h4>Project Rate Table (Total):</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<table ng-table="sowRolesTableParams" class="table peopleList"
					template-pagination="custom/pager" compute-estimate="totalEstimate">
					<thead>
						<tr>
							<th>Role</th>
							<th class="hidden-xs">Advertised Rate</th>
							<th>Project Rate</th>
							<th>Rate Units</th>
							<th>Usage</th>
							<th>Time Period</th>
							<th>Estimated Total</th>
							<th></th>
						</tr>
					</thead>
					<tr ng-repeat="role in $data">
						<td span>{{roleGroups[role.type.resource].abbreviation}}</span>
						</td>
						<td class="hidden-xs">{{role.rate.advAmount}}</td>

						<td>{{role.rate.amount}}</td>
						<td>{{role.rate.rateUnits}}</td>
						<td><span>{{role.rate.getNumberOfTUs()}}</span></td>
						<td>{{role.rate.getNumPeriods(role.startDate, role.endDate)}}</td>
						<td>{{role.formatMoney(role.rate.getEstimatedTotal(role.startDate,
							role.endDate), 0)}}</td>
					</tr>
					<tfoot>
						<tr>
							<td />
							<td />
							<td />
							<td />
							<td />
							<td><b>Total Estimate:</b></td>
							<td><span>{{formatMoney(getServicesEstimate(),0)}}</span></td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</div>