<div ng-controller="SummaryCtrl" id="summary" class="tab-pane active">
    <form name="ProjectForm" class="projectForm">
        <fieldset>
            <div class="row-fluid">
                <h4 class="span4">{{project.customerName}}</h4>
                <h3 class="span4">{{project.name}}</h3>
                <div class="span4">
                    {{project.startDate | date}} to {{project.endDate | date}}
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12" ng-bind-html="project.description | markdown">
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="well">
                        {{project.terms.totalEstValue}}
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <table ng-table="roleTableParams"  class="table">
                        <tr ng-repeat="role in project.roles">
                            <td data-title="'Role'">{{role.type.id}}</td>
                            
                            <td data-title="'Assignee'" >
	                            <div ng-hide="role.assignee==null" ng-repeat="p in people.people | filter:{id:role.assignee}:false">
	   									 {{p.name}}
								</div>
							</td>
                        </tr>
                    </table>
                </div>
            </div>
        </fieldset>
    </form>
</div>