@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-5vmv5q');
	src:url('fonts/icomoon.eot?#iefix-5vmv5q') format('embedded-opentype'),
		url('fonts/icomoon.woff?-5vmv5q') format('woff'),
		url('fonts/icomoon.ttf?-5vmv5q') format('truetype'),
		url('fonts/icomoon.svg?-5vmv5q#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-projects:before {
	content: "\e600";
}
.icon-calendar:before {
	content: "\e601";
}
.icon-admin:before {
	content: "\e602";
}
.icon-clients:before {
	content: "\e603";
}
.icon-staffing:before {
	content: "\e604";
}
.icon-people:before {
	content: "\e605";
}
.icon-dashboard:before {
	content: "\e606";
}
