<br />
<div class="row">
	<div class="col-xs-12 col-sm-5 col-lg-6">
		<select class="form-control" ng-model="projectFilter"
			ng-change="handleProjectFilterChanged()">
			<option value="all">All Projects</option>
			<option value="active">Active Projects</option>
			<option value="backlog">Backlog Projects</option>
			<option value="pipeline">Pipeline Projects</option>
		</select>
	</div>
	<div class="col-xs-4 col-sm-3 col-lg-2 pull-right xs-padding-top">
		<div class="btn-group pull-right">
			<button class="pull-right btn btn-default" ng-click="createProject()">
				<i class="fa fa-plus-square"></i> <span>Add Project</span>
			</button>
		</div>
	</div>
	<div class="col-xs-8 col-sm-4 col-lg-4 pull-right xs-padding-top">
		<input class="form-control" placeholder="Filter Projects"
			ng-model="filterText">
	</div>
</div>
<br />
<div class="row">
	<div class="col-xs-12">
		<table ng-table="tableParams" template-pagination="projectPager"
			class="table">
			<tbody ng-repeat="project in $data | filter:filterText">
				<tr>
					<td data-title="'Name'" sortable="'title'"><a href="#{{project.resource}}">{{project.title}}</a></td>
					<!-- <td data-title="'Description'" sortable="'description'"><div class="description">{{project.description}}</div></td> -->
					<td data-title="'State'"><i class="{{projectStateIcon(project)}}"></i> <span class="hidden-xs">{{projectState(project)}}</span></td>
					<td data-title="'Start Date'" sortable="'startDate'">{{project.startDate}}</td>
					<td data-title="'End Date'" sortable="'endDate'">{{project.endDate}}</td>
				</tr>
			</tbody>
		</table>
		<script type="text/ng-template" id="projectPager">
          <ul class="pager ng-cloak">
            <li ng-repeat="page in pages"
                  ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                  ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
              <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
              <a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
            </li>
            <li>
              <div class="btn-group">
                  <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                  <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                  <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                  <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
              </div>
            </li>
          </ul>
      </script>

	</div>
</div>