<div ng-form="projectForm" ng-class="{submitted: submitAttempted}">

    <div class="row">
        <div class="col-xs-8"><h2>{{ title }} <span class="badge badge-important">{{messages.length}}</span></h2></div>
        <div id="pageActions" class="actions col-xs-4">
            <button type="submit" class="btn" ng-click="save()"><i class="fa fa-floppy-o"></i> <span>Save</span></button>
        </div>
    </div>

    <div id="messages" class="alert alert-danger" ng-show="messages.length > 0">
        <a class="close" data-dismiss="alert">&times;</a>
        <ul>
            <li ng-repeat="message in messages">{{message}}</li>
        </ul>
    </div>

    <tabset>
        <tab id="details" heading="Details">
            <ng-include src="'views/projects/show/details.html'"></ng-include>
        </tab>
        <tab id="roles" heading="Roles">
            <ng-include src="'views/projects/show/roles.html'"></ng-include>
        </tab>
        <tab id="assignments" heading="Assignments">
            <ng-include src="'views/projects/show/assignments.html'"></ng-include>
        </tab>
        <tab id="summary" heading="Summary">
            <ng-include src="'views/projects/show/summary.html'"></ng-include>
        </tab>
    </tabset>
</div>