<div ng-form="projectForm" ng-class="{submitted: submitAttempted}">
	<div class="row">
		<div class="col-xs-10 col-sm-9 col-lg-10"><h2>{{ title }} <span class="badge badge-important">{{messages.length}}</span></h2></div>
    	<div class="col-xs-2 col-sm-3 col-lg-2"><h3 class="pull-right"><i class="{{projectStateIcon(project)}}"></i> <span class="hidden-xs">{{projectState(project)}}</span></h3></div>
    </div>
    <div id="messages" class="alert alert-danger" ng-show="messages.length > 0">
       <!--  <a class="close" data-dismiss="alert">&times;</a> -->
        <ul>
            <li ng-repeat="message in messages">{{message}}</li>
        </ul>
    </div>
    <div>
    	 <tabset>
    	 	<tab id="summary" heading="Summary" active="activeTab['/summary']" select="tabSelected('/summary')">
	        	<div ng-if="projectLoaded">
	            	<ng-include src="'views/projects/show/summary.html'"></ng-include>
	            </div>
	        </tab>
	        <tab id="assignments" heading="Assignments"  active="activeTab['/assignments']" select="tabSelected('/assignments')">
	        	<div ng-if="projectLoaded">
	            	<ng-include src="'views/projects/show/assignments.html'"></ng-include>
	            </div>
	        </tab>
	        <tab id="hours" heading="Hours"  active="activeTab['/hours']" select="tabSelected('/hours')">
	        	<div ng-if="projectLoaded">
	            	<ng-include src="'views/projects/show/hours.html'"></ng-include>
	            </div>
	        </tab>
	        <tab id="links" heading="Links"  active="activeTab['/links']" select="tabSelected('/links')">
	        	<div ng-if="projectLoaded">
	            	<ng-include src="'views/projects/show/links.html'"></ng-include>
	            </div>
	        </tab>
	        
	        
	    </tabset>
    </div>
</div>