<div>
<!-- Nav tabs -->
  <div>
    	 <tabset class="nav nav-pills">
    	 	<tab id="roles" heading="Roles" >
	        	<div>
	            	<ng-include src="'views/admin/roles.html'"></ng-include>
	            </div>
	        </tab>
	        <tab id="groups" heading="Groups">
	        	<div>
	            	<ng-include src="'views/admin/groups.html'"></ng-include>
	            </div>
	        </tab>        
	        <tab id="tasks" heading="Tasks">
	        	<div>
	            	<ng-include src="'views/admin/tasks.html'"></ng-include>
	            </div>
	        </tab>    	        
	    </tabset>
    </div>
</div>