<div ng-controller="ConfigCtrl">
    <div class="col-xs-8"><h3>Configuration</h3></div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table">
                <tbody ng-repeat="property in properties">
                <tr>
                    <td data-title="'Name'" sortable="'name'">
                        {{property.name}}
                    </td>
                    <td data-title="'Value'">
                        {{property.value}}
                    </td>
                    <td class="actionsCell">
                        <button class="btn btn-default" ng-click="edit($index)">
                            <i class="fa fa-pencil"></i>
                        </button>
                    </td>
                </tr>
                <tr ng-show="editIndex===$index" ng-if="editIndex===$index">
                    <td colspan="3">
                        <div ng-form="newRoleForm{{$index}}" id="editDialog{{$index}}" class="well">
                            <div class="row">
                                <div class="col-xs-2">Name:</div>
                                <div class="col-xs-4"><input ng-model="property.name"/></div>
                                <div class="col-xs-2">Value:</div>
                                <div class="col-xs-4"><input ng-model="property.value"/></div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <input class="btn" value="Save" ng-click="save()" ng-show="editRoleIndex!=null"/>
                                    <input class="btn" value="Cancel" ng-click="cancel()"/>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
