/* Copyright © 2015 PointSource, LLC. All rights reserved. */
.no-padding {
	padding: 0;
}

// a {
// 	&:hover {
// 		cursor: pointer;
// 	}
// }

.primary-view {
  position: absolute;
  top: 0;
  bottom: 64px;
  width: 100%;
  overflow-y: auto;
  padding-bottom: 20px;
  background-color: white;

	&.slideInLeft, &.slideOutLeft, &.slideInRight, &.slideOutRight {

		&.ng-enter, &.ng-leave {
			transition: all 0.25s linear;
		}
	}
}

.header-bar-container {
    @include grid-block(
        $size: shrink
    )
}

.content-container {
    @include grid-block;

    h2 {
    }
}

/**
 *
 * iScroll styles
 *
 */

#scroller {
	padding-bottom: 60px;
}

#pullDown {
	padding: 0.5rem 0;
	text-align: center;
	font-size: 1.5rem;
	transition: 0.25s;
	color: $gray;

	&.flip, &.loading {
		font-size: 2.5rem;
		color: $primary-color;
	}

	.pullDownLabel {
		height: 3rem;
		line-height: 3rem;
		border-bottom:1px solid #ccc;
	}
}

#login-modal {
    .modal {
        width: 240px;
        > div {
            margin: 10px auto;
            text-align: center;
        }
    }
}
