/* Copyright © 2015 PointSource, LLC. All rights reserved. */

.header-title-bar {
    // Extend the base selector to get core structural styles
    @extend %title-bar;
    // Add visual styles with this mixin
    @include title-bar-style( $background: $dark-color, $color: $gray-lightest, $border: 1px solid $gray-dark, $padding: 0 1rem);
    @include breakpoint(medium) {
        @include title-bar-style( $padding: 0 1rem);
    }
    @include breakpoint(large) {
        @include title-bar-style( $background: $gray-lightest, $padding: 0 1rem);
    }
    font-size: 1.6rem;
    color: $gray-lightest;
    a {
        color: $gray-lightest;
        :hover {
            color: $gray-light;
        }
    }
}

.mastermind-title {
    padding: 0 1rem;
    color: $gray-lightest;
    @include breakpoint(large) {
        a {
            color: $gray-dark;
            :hover {
                color: black;
            }
        }
    }
}

.user-profile-image {
    border: 5px solid transparent;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    &:hover {
        border-color: white;
    }
}

// .title-bar {
//     font-size: 1.7rem;
//     color: $secondary-color;
//     &.title-bar-has-icons {
//         padding: 0;
//         .left {
//             &.no-icon {
//                 padding-left: 1rem;
//             }
//         }
//         .right {
//             &.no-icon {
//                 padding-right: 1rem;
//             }
//         }
//     }
//     .fa {
//         width: 3rem;
//         height: 3rem;
//         line-height: 3rem;
//         text-align: center;
//         &:hover {
//             cursor: pointer;
//         }
//     }
//     a {
//         color: $secondary-color;
//         :hover {
//             color: darken($secondary-color, 10);
//         }
//     }
// }
