<div class="grid-block small-12 medium-12">
    <div class="grid-content no-padding">
        <div class="header-title-bar">
            <div class="title center hide-for-medium">
                <a ui-sref="home">
                    <span class="text-bold">Master</span><span class="text-light">Mind</span>
                </a>
            </div>
            <span class="left hide-for-medium"><a zf-open="main-menu"><i class="fa fa-bars"></i></a></span>
            <span class="right"></span>
        </div>
    </div>
</div>
