

<div class="container calendar" ng-controller="CalendarCtrl">
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-9">
            <form class="form-inline hide-pending" style="margin-top: 4px;">
                <label class="control-label" style="margin-top: -5px;">
                    <input type="checkbox" ng-model="hidePendingVacations" ng-change="showHidePending($event)" />
                    Hide pending vacation requests
                </label>
            </form>
        </div>
        <div class="col-md-3">
            <form class="form-inline">
                <label class="control-label" style="margin-top: 7px;">Filter by:</label>
                <select name="filterVacationBy" class="form-control pull-right"
                        ng-model="filterVacationsByCurrent"
                        ng-required="true"
                        ng-change="filterVacationsByChanged($event)"
                        ng-options="f.value as f.label for f in filterVacationsBy"></select>
            </form>
        </div>
    </div>
    <!--<div class="row">
        <div class="col-md-9">
            <div class="btn-group" data-toggle="buttons" style="margin-top: 15px;">
                <label class="btn btn-default" ng-click="changeViewMode(VIEW_MODE_1WEEK)">
                    <input type="radio" name="options" />1 Week
                </label>
                <label class="btn btn-default" ng-click="changeViewMode(VIEW_MODE_2WEEK)">
                    <input type="radio" name="options" />2 Weeks
                </label>
                <label class="btn btn-default active" ng-click="changeViewMode(VIEW_MODE_MONTH)">
                    <input type="radio" name="options" />Month
                </label>
            </div>
        </div>
    </div>-->

    <div class="row">
        <div class="col-md-9">

        </div>

        <div class="col-md-3" ng-if="filterVacationsByCurrent == 'manager_name'">
            <form class="form-inline">
                <label class="control-label" style="margin-top:7px;">Manager name:</label>
                <select name="managersList" style="width:165px;" class="form-control pull-right"
                        ng-change="filterVacationsByManagerChanged($event, this)"
                        ng-options="f.value as f.label for f in managersList"
                        ng-model="selectedManager"></select>
            </form>
        </div>

        <div class="col-md-3" ng-if="filterVacationsByCurrent == 'project_name'">
            <form class="form-inline">
                <label class="control-label" style="margin-top:7px;">Project name:</label>
                <input class="form-control pull-right" name="selectedProject" style="width:165px;" ng-model="selectedProject" required typeahead-on-select="filterVacationsByProjectChanged($event, $item)"
                       placeholder="Select project" typeahead-min-length="2" highlight="true" typeahead="p as p.name for p in projectList | filter:{name:$viewValue}" />

            </form>
        </div>
        <div class="col-md-3" ng-if="filterVacationsByCurrent == 'role_name'">
            <form class="form-inline">
                <label class="control-label" style="margin-top:7px;">Role name:</label>
                <select name="rolesList" style="width:165px;" class="form-control pull-right"
                        ng-model="selectedRole"
                        ng-required="true"
                        ng-change="filterVacationsByRoleChanged($event, this)"
                        ng-options="f.value as f.label for f in rolesList"></select>

            </form>
        </div>
    </div>

    <div class="panel panel-default dashboard-widget widget calendar">
        <div class="panel-heading">
            <div class="inner-heading">


                <div class="header-container">
                    <div ng-click="goToPrevious()" class="back-month" style="float: left;">
                        <div>
                            <i class="fa fa-caret-left fa-2x"></i>
                        </div>
                    </div>

                    <div class="start-end">
                        {{startDate.format('MMMM D')}} &ndash; {{endDate.format('D')}}
                    </div>

                    <div ng-click="goToNext()" class="next-month" style="float: right">
                        <div>
                            <i class="fa fa-caret-right fa-2x"></i>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div ng-if="viewMode == VIEW_MODE_MONTH" class="panel-body">


            <div class="row hours-month-container hidden-xs" ng-class="{}">

                <div class="spinner-container" ng-hide="hideCalendarSpinner" style="width: calc(100% - 30px);">
                    <i class="fa fa-spinner fa-spin fa-3x"></i>
                </div>


                <div class="day-labels">
                    <div class="hours-day-caption empty">
                        <div class="hours-day-header">&nbsp;</div>
                    </div>
                    <div ng-repeat="dayLbl in weekDayLables" class="hours-day-caption long">
                        <div class="hours-day-header long">{{dayLbl | uppercase}}</div>
                    </div>
                    <div ng-repeat="dayLbl in weekDayLablesShort" class="hours-day-caption short">
                        <div class="hours-day-header short">{{dayLbl | uppercase}}</div>
                    </div>
                    <div class="hours-day-caption empty">
                        <div class="hours-day-header">&nbsp;</div>
                    </div>

                </div>
                <div ng-repeat-start="day in displayedMonthDays" ng-show="{{$index % 7 == 0}}" class="text-center hours-day-empty">
                    <div class="hours-day-entry"></div>
                </div>

                <div class="text-center hours-day" ng-class="{'active': day.date && selected.date && selected.date === day.date}">
                    <div class="hours-day-entry"
                         ng-class="{'hours-day-active': day.date && selected.date && selected.date === day.date,
		                				'hours-day-first-in-week': $index % 7 == 0 && $index > 0,
		                				'hours-day-not-logged': day.totalHours == 0}" ng-click="setSelected(e, day, $index)">

                        <div class="hours-day-content">
                            <div ng-repeat="vac in day.vacations" ng-show="{{$index < itemCount}}" ng-class="{'empty-vacation': vac.isEmpty}"
                                 class="text-left vacation-day-entry entry_{{$parent.$index}}_{{$index}}" style="background: {{vac.background}}"
                                 ng-mouseover="onVacationMouseOver(event, vac, $parent.$index, $index)" ng-mouseleave="onVacationHide(event, vac, $parent.$index, $index)"
                                 ng-click="onVacationClick(event, vac, $parent.$index, $index)">
                                <span ng-show="{{vac.startDateOfMultidays == day.date}}">{{(itemCount == 3 ? vac.person.lastName.toUpperCase() : vac.person.name) || '...'}}</span>
                                <span class="vacation-day-period" ng-show="{{vac.startDateOfMultidays == day.date}}">{{getVacationPeriod(vac)}}</span>
                                <span ng-show="{{vac.startDateOfMultidays != day.date}}">&nbsp;&nbsp;&nbsp;</span>
                                <script type="text/ng-template" id="oooDetails.html">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Out of Office Details</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-sm-4"><span style="font-weight: bold;">Employee</span></div>
                                            <div class="col-sm-8">{{details.vac.person.name}}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4"><span style="font-weight: bold;">Dates out</span></div>
                                            <div class="col-sm-8">{{details.out}}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4"><span style="font-weight: bold;">Category</span></div>
                                            <div class="col-sm-8">{{details.vac.type}}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4"><span style="font-weight: bold;">Description</span></div>
                                            <div class="col-sm-8">{{details.vac.description}}</div>
                                            v>
                                        </div>
                                        <!--<div class="row">
                                            <div class="col-sm-4"><span style="font-weight: bold;">Projects</span></div>
                                            <div class="col-sm-8">{{projects.join(", ")}}</div>
                                        </div>-->


                                    </div>
                                    <div class="modal-footer">
                                        <a ng-click="close();" class="btn btn-modal-primary pull-right">Close</a>
                                    </div>
                                </script>
                            </div>

                            <div ng-show="{{getCountNotEmptyVacations(day.vacations) > itemCount}}" ng-click="onShowMoreClicked($event, day.vacations, $index, itemCount)" class="text-left vacation-day-entry entry_{{$index}}_{{itemCount}}" style="background-color: { {day.moreBackground}}; ">
                                <span>+{{getCountNotEmptyVacations(day.vacations) - itemCount}} more...</span>
                            </div>
                        </div>

                        <div class="hours-day-footer">
                            <span ng-hide="{{day.vacations.length > 4}}" class="month-day">{{day.dayOfMonth}}</span>
                        </div>


                    </div>
                </div>


                <div ng-repeat-end ng-show="{{$index % 7 == 6 }}" class="text-center hours-day-empty last">
                    <div class="hours-day-entry">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-include src="'modules/calendar/views/ooo.html'" />
