<br />
<div class="spinner-container" ng-hide="hideSpinner" style="width: calc(100% - 30px);">
  <i class="fa fa-spinner fa-spin fa-3x"></i>
</div>
<div class="row-fluid" ng-if="projectManagementAccess">
	<div class="row">
		<div class="col-xs-5 col-sm-2 col-md-2">
			<select class="form-control" ng-model="filterRole2" ng-options="m.resource as m.title group by m.category for m in allRoles"></select>
		</div>
		<div class="col-xs-5 col-sm-3 col-md-3">
			<input  class="form-control" ng-model="projectToAssignTo.name" placeholder="Find project" typeahead-min-length="2" highlight="true" typeahead="p as p.name for p in projectList | filter:{name:$viewValue}" />
		</div>
		<div class="col-xs-5 col-sm-2 col-md-2">
   			<input class="form-control datepicker" placeholder="Start Date" data-date-format="yyyy-mm-dd" data-provide="datepicker" ng-model="filterStartDate" />
		</div>
		<div class="col-xs-5 col-sm-2 col-md-2">
   			<input class="form-control datepicker" placeholder="End Date" data-date-format="yyyy-mm-dd" data-provide="datepicker" ng-model="filterEndDate" />
		</div>
		<div class="col-xs-5 col-sm-2 col-md-2">
   			<input class="form-control" placeholder="Availability %" ng-model="filterAvailabilityPercentage" />
		</div>
		<div class="col-xs-2 checkbox">
   			<!-- <input id="rf-show-hidden-chk" type="checkbox" class="checkbox pull-left" />
   			<label for="rf-show-hidden-chk">show people on commitment investment projects</label> -->
		</div>
	</div>
		
	<div class="row people-header">
      <div class="col-xs-5 col-sm-4 person-header-name">
        <a class="header-name" ng-class="{ active: sortType=='name-asc' || sortType=='name-desc' }" ng-click="switchSort('name')">NAME</a>
        <div class="person-sorting">
          <button class="sorting-button"><i class="fa fa-caret-up" ng-class="{ 'active': sortType == 'name-asc'}" ng-click="changeSort('name-asc')"></i>
          </button>
          <button class="sorting-button"><i class="fa fa-caret-down" ng-class="{ 'active': sortType == 'name-desc'}" ng-click="changeSort('name-desc')"></i>
          </button>
        </div>
      </div>
      <div class="col-xs-5 col-sm-1 person-header">
        <a class="header-name" ng-class="{ active: sortType=='role-asc' || sortType=='role-desc' }" ng-click="switchSort('role')">ROLE</a>
        <div class="person-sorting">
          <button class="sorting-button"><i class="fa fa-caret-up" ng-class="{ 'active': sortType == 'role-asc'}" ng-click="changeSort('role-asc')"></i>
          </button>
          <button class="sorting-button"><i class="fa fa-caret-down" ng-class="{ 'active': sortType == 'role-desc'}" ng-click="changeSort('role-desc')"></i>
          </button>
        </div>
      </div>
      <div class="hidden-xs col-sm-3 person-header">
        <a class="header-name" ng-class="{ active: sortType=='group-asc' || sortType=='group-desc' }" ng-click="switchSort('group')">GROUP</a>
        <div class="person-sorting">
          <button class="sorting-button"><i class="fa fa-caret-up" ng-class="{ 'active': sortType == 'group-asc'}" ng-click="changeSort('group-asc')"></i>
          </button>
          <button class="sorting-button"><i class="fa fa-caret-down" ng-class="{ 'active': sortType == 'group-desc'}" ng-click="changeSort('group-desc')"></i>
          </button>
        </div>
      </div>
      <div class="col-xs-5 col-sm-2 person-header">
        <a class="header-name" ng-class="{ active: sortType=='availabilityDate-asc' || sortType=='availabilityDate-desc' }" ng-click="switchSort('availabilityDate')">AVAILABLE DATE</a>
        <div class="person-sorting">
          <button class="sorting-button"><i class="fa fa-caret-up" ng-class="{ 'active': sortType == 'availabilityDate-asc'}" ng-click="changeSort('availabilityDate-asc')"></i>
          </button>
          <button class="sorting-button"><i class="fa fa-caret-down" ng-class="{ 'active': sortType == 'availabilityDate-desc'}" ng-click="changeSort('availabilityDate-desc')"></i>
          </button>
        </div>
      </div>
      <div class="col-xs-5 col-sm-2 person-header">
        <a class="header-name" ng-class="{ active: sortType=='availabilityPercentage-asc' || sortType=='availabilityPercentage-desc' }" ng-click="switchSort('availabilityPercentage')">AVAILABILITY</a>
        <div class="person-sorting">
          <button class="sorting-button"><i class="fa fa-caret-up" ng-class="{ 'active': sortType == 'availabilityPercentage-asc'}" ng-click="changeSort('availabilityPercentage-asc')"></i>
          </button>
          <button class="sorting-button"><i class="fa fa-caret-down" ng-class="{ 'active': sortType == 'availabilityPercentage-desc'}" ng-click="changeSort('availabilityPercentage-desc')"></i>
          </button>
        </div>
      </div>
   	</div>
    <div res-repeater class="row people-row" ng-repeat="person in people | filter:filterResources(filterStartDate, filterEndDate, filterRole2, filterAvailabilityPercentage)" style="margin-top: 10px; margin-bottom: 0px;">
	    <a class="col-xs-2 col-sm-1 person-image" href="#{{person.resource}}">
	  		<img class="smallProfileImage" ng-src="{{person.thumbnail}}" />
		</a>
		<div class="col-xs-8 col-sm-3 res-person-name" style="height: 85px;">
	  		<a href="#{{person.resource}}">{{getPersonName(person)}}</a>
		</div>
		<div class="col-xs-7 col-sm-1 res-people-prop">
		  <div>
		    <div>{{person.primaryRole.abbreviation}}</div>
		  </div>
		</div>
		<div class="hidden-xs col-sm-3 res-people-prop">
		  <div>
		    <div>{{person.group}}</div>
		  </div>
		</div>
		<div class="col-xs-7 col-sm-2 res-people-prop">
		  <div>
		    <div>{{formatDate(person.availabilityDate)}}</div>
		  </div>
		</div>
		<div class="col-xs-2 col-sm-1 res-people-prop res-person-avail" style="font-weight: bold;">
		  <div>
		    <div>{{person.availabilityPercentage}}%</div>
	      </div>
		</div>
		<div class="col-xs-12 col-sm-1 res-people-prop res-person-btn-assign">
		  <div>
		    <div><button class="btn" ng-if="hideSpinner" ng-click="assignProject(projectToAssignTo, person, filterStartDate, filterEndDate)">Assign</button></div>
	      </div>
		</div>
	</div>
</div>