<br/>
<div class="row">
    <div class="col-xs-12 col-sm-3 col-md-3 xs-padding-top pull-right">
        <input class="form-control" placeholder="Filter Projects" ng-model="filterText" autofocus/>
    </div>
</div>
<div class="spinner-container" ng-hide="pipelineLoaded && activeLoaded && backlogLoaded"
     style="width: calc(100% - 30px);">
    <i class="fa fa-spinner fa-spin fa-3x"></i>
</div>
<div id="content">
    <div class="row-fluid" ng-if="projectManagementAccess">
        <div class="panel panel-danger dashboard-widget">
            <div class="panel-heading">Staffing Deficits:
                <a href="#/projects?filter=active"> Active Projects </a>

                <div class="pull-right  btn-group btn-group-sm dashboard-actions">
                    <a class="btn btn-default staffing-export-btn" ng-mousedown="activeDefToCSV.generate()"
                       ng-href="{{activeDefToCSV.link()}}" download="ActiveDeficit.csv">
                        <div class="hidden-xs"><i class="fa fa-table"></i><span> Export to CSV</span></div>
                        <div class="visible-xs"><i class="fa fa-table"></i></div>
                    </a>
                </div>
            </div>
            <table ng-table="unassignedRoleList" template-pagination="activeDeficit/pager" class="table margin-top"
                   export-active="activeDefToCSV">
                <thead>
                <th class="text-center sortable" ng-class="{
                    'sort-asc': unassignedRoleList.isSortBy('title', 'asc'),
                    'sort-desc': unassignedRoleList.isSortBy('title', 'desc')
                  }"
                    ng-click="unassignedRoleList.sorting({'title' : unassignedRoleList.isSortBy('title', 'asc') ? 'desc' : 'asc'})">
                    <div>Project</div>
                </th>
                <th class="text-center sortable" ng-class="{
                    'sort-asc': unassignedRoleList.isSortBy('role', 'asc'),
                    'sort-desc': unassignedRoleList.isSortBy('role', 'desc')
                  }"
                    ng-click="unassignedRoleList.sorting({'role' : unassignedRoleList.isSortBy('role', 'asc') ? 'desc' : 'asc'})">
                    <div>Role</div>
                </th>
                <th class="text-center sortable" ng-class="{
                    'sort-asc': unassignedRoleList.isSortBy('hours', 'asc'),
                    'sort-desc': unassignedRoleList.isSortBy('hours', 'desc')
                  }"
                    ng-click="unassignedRoleList.sorting({'hours' : unassignedRoleList.isSortBy('hours', 'asc') ? 'desc' : 'asc'})">
                    <div>Hours</div>
                </th>
                <th class="hidden-xs text-center sortable" ng-class="{
                    'sort-asc': unassignedRoleList.isSortBy('startDate', 'asc'),
                    'sort-desc': unassignedRoleList.isSortBy('startDate', 'desc')
                  }"
                    ng-click="unassignedRoleList.sorting({'startDate' : unassignedRoleList.isSortBy('startDate', 'asc') ? 'desc' : 'asc'})">
                    <div>Start Date</div>
                </th>
                <th class="hidden-xs text-center sortable" ng-class="{
                    'sort-asc': unassignedRoleList.isSortBy('endDate', 'asc'),
                    'sort-desc': unassignedRoleList.isSortBy('endDate', 'desc')
                  }"
                    ng-click="unassignedRoleList.sorting({'endDate' : unassignedRoleList.isSortBy('endDate', 'asc') ? 'desc' : 'asc'})">
                    <div>End Date</div>
                </th>
                <th class="visible-xs text-center sortable" ng-class="{
                    'sort-asc': unassignedRoleList.isSortBy('startDate', 'asc'),
                    'sort-desc': unassignedRoleList.isSortBy('startDate', 'desc')
                  }"
                    ng-click="unassignedRoleList.sorting({'startDate' : unassignedRoleList.isSortBy('startDate', 'asc') ? 'desc' : 'asc'})">
                    <div>Dates</div>
                </th>
                <th class="text-center">
                    <div>Resources Available</div>
                </th>
                </thead>
                <tbody>
                <tr ng-repeat="unassignedRole in $data | filter:filterStaffing(filterText)">
                    <td>
                        <a href="#{{unassignedRole.projectResource}}/assignments/edit">{{unassignedRole.title}}</a></td>
                    <td data-title="'Role'">
                        {{unassignedRole.role}}
                    </td>
                    <td data-title="'Hours'">
                        {{unassignedRole.hours}}
                    </td>
                    <td class="hidden-xs">
                        {{unassignedRole.startDate}}
                    </td>
                    <td class="hidden-xs">
                        {{unassignedRole.endDate}}
                    </td>
                    <td class="visible-xs">
                        <small>{{unassignedRole.startDate | date:'shortDate'}}</small>
                        <span ng-show="unassignedRole.endDate">-<br><small>{{unassignedRole.endDate |
                            date:'shortDate'}}
                        </small></span>
                        <span ng-hide="unassignedRole.endDate">- <small>N/A</small></span>
                    </td>
                    <td>
                        <!--ng-click="navigateToResourceTab(unassignedRole);"-->
                        <a href="{{getResourceFinderUrl(unassignedRole.projectName, unassignedRole.projectResource, unassignedRole.roleId, unassignedRole.role, unassignedRole.startDate, unassignedRole.endDate)}}">
                            <button class="btn">View Candidates</button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <script type="text/ng-template" id="activeDeficit/pager">
                <ul class="pager ng-cloak">
                    <li ng-repeat="page in pages"
                        ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                        ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
                        <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
                        <a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
                    </li>
                    <li>
                        <div class="btn-group" ng-show="page.type == 'prev' || page.type == 'next'">
                            <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)"
                                    class="btn btn-default">10
                            </button>
                            <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)"
                                    class="btn btn-default">25
                            </button>
                            <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)"
                                    class="btn btn-default">50
                            </button>
                            <button type="button" ng-class="{'active':params.count() == 100}"
                                    ng-click="params.count(100)" class="btn btn-default">100
                            </button>
                        </div>
                    </li>
                </ul>
            </script>
        </div>
    </div>

    <div class="row-fluid" ng-if="projectManagementAccess">
        <div class="panel panel-warning dashboard-widget">
            <div class="panel-heading">Staffing Deficits:
                <a href="#/projects?filter=backlog">Backlog Projects</a>

                <div class="pull-right  btn-group btn-group-sm dashboard-actions">
                    <a class="btn btn-default staffing-export-btn" ng-mousedown="backlogDefToCSV.generate()"
                       ng-href="{{backlogDefToCSV.link()}}" download="backlogDeficit.csv">
                        <div class="hidden-xs"><i class="fa fa-table"></i><span> Export to CSV</span></div>
                        <div class="visible-xs"><i class="fa fa-table"></i></div>
                    </a>
                </div>
            </div>
            <table ng-table="backlogRoleList" template-pagination="backlogDeficit/pager"
                   class="table margin-top" export-backlog="backlogDefToCSV">
                <thead>
                <th class="text-center sortable" ng-class="{
                    'sort-asc': backlogRoleList.isSortBy('title', 'asc'),
                    'sort-desc': backlogRoleList.isSortBy('title', 'desc')
                  }"
                    ng-click="backlogRoleList.sorting({'title' : backlogRoleList.isSortBy('title', 'asc') ? 'desc' : 'asc'})">
                    <div>Project</div>
                </th>
                <th class="text-center sortable" ng-class="{
                    'sort-asc': backlogRoleList.isSortBy('role', 'asc'),
                    'sort-desc': backlogRoleList.isSortBy('role', 'desc')
                  }"
                    ng-click="backlogRoleList.sorting({'role' : backlogRoleList.isSortBy('role', 'asc') ? 'desc' : 'asc'})">
                    <div>Role</div>
                </th>
                <th class="text-center sortable" ng-class="{
                    'sort-asc': backlogRoleList.isSortBy('hours', 'asc'),
                    'sort-desc': backlogRoleList.isSortBy('hours', 'desc')
                  }"
                    ng-click="backlogRoleList.sorting({'hours' : backlogRoleList.isSortBy('hours', 'asc') ? 'desc' : 'asc'})">
                    <div>Hours</div>
                </th>
                <th class="hidden-xs text-center sortable" ng-class="{
                    'sort-asc': backlogRoleList.isSortBy('startDate', 'asc'),
                    'sort-desc': backlogRoleList.isSortBy('startDate', 'desc')
                  }"
                    ng-click="backlogRoleList.sorting({'startDate' : backlogRoleList.isSortBy('startDate', 'asc') ? 'desc' : 'asc'})">
                    <div>Start Date</div>
                </th>
                <th class="hidden-xs text-center sortable" ng-class="{
                    'sort-asc': backlogRoleList.isSortBy('endDate', 'asc'),
                    'sort-desc': backlogRoleList.isSortBy('endDate', 'desc')
                  }"
                    ng-click="backlogRoleList.sorting({'endDate' : backlogRoleList.isSortBy('endDate', 'asc') ? 'desc' : 'asc'})">
                    <div>End Date</div>
                </th>
                <th class="visible-xs text-center sortable" ng-class="{
                    'sort-asc': backlogRoleList.isSortBy('startDate', 'asc'),
                    'sort-desc': backlogRoleList.isSortBy('startDate', 'desc')
                  }"
                    ng-click="backlogRoleList.sorting({'startDate' : backlogRoleList.isSortBy('startDate', 'asc') ? 'desc' : 'asc'})">
                    <div>Dates</div>
                </th>
                <th class="text-center">
                    <div>Resources Available</div>
                </th>
                </thead>
                <tr ng-repeat="backlogRole in $data | filter:filterStaffing(filterText)"
                    style="{{getProjectItemCss(backlogRole.isProjectItem)}}">
                    <td sortable="'title'">
                        <a href="#{{backlogRole.projectResource}}">{{backlogRole.title}}</a></td>
                    <td sortable="'role'">{{backlogRole.role}}</td>
                    <td sortable="'hours'">
                        {{backlogRole.hours}}
                    </td>
                    <td class="hidden-xs" data-title="'Start Date'" sortable="'startDate'">
                        {{backlogRole.startDate}}
                    </td>
                    <td class="hidden-xs" data-title="'End Date'" sortable="'endDate'">
                        {{backlogRole.endDate}}
                    </td>
                    <td class="visible-xs">
                        <small>{{backlogRole.startDate | date:'shortDate'}}</small>
                        <span ng-show="backlogRole.endDate">-<br><small>{{backlogRole.endDate | date:'shortDate'}}
                        </small></span>
                        <span ng-hide="backlogRole.endDate">- <small>N/A</small></span>
                    </td>
                    <td>
                        <button class="btn"
                                onclick="$timeout(function(){ $('#groups tab-heading').click(); }, 300);"
                                ng-click="navigateToResourceTab(backlogRole);" ng-show="!backlogRole.isProjectItem">View
                            Candidates
                        </button>
                    </td>
                </tr>

            </table>

            <script type="text/ng-template" id="backlogDeficit/pager">
                <ul class="pager ng-cloak">
                    <li ng-repeat="page in pages"
                        ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                        ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
                        <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
                        <a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
                    </li>
                    <li>
                        <div class="btn-group" ng-show="page.type == 'prev' || page.type == 'next'">
                            <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)"
                                    class="btn btn-default">10
                            </button>
                            <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)"
                                    class="btn btn-default">25
                            </button>
                            <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)"
                                    class="btn btn-default">50
                            </button>
                            <button type="button" ng-class="{'active':params.count() == 100}"
                                    ng-click="params.count(100)" class="btn btn-default">100
                            </button>
                        </div>
                    </li>
                </ul>
            </script>
        </div>
    </div>

    <div class="row-fluid" ng-if="projectManagementAccess">
        <div class="panel panel-info dashboard-widget">
            <div class="panel-heading">Staffing Deficits:
                <a href="#/projects?filter=pipeline">Pipeline Projects</a>

                <div class="pull-right  btn-group btn-group-sm dashboard-actions">
                    <a class="btn btn-default staffing-export-btn" ng-mousedown="pipelineToCSV.generate()"
                       ng-href="{{pipelineToCSV.link()}}" download="pipeline.csv">
                        <div class="hidden-xs"><i class="fa fa-table"></i><span> Export to CSV</span></div>
                        <div class="visible-xs"><i class="fa fa-table"></i></div>
                    </a>
                </div>
            </div>
            <table ng-table="pipeListProjects" template-pagination="pipeline/pager"
                   class="table margin-top" export-pipeline="pipelineToCSV">
                <thead>
                <th class="text-center sortable" ng-class="{
                    'sort-asc': pipeListProjects.isSortBy('title', 'asc'),
                    'sort-desc': pipeListProjects.isSortBy('title', 'desc')
                  }"
                    ng-click="pipeListProjects.sorting({'title' : pipeListProjects.isSortBy('title', 'asc') ? 'desc' : 'asc'})">
                    <div>Project</div>
                </th>
                <th class="text-center sortable" ng-class="{
                    'sort-asc': pipeListProjects.isSortBy('role', 'asc'),
                    'sort-desc': pipeListProjects.isSortBy('role', 'desc')
                  }"
                    ng-click="pipeListProjects.sorting({'roles' : backlogRoleList.isSortBy('roles', 'asc') ? 'desc' : 'asc'})">
                    <div>Roles</div>
                </th>
                <th class="hidden-xs text-center sortable" ng-class="{
                    'sort-asc': pipeListProjects.isSortBy('startDate', 'asc'),
                    'sort-desc': pipeListProjects.isSortBy('startDate', 'desc')
                  }"
                    ng-click="pipeListProjects.sorting({'startDate' : pipeListProjects.isSortBy('startDate', 'asc') ? 'desc' : 'asc'})">
                    <div>Start Date</div>
                </th>
                <th class="hidden-xs text-center sortable" ng-class="{
                    'sort-asc': pipeListProjects.isSortBy('endDate', 'asc'),
                    'sort-desc': pipeListProjects.isSortBy('endDate', 'desc')
                  }"
                    ng-click="pipeListProjects.sorting({'endDate' : pipeListProjects.isSortBy('endDate', 'asc') ? 'desc' : 'asc'})">
                    <div>End Date</div>
                </th>
                <th class="visible-xs text-center sortable" ng-class="{
                    'sort-asc': pipeListProjects.isSortBy('startDate', 'asc'),
                    'sort-desc': pipeListProjects.isSortBy('startDate', 'desc')
                  }"
                    ng-click="pipeListProjects.sorting({'startDate' : pipeListProjects.isSortBy('startDate', 'asc') ? 'desc' : 'asc'})">
                    <div>Dates</div>
                </th>
                </thead>
                <tr ng-repeat="pipelineRole in $data | filter:filterStaffing(filterText)">
                    <td sortable="'title'">
                        <a href="#{{pipelineRole.projectResource}}">{{pipelineRole.title}}</a></td>
                    <td sortable="'role'">{{pipelineRole.role}}</td>
                    <td class="hidden-xs" data-title="'Start Date'" sortable="'startDate'">
                        {{pipelineRole.startDate}}
                    </td>
                    <td class="hidden-xs" data-title="'End Date'" sortable="'endDate'">
                        {{pipelineRole.endDate}}
                    </td>
                    <td class="visible-xs">
                        <small>{{pipelineRole.startDate | date:'shortDate'}}</small>
                        <span ng-show="pipelineRole.endDate">-<br><small>{{pipelineRole.endDate | date:'shortDate'}}
                        </small></span>
                        <span ng-hide="pipelineRole.endDate">- <small>N/A</small></span>
                    </td>
                </tr>
            </table>

            <script type="text/ng-template" id="pipeline/pager">
                <ul class="pager ng-cloak">
                    <li ng-repeat="page in pages"
                        ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                        ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
                        <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
                        <a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
                    </li>
                    <li>
                        <div class="btn-group" ng-show="page.type == 'prev' || page.type == 'next'">
                            <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)"
                                    class="btn btn-default">10
                            </button>
                            <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)"
                                    class="btn btn-default">25
                            </button>
                            <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)"
                                    class="btn btn-default">50
                            </button>
                            <button type="button" ng-class="{'active':params.count() == 100}"
                                    ng-click="params.count(100)" class="btn btn-default">100
                            </button>
                        </div>
                    </li>
                </ul>
            </script>
        </div>
    </div>


