html {
    background-color: #EEEEEE;
}

body {
  font-family: 'Open Sans', sans-serif !important;
}

#mainContent{
  background-color: #EEEEEE;
}


h1, .h1{
	color: @gray-dark;
}
h2, .h2{
	color: @gray;
	font-weight: 300;
}
h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
	color: @gray-less;
}
h6, .h6{
	font-weight: 700;
}

.form-control{
	border: 1px solid #ccc;
	min-height: 40px;
	font-family: 'Open Sans', sans-serif;
  	font-size: 16px;
	color:#aaa;
}

.form-control:focus{
	color: @gray-dark;
}

label {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: @gray-dark;
  margin-bottom: 14px;
}

/* Set the placeholder color across browsers */
::-webkit-input-placeholder {
  color: @placeholder-color;
}

:-moz-placeholder {
  color: @placeholder-color;
}

::-moz-placeholder {
  color: @placeholder-color;
}

:-ms-input-placeholder {
  color: @placeholder-color;
}

.pageActions {
  text-align: right;
  margin-top: 16px;
}

.full {
  max-width: initial !important;
}

.appTitle{
	font-size:28px;
  width: 100%;
}


.input-insert.insert-right .add-in {
  margin-left: -29px;
  position: relative;
}

.input-insert {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
  max-width: 240px;
}

.add-in {
  vertical-align: top;
  display: inline-block;
  width: auto;
  height: 20px;
  min-height: 16px;
  padding: 4px 5px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  pointer-events: none;
}

.input-insert.insert-left .add-in {
  margin-left: 5px;
  position: absolute;
}

.input-insert.insert-left input {
  text-indent: 18px;
}

.input-icon {
  color: @placeholder-color;
}

label.radio, label.checkbox {
  font-family: 'Open Sans', sans-serif;
}

.required-label:before {
  content: '* ';
}


/**NG Table Overrides**/
.ng-table th {
	text-align: left;
}
.ng-table th.sortable.sort-desc, .ng-table th.sortable.sort-asc{
	background-color:@gray-light;
}

.margin-top {
  margin-top: 20px;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.no-margin {
  margin: 0px !important;
}

.no-padding {
  padding: 0px;
}

.no-bottom-padding {
  padding-bottom: 0px !important;
}

.no-horizontal-margin {
  margin-left: 0px;
  margin-right: 0px;
}

.no-horizontal-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.no-vertical-margin {
  margin-top: 0px;
  margin-bottom: 0px;
}

.no-vertical-padding {
  padding-top: 0px;
  padding-bottom: 0px;
}

.no-left-padding {
  padding-left: 0px;
}

.no-right-padding {
  padding-right: 0px;
}

.table {
  tr {
    td {
      &.actionsCell {
        text-align: right;
      }
      .description{
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 4;
			line-height: 20px;
			max-height: 90px;
			overflow: hidden;
			text-overflow: ellipsis;
	  }
    }
  }
  &.fixed{
  	table-layout: fixed;
  }
}
.form-control {
  height: auto;
}

select{
	&.form-control {
  		height:34px;
	}
}

.modal{
	top: 20%;
 }

.container {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: @screen-sm) {
  body {
    padding-top: 78px;
    //padding-bottom: 25px;
  }
}

@media (max-width: @screen-xs-max) {
  body {
    padding-top: 61px;
    //padding-bottom: 25px;

    .panel{
    	.panel-heading, .panel-body{
    		padding: 10px;
    	}
    }

    .container{
    	padding: 10px;
    }
  }


}

.dashboard-widget  .panel-heading {
  background-color: @smoothBlueRegular !important;
  color: white !important;

  > .fa {
    display: none;
  }
}

a.staffing-export-btn
{
	padding: 5px 10px 5px 10px !important;
	margin: -6px -12px 0 0 !important;
}

.panel-danger {
  border: none;

  .panel-heading {color: #4d4d4d !important;
    background-color: #f5d6ce !important;
    border-radius: 0;
    border: none;
    // border-color: #db6d4f !important;
  }
}

.panel-warning > .panel-heading {
  color: #4d4d4d !important;
  background-color: #fffcde !important;
  border-radius: 0;
  border: none;
  // border-color: #ffec45 !important;
}

.item-row {
    background-color: white;
    color: @smoothBlueRegular;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 10px -2px 0 0;
}

.item-prop {
    padding-top: 25px;
    color: black;
    font-size: 20px;
    color: #737373;
}

.item-prop-big {
    font-size: 40px;
    padding-left: 0px;
    font-weight: bold;
    color: black;
    padding-top: 5px;
}

.sort-buttons {
    > button {
        background-color: #4d4d4d;
        color: white;
        border-radius: 0px;
        border: 1px solid #4d4d4d
    }
}
.black-text {
  color: @gray-dark;
}
.gray-text {
  color: @gray-less;
}
.bold-text {
  font-weight: bold;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.color-gray-image-border {
  color: @gray-image-border;
}
@media (max-width: @screen-xs-max) {
  .margin-bottom-xs {
    margin-bottom: 10px;
  }
  .margin-right-xs {
    margin-right: 10px;
  }
  .padding-left-xs {
    padding-left: 15px !important;
  }
  .padding-right-xs {
    padding-right: 15px !important;
  }
  .no-left-padding-xs {
    padding-left: 0px;
  }
  .no-horizontal-margin-xs {
    margin-left: 0px; margin-right: 0px;
  }
  .no-horizontal-padding-xs {
    padding-left: 0px !important; padding-right: 0px !important;
  }
  .horizontal-padding-xs {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: @screen-sm-max) {
  .no-left-padding-sm {
    padding-left: 0px !important;
  }
}
@media (max-width: @screen-md-max) {
  .vertical-margin-md {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .margin-bottom-md {
    margin-bottom: 10px;
  }
}
.bootstrap-select {
  width: 100% !important;
}
.selectpicker > li > a > span {
  font-size: 15px;
}
@media (min-width: @screen-md-max) {
  .padding-left-lg {
    padding-left: 15px !important;
  }
}

.width25 {
  width: 25%;
}

.width20 {
  width: 20%;
}

.width10 {
  width: 10%;
}

.color-yellow {
  color: #ffbe00;
}

.bold {
  font-weight: bold;
}

.color-gray-less {
  color: @gray-less;
}

.padding-top-5 {
  padding-top: 5px;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-top-15 {
  padding-top: 10px !important;
}

.padding-top-20 {
  padding-top: 20px;
}

.padding-top-30 {
  padding-top: 30px;
}

.padding-left-10 {
  padding-left: 10px;
}

.padding-bottom-5 {
  padding-bottom: 5px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.vac-type {
  color: #808080;
  font-weight: 500;
}

.vac-row {
 border-bottom: 1px solid #ededed;
 padding-top: 15px;
 margin-bottom: 0px !important;
 background-color: #f7f7f7;
}

.vac-first-col {
  font-weight: bold; 
  color: #808080; 
  font-size: 15px;
}

.btn-deny {
  background-color: red !important;
  border-radius: 1px;
  border: 0px;
  margin-right: 15px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  
}

.btn-approve {
  background-color: #1cc127 !important;
  border-radius: 1px;
  border: 0px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  
}
.smallDates {
  font-size: 12px;
}
.italic {
  font-style: italic;
}
.notifications {
  height: auto !important;
}
.notifications > div {
  /*min-height: 70px;*/
  height: 100%;
  border-bottom: 2px solid white;
}
.notification-request {
  color: #ffbe00;
}
.notification-request-cancel {
  color: red;
}
.notification-bell {
  padding-left: 27px;
  padding-top: 22px;
  color: @gray-image-border;
}
.notification-text {
  font-size: 13px;
  color: @gray-image-border;
  padding-top: 5px;
}
.notification-icon {
  text-align: center;
  padding-top: 25px;
  > i {
    font-size: 19px;
    font-weight: bold;
  }
}
.notification-container {
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  padding-top: 10px;
  padding-bottom: 10px;
}
.no-notifications {
  padding: 25px 0 25px 30px;
}
.horizontal-padding-15 {
  padding-left: 15px;
  padding-right: 15px;
}
.security-roles {
  margin: 15px 0 15px 0;
  border-bottom: 1px solid @gray-image-border;
  padding-bottom: 10px;
}
.security-members {
  > div {
    padding-left: 50px;
  }
}
.security-members-edit {
  border-bottom: 1px solid @gray-image-border;
  border-radius: 5px;
  background-color: white; 
  height: 40px;
  > div {
    padding-top: 10px;
  }
}
.glyphicon.glyphicon-ok.icon-ok.check-mark {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon.glyphicon-ok.icon-ok.check-mark:before {
  content: "\f00c";
}
.user-security-role {
  display: inline;
  padding: 5px; 
  margin-right: 10px;
  background-color: #1ba2c1; 
  color: white; 
  font-weight: bold;
  margin-top: 5px;
  white-space: nowrap;
  
  > div {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
  }
}