// out: ../main.css
@import '_base';
#appContent {
  @media (min-width:@screen-md-min) {
    margin-left: 280px;
  }
}
#navbar1 {
  height: 79px;
  left: 280px;
  background-color: @body-bg;
  color: @gray-dark;
  border-bottom: 1px solid @gray-light;
  border-top: 2px solid @turquoiseRegular;
  -moz-box-shadow: 0 2px 2px -2px @gray-outline;
  -webkit-box-shadow: 0 2px 2px -2px @gray-outline;
  box-shadow: 0 2px 2px -2px @gray-outline;
}
@media (max-width:991px) {
  #navbar1 {
    left: 0px;
    background-color: @charcoleRegular;
  }
  #navbar1 .user-info-container {
    background-color: @charcoleRegular;
    border-left: none;
    &.open {
      box-shadow: none;
    }
  }
  .user-info-container .drop-cover {
    bottom: -8px !important;
  }
}
@media (max-width:780px) {
  #navbar1 .user-info-container.open {
    box-shadow: none;
  }
}
@media (min-width:320px) and (max-width:480px) {
  #navbar1 .user-info-container {
    &.open #profile-photo {
      box-shadow: none;
    }
  }
}
#navbar2, .collapse.width.in {
  top: 78px;
  bottom: 0px;
  position: fixed;
  width: 280px !important;
  border-top: 2px solid @turquoiseRegular;
  //padding-top: 12px;
  @media (max-width:@screen-sm-max) {
    background-color: @gray-dark;
  }
  max-height: none;
  li {
    width: 100%;
    height: 50px;
    margin-bottom: 5px;
  }
}
.navbar-inverse {
  background-color: @gray-dark;
  li a:hover, li.active a, li.active a:hover {
    color: @navbar-default-link-active-color !important;
    background-color: @charcoleMedium !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
  }
  li {
    text-transform: uppercase;
    a {
      padding-left: 0 !important;
      i {
        margin-left: 15px;
        margin-right: 15px;
      }
    }
  }
}
//bootstrap override for centering page title on left
.navbar-header {
  float: none;
  height: 75px;
  border-bottom: 1px solid @gray-header-underline;
}
//bootstrap override for line-height of navbar-brand
.navbar-brand.appTitle {
  line-height: 75px;
  padding: 0;
  height: 75px;
}
.hidden-sm .navbar-header .appTitle {
  color: white;
  font-size: 28px;
  margin: 0 auto 0 auto;
  display: block;
  float: none;
  height: auto;
  text-align: center;
}
.visible-sm.navbar-header .appTitle {
  float: none;
  display: inline-block;
  margin-left: 26px;
  text-align: center;
}
.navbar .text-bold {
  font-weight: bolder;
}
.navbar .text-light {
  font-weight: 100;
}
.collapse.width {
  height: auto;
  -webkit-transition: width 0.35s ease;
  -moz-transition: width 0.35s ease;
  -o-transition: width 0.35s ease;
  transition: width 0.35s ease;
}
.navbar-fixed-top {
  margin-bottom: 0;
}
#loadingMessage {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 4000;
}
.img-row-thumbnail {
  width: 50px;
  height: 50px;
  border: 5px solid #acdde8;
  border-radius: 50%;
  .img-circle;
}
.row-person-name {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #3a3a3a;
  vertical-align: middle;
  height: 50px;
  display: table-cell;
}
header {
  color: #fff;
  h1 {
    font-size: 72px;
    margin: 0;
  }
  .navbar-default {
    .navbar-fixed-top {
      margin-bottom: 0;
    }
    .navbar-toggle {
      float: left;
      margin-top: 28px;
      margin-right: 0;
      border: 0;
      padding: 2px 10px 2px 1px;
      .icon-bar {
        width: 15px;
        background-color: white;
      }
    }
    .navbar-toggle:hover, .navbar-toggle:focus {
      background-color: transparent;
      .icon-bar {
        width: 15px;
        background-color: @gray-light;
      }
    }
    .navbar-inner {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      -webkit-border-radius: 0;
      border-radius: 0;
      border: none;
      background-color: transparent;
      background-image: none;
    }
    .navbar-collapse li > a > span {
      position: relative;
      top: -4px;
    }
  }
  .navbar-inverse {
    border: 0;
    top: 60px;
    min-height: 39px;
    .fa-2x {
      font-size: 1.8em;
      position: relative;
      //top: 2px;
    }
    &.navbar-nav {
      li {
        position: static;
        a {
          position: static;
          color: @gray;
        }
      }
      a:hover {
        color: @gray-dark;
      }
    }
    .navbar-nav {
      position: relative;
      color: white;
      height: 100%;
      padding-top: 10px;
      li {
        position: static;
        &.active > a {
          box-shadow: 0 5px 0 @gray;
          -moz-box-shadow: 0 5px 0 @gray;
          -webkit-box-shadow: 0 5px 0 @gray;
        }
        &:hover {
          cursor: pointer;
        }
        a {
          position: static;
          padding-top: 13px;
          padding-bottom: 9px;
          &:hover {
            box-shadow: 0 5px 0 @gray;
            -moz-box-shadow: 0 5px 0 @gray;
            -webkit-box-shadow: 0 5px 0 @gray;
          }
          span {
            position: relative;
            top: -5px;
            font-size: 14px;
            font-weight: bold;
          }
        }
      }
    }
    ul.subnavbar {
      display: none;
      background-color: rgb(77, 77, 77);
      position: absolute;
      top: 0px;
      right: 0px;
      width: 218px;
      min-height: 100%;
      z-index: 10001;
      li {
        color: @navbar-subnavbar-color;
        font-size: 14px;
        font-weight: normal;
        white-space: nowrap;
        text-transform: none;
        margin-bottom: 1px;
        a {
          padding-left: 22px !important;
          padding-bottom: 17px !important;
          span {
            color: @navbar-subnavbar-color;
            top: 6px;
            font-weight: normal;
          }
        }
      }
      li.subheader {
        text-transform: uppercase;
        font-size: 14px;
        a {
          padding-left: 15px !important;
          span {
            font-weight: bold;
          }
        }
      }
      li.subitems-header.subheader {
        display: none;
        text-transform: none;
        margin-bottom: 0px !important;
        a {
          color: @navbar-subnavbar-subitemsheader-color !important;
        }
      }
      li.mainmenu-ref {
        display: none;
        padding-left: 8px;
        padding-top: 5px;
        font-size: 14px;
        font-weight: normal;
        a {
          color: #8f8f8f;
          i {
            margin-right: 0px;
            color: @gray-dark;
          }
          span {
            top: 0px;
          }
        }
      }
      li:last-child {
        margin-bottom: 0px !important;
      }
      li.active-subitem {
        color: white;
        background-color: @navbar-subnavbar-active-bg;
        a {
          color: @turquoiseRegular !important;
          i.fa-check {
            display: inline-block;
            position: absolute;
            color: @turquoiseRegular;
            right: 1px;
            padding-top: 9px;
          }
          i.fa-circle-thin {
            color: @gray-nav-circle-active;
          }
        }
      }
      li:hover, li a:hover {
        background-color: @navbar-subnavbar-active-bg !important;
        i.fa-circle-thin {
          color: @gray-nav-circle-active;
        }
      }
      li a {
        i.fa-check {
          display: none;
        }
        i.fa-circle-thin {
          position: absolute;
          right: -2px;
          color: @gray-nav-circle;
          font-size: 23px;
          padding-top: 5px;
        }
      }
      li.subitems-header {
        height: 40px !important;
        background-color: @navbar-subnavbar-header-bg;
        a {
          background-color: @navbar-subnavbar-header-bg !important;
        }
      }
    }
    li.active ul.subnavbar {
      display: block;
    }
    li.active ul.subnavbar.hidden {
      display: none;
    }
    li.active > a.hasSubmenu > span {
      display: none;
    }
  }
  #navbar-collapse-mobile {
    margin: 0px;
    padding-right: 0px;
    top: 0px;
    li.active > a.hasSubmenu > span {
      display: inline;
    }
    ul.subnavbar {
      margin: 0px;
      left: 0px;
      right: auto;
      width: 100%;
      li.mainmenu-ref {
        display: list-item;
      }
    }
  }
  .dropdown-menu {
    margin: 0;
    padding: 0;
    top: 77px;
    right: 0;
    left: auto;
    background-color: @gray-lighter;
    border: 1px solid @gray-outline;
    border-radius: 0;
    width: 310px;
    height: 258px;
    box-shadow: -1px 1px 6px 1px @gray-outline;
    z-index: 999;
  }
  .navbar .user-info-container {
    //background-color: @mm-smoothbluelight;
    position: absolute;
    top: 0;
    right: 0;
    border-left: 1px solid @gray-outline;
    height: 100%;
    font-size: 18px;
    color: #4a4a4a;
    padding: 0;
    width: 90px;
    &:hover, &.open {
      background-color: @gray-lighter;
    }
    &.open {
      box-shadow: 0 3px 7px 0 @gray-outline;
      -moz-box-shadow: 0 3px 7px 0 @gray-outline;
      -webkit-box-shadow: 0 3px 7px 0 @gray-outline;
      .drop-cover {
        margin-left: -21px;
        background-color: @gray-lighter;
        height: 7px;
        width: 100%;
        position: absolute;
        bottom: -2px;
        right: 0;
        z-index: 1000;
      }
      #profile-photo {
        box-shadow: 0 0 0 5px white;
        -moz-box-shadow: 0 0 0 5px white;
        -webkit-box-shadow: 0 0 0 5px white;
      }
    }
  }
  #profile-photo {
    margin: 15px auto;
    cursor: pointer;
    .img-circle;
    &:hover {
      box-shadow: 0 0 0 5px white;
    }
  }
  #profile-photo-full {
    margin: 20px 15px 20px 20px;
    height: 100px;
    width: 100px;
    border: 2px solid @gray-outline;
    margin-right: 15px;
  }
  #user-info {
    float: left;
    display: inline-block;
    padding-right: 15px;
    h4 {
      display: inline-block;
      float: left;
      margin-top: 25px;
      padding-bottom: 20px;
      font-size: 15px;
      font-weight: bold;
      color: @gray-dark;
    }
    a {
      font-size: 13px;
      display: inline-block;
      float: left;
      margin-top: 5px;
      clear: both;
    }
  }
  .employee-since {
    clear: both;
    color: @gray-light-headers;
    background-color: white;
    margin: 15px 0 0 0;
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid @gray-outline;
  }
  .panel-actions {
    background-color: white;
    text-align: center;
    padding: 15px 0;
    .btn {
      margin-right: 10px;
    }
  }
  #user-dropdown {
    padding: 10px 0px 0;
    .dropdown-menu {
      padding: 5px;
      min-width: 100px;
    }
  }
  #badge {
    position: absolute;
    right: 0;
    top: 0;
    left: initial;
    height: 100px;
    width: 200px;
    nav {
      margin-top: 20px;
    }
  }
}
.graph {
  tbody {
    tr {
      td, th {
        width: 139px;
        height: 28px;
        &.active {
          background-color: @brand-success;
        }
      }
    }
  }
  .title {
    margin-bottom: 4px;
    font-size: 1.1em;
  }
  @prog-color1:rgba(75, 170, 48, .30);
  /* @prog-color2:@brand-success;
  */
  @prog-color2:rgba(75, 170, 48, .15);
  .progress {
    font-size: .8em;
    min-width: 260px;
    overflow: hidden;
    height: 20px;
    margin-bottom: 20px;
    background-size: 40px 40px;
    background-color: @gray-light;
    div {
      padding-left: 10px;
      padding-top: 4px;
      text-align: center;
    }
  }
  div.active {
    height: 20px;
    background-image: linear-gradient(135deg, @prog-color1 15%, @prog-color2 15%, @prog-color2 30%, @prog-color1 30%, @prog-color1 60%, @prog-color2 60%, @prog-color2 75%, @prog-color1 75%, @prog-color1 90%);
  }
}
#projectsWidget, #staffingDeficitWidget {
  a{color: @gray;
  }
}
main {
  overflow: hidden;
  nav#nav-drawer {
    height: 100%;
    background-color: #fff;
    padding-bottom: 5000px;
    margin-bottom: -5000px;
    padding-left: 0;
    ul {
      list-style-type: none;
      margin: 0;
      padding-left: 0;
      li {
        border-right: 12px solid @gray;
        border-bottom: 1px solid @gray;
        a {
          cursor: pointer;
          line-height: 50px;
          display: block;
          color: inherit;
          text-decoration: none;
        }
        &.active {
          margin-right: -12px;
          background-color: @gray-light;
        }
        &:hover {
          background-color: @gray-light;
          margin-right: -12px;
        }
        i {
          margin-right: 20px;
          margin-left: 20px;
          color: @gray;
          vertical-align: middle;
        }
      }
    }
  }
  #today {
    margin-top: 50px;
    font-size: 24px;
    #date {
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
    }
  }
  hr {
    height: 0.5px;
    color: #ccc;
    margin: 30px 0;
  }
  #dashboard-widgets {
    margin-top: 15px;
  }
  .dashboard-widget {
    &.panel-default {
      border: none;
      border-radius: 0;
      // border-color: darken(@gray-light, 20%);
      .panel-heading {
        border: none;
        border-radius: 2px;
        font-size: 18px;
        // border-color: darken(@gray-light, 20%);
        &.trim-bottom-padding {
          padding-bottom: 0px;
        }
      }
    }
    .dashboard-box {
      box-sizing: border-box;
      text-align: center;
      &.big-text {
        font-size: 137px;
        line-height: 210px;
      }
      &.three-rows {
        img {
          width: 100%;
          max-width: 96px;
          margin-bottom: 10px;
          .img-circle;
        }
      }
    }
    .dashboard-actions {
      margin-left: 15px;
      a {
        font-size: 14px;
        display: inline-block;
        padding: 12px 12px 9px 10px;
        margin: -11px -13px 0 0;
        color: @lightBlueWidgetActions !important;
        &:hover {
          color: white !important;
          background-color: @smoothBlueMedium;
          cursor: pointer;
          text-decoration: none;
        }
        &.active {
          color: white !important;
        }
        i {
          font-size: 17px;
          padding-right: 2px;
          &.fa-angle-right, &.fa-angle-left {
            font-weight: bold;
          }
        }
      }
      .styled-select {
        width: 175px;
        background-color: white;
        border: 1px solid @gray-light;
        border-radius: 2px;
        margin-top: -3px;
        i {
          color: @gray;
          padding: 5px 2px 0 0;
          position: absolute;
          top: 0;
          right: 6px;
        }
      }
      select.form-control {
        display: inline-block;
        height: 30px;
        min-height: 30px;
        font-size: 14px;
        border: none !important;
        border-radius: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        background: transparent;
        padding-right: 0;
      }
    }
  }
  .dashboard-label {
    margin: 10px -15px;
    font-size: 24px;
    text-align: left;
  }
  #graph-header {
    line-height: 30px;
    #graph-header-title {
      font-size: 24px;
    }
    #graph-header-plus {
      text-align: center;
      i {
        vertical-align: middle;
      }
    }
  }
}
.centered-widget-header-text {
  position: absolute;
  left: 0;
  top: 10px;
  width: 100%;
  text-align: center;
}
.equal {
  overflow: hidden;
}
@media (min-width:1200px) {
  .equal .panel {
    padding-bottom: 9000px;
    margin-bottom: -9000px;
  }
  .row {
    margin-bottom: 15px;
    .col-lg-12 .panel {
      margin-bottom: 0;
    }
  }
}
#mainContent {
  width: 100%;
}
.nav-tabs {
  li {
    &:hover {
      cursor: pointer;
    }
  }
}
.nav {
  li {
    a{padding: 5px 10px;
    }
  }
}
header .navbar .navbar-search {
  clear: both;
  button {
    padding-top: 9px;
    padding-bottom: 9px;
  }
}
.navbar-search .navbar-form {
  background-color: @gray-search;
  margin: 0;
  padding: 10px;
  .input-group-addon {
    padding: 6px 4px;
    color: @gray-light-search;
    background-color: @gray-search;
    border: none;
  }
  input.form-control {
    color: white;
    background-color: @gray-search;
    border: none;
    box-shadow: none;
  }
  // input[placeholder] {
    //  color: @gray-lighter-search;
    //
  //}
  input:-moz-placeholder {
    color: @gray-lighter-search;
  }
  input::-moz-placeholder {
    color: @gray-lighter-search;
  }
  input:-ms-input-placeholder {
    color: @gray-lighter-search;
  }
  input::-webkit-input-placeholder {
    color: @gray-lighter-search;
  }
  input::-webkit-tap-highlight-color {
    color: @gray-search;
  }
}
header .navbar .navbar-breadcrumb {
  font-size: 32px;
  font-weight: normal;
  color: @gray-dark;
  padding-top: 18px;
  .breadcrumb {
    background-color: #fff;
    white-space: nowrap;
    padding-top: 0px;
    margin-bottom: 5px;
    > li {
      + li:before {
        content: ">";
        color: @gray-dark;
      }
    }
    > .active {
      color: @gray-less;
    }
  }
}
.nav-bar-container .navbar-collapse {
  overflow: hidden;
  left: 0px;
}
.popover.bottom {
  color: @text-color;
  z-index: 2000;
  position: fixed;
  margin-left: -50px;
  margin-top: -20px;
  .arrow {
    left: 86%;
  }
}
.content-header-gray {
  background-color: @gray;
  color: white;
  margin: 20px 0 10px 0;
  font-size: 16px;
}
// bootstrap override for placeholder text
.form-control:-moz-placeholder {
  color: @gray-light-search;
}
.form-control::-moz-placeholder {
  color: @gray-light-search;
}
.form-control:-ms-input-placeholder {
  color: @gray-light-search;
}
.form-control::-webkit-input-placeholder {
  color: @gray-light-search;
}
.form-control::-webkit-tap-highlight-color {
  color: @gray-search;
}

.dashboard-widget.hours {
  .panel-body {
    padding-top:0px; 
    padding-bottom: 0px;
    position:relative;
    
    .hours-week-container {
      height: 140px; 
      margin-bottom: 0px;
      display: none;
      
      .back-week, .back-day, .next-week, .next-day {
        float: left;
        height: 100%; 
        width: 6%; 
        border-bottom: 1px solid #dbdbdb; 
        text-align: center;
        border-right: 1px solid #efefef;
        
        div {
          width: 100%; 
          top: 40%; 
          position:relative;
        }
      }
      
      .next-week, .next-day {
        border-left: 1px solid #efefef;
        border-right-width: 0px;
      }
    }
    
    .hours-month-container {
      margin-bottom: 0px;
      
      .back-month, .next-month {
        float: left;
        height: 100%; 
        width: 6%; 
        
        text-align: center;
        margin-top: 20px;
        
        div {
          width: 100%; 
          top: 40%; 
          position:relative;
          
          i {
            color: #efefef;
          }
        }
      }
      
      .hours-day-empty {
        width: 6%;
        float:left;
        
        .hours-day-entry {
          border-right-width: 0px;
        }
      }
      
      .hours-day-empty.last .hours-day-entry {
        border-width-right: 0px;
      }
      
      .hours-day-active {
        background-color: #eaf6f9;
      }
      
      .hours-day-entry {
        height: 108px;
        position:relative;
        
        .active-circle {
          display: none;
          position: absolute;
          z-index: 1001;
          top: -3px;
          height: 40px;
          width: 40px;
          box-sizing: content-box;
           border-radius: 50%;
           background-color: #f7f7f7;
           border: 1px solid #c6c6c6;
           
          .inner-circle{
            position: relative;
            top: 7px;
            left:7px;
             height: 26px;
          width: 26px;
           border-radius: 50%;
            background-color: #1ba2c1;
          }
         
        }
        
        .active-circle.bottom {
          top: auto;
          bottom: 3px;
        }
      }
      
      .hours-day-entry.hours-day-active {
        .active-circle {
          display: inline-block;
        }
      }
      
      .hours-day-caption {
        width: 12.5%;
        float: left;
        height: 28px;
      }
      
      .hours-day-caption.empty {
        width: 6%;
        
        .hours-day-header {
          border-bottom: 1px solid #efefef;
        }
      }
      
      .hours-day-header {
        text-align: center;
        border-bottom: 1px solid #efefef;
        font-size: 20px;
      }
      
      
      .hours-day-content{
        font-size: 14px;
        font-weight: normal;
        line-height: 16px;
        text-align: left;
        padding-left: 5px;
        padding-top: 5px;
      }
      
      .hours-day-footer {
        position: absolute;
        bottom: 0px;
        width: 100%;
        padding-left: 5px;
        text-align: left;
        
        .hours {
          font-weight: bold;
          color: black;
        }
      }
      
      
      .day-labels {
        clear: both;
        height: 28px;
      }
      
      .hours-day-check {
        margin-top: 2px;
        margin-left: 55px;
        -webkit-text-stroke-width: 0px;
      }
      
      .current-month {
        height: 90px;
        display: inline-block; 
        text-align: center; 
        font-size: 46px;
        
        span {
          font-weight: bold;
        }
      }
    }
    
    .hours-week-container.week-visible {
      display: block;
    }
    
    .hours-month-container {
      display: none;
    }
    
    .hours-month-container.month-visible {
      display: block;
    }
  }
  
  .panel-heading {
    .inner-heading {
      width:100%; 
      position:relative;
      
      .start-end, .week-month-radio {
        display: inline-block; 
        position:absolute; 
        left:0px; 
        right:0px; 
        text-align:center
      }
      
      .week-month-radio {
        top: -3px;
        
        .btn.btn-default {
          font-weight: bold;
          background-color: #1ba2c1 !important;
          border: 1px solid white;
          color: white !important;
          
        }
        
        .btn.active {
          font-weight: bold;
          background-color: white !important;
          
          color: #1ba2c1 !important;
          border: 1px solid white;
        }
      }
    }
  }
  
  .dropdown-menu.ddProjectsTasksMenu {
    left: 6%;
    width: 24%;
    margin-top: -4px;
    margin-left: 4px;
    li {
      overflow: hidden;
    }
    @media (max-width: @screen-xs) {
      left: auto;
      top: 80px;
      width: 100%;
      text-align: left;
    }
  }
}
.hours-day {
  float: left;
  height: 100%;
  
  .hours-day-header{
    font-size: 25px; 
    color: #a8a8a8; 
    font-weight: normal;
  }
  
  .hours-day-content {
    font-size: 60px;
    line-height:60px;
    position:relative;
  }
  
  .hours-day-check {
      position:absolute;
      color: #1bc156; 
      margin-left: -16px; 
      font-size: 14px;
      margin-top: 16px;
      -webkit-text-stroke-width: 3px;
      -webkit-text-stroke-color: #fff;
    }
    
  .hours-day-footer {
    font-size: 18px; 
    color: #a8a8a8; 
    font-weight: normal;
  }
  
  @media (min-width: @screen-sm) {
    width: 12.5%;
  }
  @media (max-width: @screen-sm) {
    width: 88%;
    display: none;
  }
}
.hours-day.active {
  @media (max-width: @screen-sm) {
    display: block;
  }
}
.hours-day-entry {
  width: 100%;
  height: 100%;
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
  border-bottom: 1px solid #dbdbdb;
  font-weight: bold;
  color: #4d4d4d;
}
.hours-day-active {
  background-color: #f7f7f7 !important;
  border-bottom-width: 0px;
}

.hours-logged {
  min-height: 50px;
  background-color: #f7f7f7 !important;
  clear: both;
  .hours-empty {
    text-align: center;
    font-size: 15px;
    color: #4d4d4d;
    margin-top: 16px;
  }
}

.hours-logged.month-visible {
  width: 100%;
  position: absolute;
    display: none;
    margin-bottom: 0px;
    height: auto;
  z-index: 1001;
}
.hours-logged-entry {
  min-height: 50px;
  position: relative;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  /*use those styles to verticaly align row content*/
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  @media (max-width: @screen-xs) {
    display: block;
    text-align: center;
  }
  .hours-logged-value {
    font-weight: bold;
    font-size: 15px;
    width: 6%;
    text-align: center;
    white-space: nowrap;
    @media (max-width: @screen-xs) {
      display: block;
      text-align: center;
      width: 100%;
    }
  }
  .edit-input {
    border: 1px solid #efefef;
    border-radius: 3px;
    color: #999999 !important;
    font-weight: normal !important;
    height: 36px;
    /*top: 8px !important;*/
    margin-left: 3px;
    margin-right: 3px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .hours-logged-project {
    width: 24%;
    font-weight: bold;
    font-size: 15px;
    color: #999999;
    @media (max-width: @screen-xs) {
      display: block;
      text-align: center;
      width: 100%;
    }
  }
  
  .search-icon {
    position:absolute; 
    margin-left:-30px; 
    top: 15px;
  }
  
  .hours-logged-project.selected-item {
    background-color: #999999;
    color: #fff;
    height: 32px;
    top: 7px;
    padding: 4px 8px;
    span {
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  .hours-logged-project.selected-item i {
    float: right;
    color: #c1c1c1;
    margin-top: 3px;
  }
  .hours-logged-desc {
    color: #999999;
    font-size: 14px;
    /*set width inline*/
    @media (max-width: @screen-xs) {
      display: block;
      text-align: center;
      width: 100% !important;
      clear: both;
    }
  }
  .hours-logged-action {
    float: right;
    font-size: 15px;
    color: #d1d1d1;
    padding: 8px;
    margin-top: -4px;
    @media (max-width: @screen-xs) {
      float: none;
    }
  }
  .hours-logged-save {
    text-transform: uppercase;
    background-color: #1ba2c1;
    padding: 5px 8px;
    color: #fff;
    font-weight: bold;
    top: 8px;
  }
  .hours-logged-add {
    text-transform: uppercase;
    background-color: #c1c1c1;
    padding: 5px 8px;
    color: #fff;
    font-weight: bold;
    top: 8px;
  }
}
.hours-logged-entry > span,
.hours-logged-entry > .edit-input {
  /*top: 15px;
  position: relative;*/
  display: inline-block;
}
.dropdown-menu.ddProjectsTasksMenu > li > a {
  padding-left: 15px;
  min-height: 40px;
}
.dropdown-menu.ddProjectsTasksMenu > li > a.project-menu-item {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.dropdown-menu.ddProjectsTasksMenu > li > a > span {
  position: relative;
  top: 8px;
}
.dropdown-menu.ddProjectsTasksMenu > li > a > span.task-icon {
  background-color: #8de0d5;
  color: #fff;
  font-size: 14px;
  padding: 3px 6px;
}
.dropdown-menu.ddProjectsTasksMenu > li > a > span.project-icon {
  position: static;
  background-color: #8de0d5;
  height: 40px;
  width: 4px;
  display: inline-block;
  float: left;
  margin-right: 15px;
}
.dropdown-menu.ddProjectsTasksMenu > li > a > span.task-name {
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  margin-bottom: -4px;
}
.dropdown-menu.ddProjectsTasksMenu > li > a > span.project-name {
  position: static;
  display: inline-block;
  font-size: 15px;
  color: #000;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: -4px;
}
.dropdown-menu.ddProjectsTasksMenu > li > a > span.project-customer-name {
  position: static;
  display: block;
  color: #a8a8a8;
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.dropdown-menu.ddProjectsTasksMenu > li > a:hover, .dropdown-menu.ddProjectsTasksMenu > li > a:focus {
  /* background-color: #999999;
  */
}
.dropdown-menu.ddProjectsTasksMenu > li > a:hover > span.task-icon, .dropdown-menu.ddProjectsTasksMenu > li > a:focus > span.task-icon, .dropdown-menu.ddProjectsTasksMenu > li > a:hover > span.project-icon, .dropdown-menu.ddProjectsTasksMenu > li > a:focus > span.project-icon {
  background-color: #1bc1ac !important;
}
.hours-modal {
  display: block;
}