@import '_base';

.navbar-fixed-top {
  margin-bottom: 0;
}

header {
  color: #fff;

  h1 {
    font-size: 72px;
    margin: 0;
  }

  nav {
    background-color: @ps-gray;
    .navbar-fixed-top {
      margin-bottom: 0;
    }
  }

  .navbar-inner {
    -webkit-box-shadow: none;
    box-shadow: none;

    -webkit-border-radius: 0;
    border-radius: 0;
    border: none;

    background-color: transparent;
    background-image: none;
  }

  #profilePhotoContainer{
  	padding-top: 6px;
  	
  	#profile-photo {
	    height: 48px;
	    width: 48px;
	    margin-top: 0px;
	    background-color: #fff;
	    img {
	      height: 100%;
	      z-index: -1;
	    }
	  }
	  
	.dropdown-menu{
		right: 0px;
		left: auto;
		padding: 5px;
		min-width: 100px;
	}
  }

  

  #badge {
    position: absolute;
    right: 0;
    top: 0;
    left: initial;
    height: 100px;
    width: 200px;

    nav {
      margin-top: 20px;
    }
  }
}

main {
  overflow: hidden;

  nav#nav-drawer {
    height: 100%;
    background-color: #fff;
    padding-bottom: 5000px;
    margin-bottom: -5000px;
    padding-left: 0;

    ul {
      list-style-type: none;
      margin: 0;
      padding-left: 0;

      li {
        border-right: 12px solid @ps-gray;
        border-bottom: 1px solid @ps-gray;

        a {
          cursor: pointer;
          line-height: 50px;
          display: block;
          color: inherit;
          text-decoration: none;
        }

        &.active {
          margin-right: -12px;
          background-color: @ps-lightgray;
        }

        &:hover {
          background-color: @ps-lightgray;
          margin-right: -12px;
        }

        i {
          margin-right: 20px;
          margin-left: 20px;
          color: @ps-gray;
          vertical-align: middle;
        }
      }
    }
  }

  article {
    #content {
      /* Account for the 40px margin due to being in a span */
      padding: 0 124px 0 84px;

      #today {
        margin-top: 50px;
        font-size: 24px;

        #date {
          font-family: allerbold;
        }
      }

      hr {
        height: 0.5px;
        color: #ccc;
        margin: 30px 0;
      }

      .dashboard-widget {
        width: 240px;
        margin-right: 56px;
        margin-left: 0;

        &:last-child {
          margin-right: 0;
        }

        .dashboard-box {
          box-sizing: border-box;
          width: 240px;
          height: 206px;
          font-size: 137px;
          line-height: 206px;
          text-align: center;
          border: 1px solid @ps-lightgray;
        }

        .dashboard-actions {
          margin-top: 20px;
          text-align: center;
        }
      }

      .dashboard-label {
        margin: 30px 0 20px 0;
        font-size: 24px;
        text-align: left;
      }

      #graph-header {
        line-height: 30px;

        #graph-header-title {
          font-size: 24px;
        }

        #graph-header-plus {
          text-align: center;

          i {
            vertical-align: middle;
          }
        }
      }


      table#graph {
         margin-bottom: 60px;
        border: 1px solid @ps-lightgray;
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 10px;

        tbody {
          tr {
            td, th {
              width: 139px;
              height: 28px;

              &.active {
                background-color: @ps-secondary-blue;
              }
            }
          }
        }
      }
    }
  }
}

#mainContent{
	width: 100%;
}

.nav-tabs {
  margin-bottom: 30px;
}

.popover.bottom {
  color: @text-color;
  z-index: 2000;
  position: fixed;
  margin-left: -50px;
  margin-top: -20px;

  .arrow {
    left: 86%;
  }
}

@media (min-width: @screen-sm) {
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}