.peopleList{
	.profileImage{
		width: 36px;
		height: 36px;
		.img-circle;
	}
}

.profile-edit-margin-top{
	clear: both;
	margin-top: 5px;
}

.fullProfileImage{
	width:96px;
	height: auto;
	padding-right:5px !important;
	margin-right: 10px;
	.img-thumbnail;
}

.people-graph {
  margin: 20px 0;
}

.personDetailLabel{
	margin-bottom: auto;
}

.personDetailList{
	padding-left: 15px;
}

.checkboxText{
	margin-left:5px;
}
@media (max-width: @screen-xs-max) {

  .xs-padding-top {
    padding-top: 12px;
  }
}