.peopleList{
	.profileImage{
		width: 36px;
		height: 36px;
		.img-circle;
	}
}

.profile-edit-margin-top{
	clear: both;
	margin-top: 5px;
}

.fullProfileImage{
	width:150px;
	height: auto;
	padding-right:5px !important;
	.img-circle;
	.center-block;
}

.well {
	background-color: #fff;
}

.top-row {
	margin-top:20px;
}

.padded-row {
	padding-left:20px;
	padding-right:20px;
}

.expenses {
	padding-left:0px;
	padding-right:10px;
}

.vacations {
	padding-left:10px;
	padding-right:0px;
}

.people-graph {
  margin: 20px 0;
}

.personDetailLabel{
	margin-bottom: auto;
}

.personDetailList{
	padding-left: 15px;
}

.checkboxText{
	margin-left:5px;
}
@media (max-width: @screen-xs-max) {

  .xs-padding-top {
    padding-top: 12px;
  }
}

.people-image {
    max-width: 50px;
    max-height: 50px;
    .img-circle;
}

.people-list {
    background-color: white;
    margin-top: 0px;
    padding-top: 25px;
}

.people-row {
    background-color: @gray-light;
    color: @smoothBlueRegular;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px 0 0 0;
    border: 2px solid @charcoleMedium;
    border-radius: 6px;
}

.people-header {
    padding-top: 0px;
    padding-bottom: 5px;
}

.people-prop {
    padding-top: 20px;
    padding-left: 0px;
}

.people-utilization-rate {
    font-size: 40px;
    padding-left: 0px;
    font-weight: bold;
    color: black;
    padding-top: 0px;
}

.person-name {
    margin-left: 10px;
}

.person-header-name {
    padding-left: 5%;
    padding-right: 0px;
    margin-top: 5px;
}

.person-header {
    margin-top: 5px;
    padding: 0;
}

.person-name-container {
    margin-top: 5px;
}

.person-sorting {
    padding-left: 0px;
    padding-right: 0px;
}

.sorting-button {
    display: block;
    width: 15px; 
    height: 16px; 
    padding: 0; 
    margin: 0; 
    border: 0; 
    background-color: @gray;
    
    .active {
        color: #333333;
    }
}

.people-search {
    background-color: white;
    padding-top: 40px;
}