.peopleList{
	.profileImage{
		width: 36px;
		height: 36px;
	}
}

.fullProfileImage{
	width:90px;
	height:90px;
	display: block;
	max-width: 100%;
	height: auto;
}

.people-graph {
  margin: 20px 0;
}