.tab-content {

  input, textarea {
    margin-bottom: 20px;
  }

  .ng-invalid.ng-dirty {
    border-color: #b94a48;
  }

  .control-group {
    .help-block {
      display: none;
    }
  }

  .control-group.error {
    .help-block {
      display: block;
    }

    .input-icon {
      color: #b94a48;
    }
  }
}

#summary {
  .empty {
    color: darken(@gray-light, 40%);
  }

  #description {
    padding: 30px 0;
  }
}

.summaryDescription{
	max-width:100%;
	// padding-left: 15px;
	padding-left: 0px;
	margin-left: 0px;
	margin-right: 0px; 
	img{
		max-width:100%;
		height:auto;
	}
}

.summary-tab {
  .fa-ban {
    width: 36px;
    height: 36px;
    font-size: 28px;
    text-align: center;
    position: relative;
    top: 4px;
    color: red;
  }
}

.no-top-margin {
  margin-top: 0;
}

.no-left-padding {
  padding-left: 0;
}

th > span.hidden-xs {
  display: inline !important;
}

.form-group.error {
  .has-error;
}

.currency-total {
  margin-top: 8px;
}

.custom-dates-group {
	padding-top: 10px;
	/*padding-left: 0px; */
	padding-right: 0px;
}

.custom-dates-group label{
	white-space: nowrap;
	padding-left:0px;
	min-width: 100px;
}

.custom-dates-group div.col-md-3{
	padding-left: 0px; 
	padding-right: 0px; 
	min-width: 90px; 
	margin-right: 7px;
	
	input {
		padding-left: 2px; 
		padding-right: 2px;
	}
}

.custom-dates-group div.col-md-2
{
	width: 30px; 
	padding-right: 0px; 
	padding-left: 0px; 
	margin-top: 2px;
}

@media (max-width: @screen-xs-max) {
  .ta-toolbar{
  	display: none;
  }
}

@media (max-width: @screen-xs-max) {
  .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 4px;
  }
}

.project-form .tab-header {
	padding-top: 20px;
}

.project-form .tab-content {
	padding-top: 20px;
}

.project-form .tab-content > div
{
	padding-left: 20px;
	padding-right: 20px;
}

.project-form .assignments-tab h4{
	font-size: 14px;
	background-color: #777777;
	color: white;
	padding-left: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: -8px;
}

.project-form .assignments-tab .panel-danger {
	border-width: 0px;
	background-color: #e8bbae  !important;
}

.project-form .assignments-tab .panel-danger .panel-heading{
	border-width: 1px  !important;
	border-radius: 3px  !important;
	border-color: #777777  !important;
	border-style: solid  !important;
	background-color: #db6d4f !important;
	
	color: white !important;
}

.project-form .assignments-tab .panel-success {
	border-width: 0px;
	background-color: #abe8c4  !important;
}

.project-form .assignments-tab .panel-success .panel-heading{
	border-width: 1px  !important;
	border-radius: 3px  !important;
	border-color: #777777  !important;
	border-style: solid  !important;
	
	background-color: #32db7c !important;
}

.project-form .assignments-tab .role-abbreviation{
	font-weight: bold;
}

.project-form .assignments-tab .role-coverage{
	font-weight: bold;
	float: right;
	text-transform: uppercase;
}

.project-form .assignments-tab .time-text {
	padding-right: 20px;
	font-weight: normal;
	color: black;
}

.project-form .assignments-tab .time-text span{
	font-weight: bold;
	font-size: 16px;
	color: black;
}

.project-form .assignments-tab .person-abbreviation label span{
	color: blue;
	font-weight: normal;
}
.project-form .assignments-tab .assignee-row label{
	margin-bottom: 0px;
	margin-top:5px;
	
	font-size: 13px;
	font-weight: normal;
}

.project-form .assignments-tab a{
	color: blue;
	font-size: 13px;
}

.project-form .assignments-tab .panel-warning {
	border-width: 0px;
	background-color: #fff7ab  !important;
}

.project-form .assignments-tab .panel-warning .panel-heading{
	border-width: 1px  !important;
	border-radius: 3px  !important;
	border-color: #777777  !important;
	border-style: solid  !important;
	
	background-color: #ffec45 !important;
}

.project-content {
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 15px;
    margin-top: 0px;
}

.assignment-row {
    font-size: 25px;
    padding-top: 25px;
}

.assignment-red {
    color: #db6d4f;
}

.assignment-yellow {
    color: #f9d423;
}

.assignment-green {
    color: #32db7c;
}

.role-row {
    background-color: white !important; 
    margin-left: 30px !important;
    margin-right: 30px !important;
    padding-top: 0px !important;
}

.zero-margin {
    margin: 0;
}

.rolesList {
    padding-left: 15px;
}

.project-button {
    padding: 8px 15px 8px 15px;
    height: 40px;
}

.edit-button {
    background-color: @smoothBlueRegular;
    padding-top: 5px;
    color: white;
}

.print-button {
    background-color: @smoothBlueMedium;
    padding-top: 5px;
    color: white;
}

.role-prop {
    margin-top: 10px;
}

.project-prop {
    padding-top: 25px; 
    color: black;
}
.project-icon-container {
    padding-top: 10px; 
    padding-bottom: 10px;

    > i {
        margin-left: 25%;
    }
}

.tab-buttons {
    > button {
        border: 1px solid @gray-light-search;
    }
}

.active-tab {
    background-color: white;
}

.icon-blue {
    color: @smoothBlueRegular;
}

.project-icon-big {
    background-color: @gray-search;
    color: white;
    width: 210px; 
    height: 210px; 
    border: 1px black solid;
}

.rate-table {
    text-align: center;
    
    > thead > tr > th {
        text-align: center;
    }
}

.terms-rows {
    > div > span {
        color: gray;
    }
}

.months-row {
    height: 45px;
    margin: 20px 0px 0px 0px;
    
    .active {
        background-color: @smoothBlueMedium;
    }
        
    .current {
        background-color: @smoothBlueRegular;
    }
    
    > div {
        height: 45px;
        padding: 10px 0px 0px 0px;
        text-align: center;
        background-color: @gray-light-search;
        border: 1px solid white;

        > span {
            color: white;
            font-weight: bold;
        }
    }
}