.projectForm{
	padding: 10px;
	
	input, textarea {
		margin-bottom: 20px;
	}
	
	textarea, .long{
		width: 90%;
	}
	section{
		border: @ps-blue solid 1px;
		padding: 10px;
	}
	th{
		text-align: left;
		font-size: 1.1em;
	}
}