.projectForm{

	input, textarea {
		margin-bottom: 20px;
	}

	th{
		text-align: left;
		font-size: 1.1em;
	}
}

#summary {
  .empty {
    color: darken(@ps-lightgray, 40%);
  }

  #description {
    padding: 30px 0;
  }
}