/* Main Less file. */

@import "lesshat.less"; /* LESS Hat provides helpful css mixins */

@import "_base.less";
@import "_index.less";
@import "_project.less";

/* utility styles */


/* Make float parent clear itself */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/* Turn off spinner in number inputs */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.pull-left {
	float: left;
	padding-right: 10px;
}

