<div>
<!-- Nav tabs -->
  <div style="margin-top: 12px;">
        <div class="pull-right" style="height: 32px;">
          <button class="btn btn-default" ng-click="edit()" ng-show="!editMode" style="padding-top: 3px; padding-bottom: 3px;">Edit</button>
          <button class="btn btn-default" ng-click="cancel()" ng-show="editMode" style="padding-top: 3px; padding-bottom: 3px;">Cancel</button>
          <button class="btn btn-default" ng-click="save()" ng-show="editMode" style="padding-top: 3px; padding-bottom: 3px;">Save</button>
        </div>
    	 <tabset class="nav nav-pills">
    	 	<tab id="roles" heading="Roles" >
	        	<div>
	            	<ng-include src="'modules/admin/partials/roles.html'"></ng-include>
	            </div>
	        </tab>
	        <tab id="groups" heading="Security Groups" >
                <div>
                    <ng-include src="'modules/admin/partials/securityGroups.html'"></ng-include>
                </div>
            </tab>
	        <!--<tab id="groups" heading="Groups">
	        	<div>
	            	<ng-include src="'modules/admin/partials/groups.html'"></ng-include>
	            </div>
	        </tab> -->
	        <tab id="tasks" heading="Tasks">
	        	<div>
	            	<ng-include src="'modules/admin/partials/tasks.html'"></ng-include>
	            </div>
	        </tab>
        	<tab id="config" heading="Configuration">
	        	<div>
	            	<ng-include src="'modules/admin/partials/config.html'"></ng-include>
	            </div>
	        </tab>
	        <tab id="departments" heading="Departments">
	        	<div>
	            	<ng-include src="'modules/admin/partials/departments.html'"></ng-include>
	            </div>
	        </tab>
	    </tabset>
  </div>
</div>