<div>
<!-- Nav tabs -->
  <div style="margin-top: 12px;">
    	 <tabset class="nav nav-pills">
    	 	<tab id="roles" heading="Roles" >
	        	<div>
	            	<ng-include src="'modules/admin/partials/roles.html'"></ng-include>
	            </div>
	        </tab>
	        <!--  
	        <tab id="groups" heading="Groups">
	        	<div>
	            	<ng-include src="modules/admin/partials/groups.html'"></ng-include>
	            </div>
	        </tab> 
	        -->       
	        <tab id="tasks" heading="Tasks">
	        	<div>
	            	<ng-include src="'modules/admin/partials/tasks.html'"></ng-include>
	            </div>
	        </tab>
	        	<tab id="config" heading="Configuration">
	        	<div>
	            	<ng-include src="'modules/admin/partials/config.html'"></ng-include>
	            </div>
	        </tab>    	        
	    </tabset>
    </div>
</div>