$people-content-padding: 1rem;
.people {
    background-color: $gray-lightest;
    padding: $people-content-padding;
    height: 100%;
    box-sizing: border-box;
}

.profile-image {
    width: 125px;
    height: 125px;
    border-radius: 63px;
    border: 3px solid white;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.4);
    margin: $people-content-padding;
}

.profile-thumbnail {
    width: 72px;
    height: 72px;
    border-radius: 36px;
    border: 2px solid white;
    box-shadow: 0 0 1px 1px rgba(64, 64, 64, 0.2);
}

.profile-info {
    font-size: 1.1rem;
    i.fa {
        width: rem-calc(40);
        vertical-align: middle;
        margin: auto;
        color: $gray-regular;
    }
    i.fa-envelope {
        padding-left: 0.1em;
    }
    i.fa-skype {
        padding-left: 0.16em;
    }
    i.fa-mobile {
        padding-left: 0.18em;
    }
}

.inner-content {
    background-color: #fff;
    border-radius: $global-radius;
    // box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
}

.profile-main {
    border: 0 solid $gray-medium;
    border-bottom-width: 1px;
    padding: $people-content-padding;
}

.profile-additional {
    .profile-administrative {
        padding: $people-content-padding;
    }
    .profile-contact {
        padding: $people-content-padding;
        border: 0 solid $gray-medium;
        border-left-width: 1px;
    }
}

.people-list {
    a {
        color: $gray-medium;
    }

    ul {
        margin: 0;
    }
}

.person-img,
.person-name,
.person-title,
.person-role,
.person-utilization
{
    @include grid-content;
    font-size: rem-calc(24);
    line-height: rem-calc(32);
    margin: auto;
}
.person-img {
    div {
        margin: auto;
    }
    img {
        min-width: rem-calc(60);
        min-height: rem-calc(60);
    }
}
.person-title {
    font-size: rem-calc(24);
}
.person-name {
    font-size: rem-calc(24);
    font-weight: 700;
}
.person-utilization {
    font-size: rem-calc(48);
    font-weight: 600;
    color: $gray-medium;
    line-height: rem-calc(72);
}
.person-role {
    color: white;
    padding: rem-calc(5) rem-calc(29);
    text-align: center;
    div {
        background-color: $primary-color;
        margin: auto;
    }
    font-size: rem-calc(18);
    font-weight: 600;
}
.person {
    @include clearfix;
    height: rem-calc(112);
    border: 1px solid $gray-lighter;
    margin: rem-calc(16) 0;
    background-color: white;
}
