<!-- 
<div class="sign-in-page-container login-image">
    <div class="mainTitleWrap" style="height:75%">
        <div class="innerTitleWrap">
            <div class="subtitle">Hours App</div>    
        </div>
    </div>
    
      <div id="customBtn" ng-click="googlePlusLogin()">
        
      </div>
    <div id="logs"></div>

</div>
 -->

<div class="sign-in-page-container">
    <div class="mainTitleWrap">
        <div class="innerTitleWrap">
            <div class="subtitle">Hours App</div>    
        </div>
    </div>
    <div class="spaceBlock">
    	<div id="customBtn" ng-click="googlePlusLogin()">
       <img id="icon">
      </div>
    </div>

    

</div>