<div ng-controller="HoursCtrl">
	<div class="panel panel-default dashboard-widget hours" >
	    <div class="panel-heading">
	    	<div class="inner-heading">
	    		<span> <!-- <i class="fa fa-calendar-o"></i> --> Hours </span>
		    	
		        <div ng-show="mode=='week'" class="start-end" > 
		        	 {{prettyCalendarDates.firstDate}} &ndash; {{prettyCalendarDates.lastDate}} 
		        </div>
		        <div ng-show="mode=='month'" class="week-month-radio">
		          <div class="btn-group" data-toggle="buttons">
		            <label class="btn btn-default" ng-click="setSubmode('monthly')" ng-class="{'active': subMode == 'monthly'}">
		              <input type="radio" name="options">Month
		            </label>
		            <label class="btn btn-default" ng-click="setSubmode('weekly')" ng-class="{'active': subMode == 'weekly'}">
		              <input type="radio" name="options">Week
		            </label>
		          </div>
		        </div>
        
		        <div class="pull-right btn-group btn-group-sm dashboard-actions" >
		        	<a ng-click="copyHoursEntry()"><i class="fa fa-copy"></i> <span class="hidden-xs hidden-sm">Copy yesterday</span></a> 
		        </div>
	       </div>
	    </div>
	    <div class="panel-body" >
	    	<div class="row" ng-show="hoursValidation.length > 0">
		      <div id="hoursValidationDiv" class="alert alert-danger">
                <a class="close" ng-click="hideMessages()">&times;</a>
                    <ul>
                        <li ng-repeat="message in hoursValidation">{{message}}</li>
                    </ul>
                </div>
		    </div>
			
	        <div class="row hours-week-container" ng-class="{'week-visible': mode=='month' && subMode=='weekly' || mode=='week'}">
	        	<div ng-click="backInTime()" class="hidden-xs hidden-sm back-week">
	        		<div >
	                    <i class="fa fa-caret-left fa-2x"></i>
	                </div>
	        	</div>
	        	<div ng-click="backDay()" class="visible-xs visible-sm back-day">
	        		<div >
	                    <i class="fa fa-caret-left fa-2x"></i>
	                </div>
	        	</div>
	        	<div ng-repeat="day in displayedHours" class="text-center hours-day" ng-class="{'active': selected.date === day.date}">
                	<div class="hours-day-entry"  
	                	ng-class="{'hours-default' : days.totalHours >= 8 && $index > 0 && $index<6 && !day.futureness, 
	                				'hours-day-today' : day.date === todaysDate, 
	                				'futureDay': day.futureness, 
	                				'hours-day-active': selected.date === day.date}"  ng-click="setSelected(e, day, $index)">
	                	<div class="hours-day-header" >{{thisWeekDayLables[$index] | uppercase}}</div>
	                	<div class="hours-day-content">
	                		<span>{{day.totalHours}}</span>
	                		<span class="hours-day-check" ng-if="day.totalHours >= 8" >
		                		<i class="fa fa-check fa-2x"></i>
		                	</span>
	                	</div>
	                	
	                	<div class="hours-day-footer">HOURS</div>
	                </div>
                </div>
	        	<div ng-click="forwardInTime()"  class="hidden-xs hidden-sm next-week" >
	        		<div >
	                    <i class="fa fa-caret-right fa-2x"></i>
	                </div>
	        	</div>
	        	<div ng-click="nextDay()"  class="visible-xs visible-sm next-day" >
	        		<div>
	                    <i class="fa fa-caret-right fa-2x"></i>
	                </div>
	        	</div>
	        </div>
	        
	        <div class="row hours-month-container hidden-xs hidden-sm" ng-class="{'month-visible': mode=='month' && subMode != 'weekly' }">
	        	<div ng-click="backMonth()" class="back-month">
	        		<div >
	                    <i class="fa fa-caret-left fa-2x"></i>
	                </div>
	        	</div>
	        	<div class="current-month" style="width:-webkit-calc(100% - 170px);">
	        		<span>{{months[currentMonth.month()]}}</span> {{currentMonth.year()}}
	        	</div>
	        	
	        	 <div ng-click="nextMonth()"  class="next-month" style="float:right">
	        		<div>
	                    <i class="fa fa-caret-right fa-2x"></i>
	                </div>
	        	</div>
	        	<div class="day-labels">
	        		<div class="hours-day-caption empty">
		        		<div class="hours-day-header" >&nbsp;</div>
		        	</div>
		        	<div ng-repeat="lbl in thisWeekDayLables" class="hours-day-caption">
		        		<div class="hours-day-header" >{{thisWeekDayLables[$index] | uppercase}}</div>
		        	</div>
		        	<div class="hours-day-caption empty">
		        		<div class="hours-day-header" >&nbsp;</div>
		        	</div>
		        	
	        	</div>
	        	<div ng-repeat-start="day in displayedMonthDays" ng-show="{{$index % 7 == 0}}" class="text-center hours-day-empty">
                	<div class="hours-day-entry"></div>
                </div>
  
                <div class="text-center hours-day" ng-class="{'active': selected.date === day.date}">
                	<div class="hours-day-entry"  
	                	ng-class="{'hours-day-active': selected.date === day.date, 'hours-day-first-in-week': $index % 7 == 0 && $index > 0}"  ng-click="setSelected(e, day, $index)">
	                	
	                	<div class="hours-day-content">
	                		<span class="month-day">{{day.dayOfMonth}}</span>
	                	</div>
	                	
	                	<div class="hours-day-footer">
	                		<span class="hours">{{day.totalHours}}</span>
	                		
	                		hours
	                		<span class="hours-day-check" ng-if="day.totalHours >= 8" >
		                		<i class="fa fa-check"></i>
		                	</span>
	                	</div>
	                	
	                	<div class="active-circle" ng-class="{'bottom': $index < 21}" >
	                		<div class="inner-circle"></div>
	                	</div>
	                </div>
                </div>
                 
                 
                 <div ng-repeat-end ng-show="{{$index % 7 == 6 }}" class="text-center hours-day-empty last">
                	<div class="hours-day-entry">
	                	
	                </div>
                </div>
	        </div>
	        <div class="row hours-logged" ng-class="{'month-visible': mode=='month' && subMode != 'weekly' }" >
	        	<div class="hours-empty" ng-show="selected.totalHours == 0 && !anyAdded()">No hours logged</div>
	        	
	        	<div ng-if="selected.totalHours > 0 || anyAdded()" ng-repeat="hourEntry in selected.hoursEntries" >
	        		<div class="hours-logged-entry" ng-if="hourEntry.hoursRecord.hours > 0 || hourEntry.hoursRecord.editMode" 
	        			_hourentryindex="{{$index}}" ng-init="initNewHoursEntry(hourEntry)">
	        			<span class="hours-logged-value" ng-hide="hourEntry.hoursRecord.editMode">{{hourEntry.hoursRecord.hours}} hrs</span>
	        			<input class="hours-logged-value edit-input" type="text"
			                    class="form-control" placeholder="hours"
			                    name="hours-logged-value-edit" ng-model="hourEntry.hoursRecord.hoursEdited" required ng-show="hourEntry.hoursRecord.editMode">
	        			  
	        			<span class="hours-logged-project" ng-hide="hourEntry.hoursRecord.editMode" ng-if="hourEntry.project && hourEntry.project.name">{{hourEntry.project.name}}</span>
	        			<span class="hours-logged-project" ng-hide="hourEntry.hoursRecord.editMode" ng-if="hourEntry.task && hourEntry.task.name">{{hourEntry.task.name}}</span>
					       
					    <span class="hours-logged-project selected-item" 
					    	ng-show="hourEntry.hoursRecord.editMode && hourEntry.selectedItem != undefined" >
					    		<span style="width: -webkit-calc(100% - 20px)">{{hourEntry.selectedItem.name}}</span>
					    		<i ng-click="clearSelectedItem(e, hourEntry)" class="fa fa-times"></i>
					    </span>
					       
	        			<input class="hours-logged-project edit-input" type="text"  ng-disabled="projectTasksList.length == 0" 
			                    class="form-control" placeholder="Find a project or task"
			                    name="project-task-select"  required ng-show="hourEntry.hoursRecord.editMode && hourEntry.selectedItem == undefined">
	                    <span class="search-icon" ng-show="hourEntry.hoursRecord.editMode && hourEntry.selectedItem == undefined" >
			                <i class="fa fa-search"></i>
			            </span>
	        			<ul class="dropdown-menu ddProjectsTasksMenu" role="menu" aria-labelledby="ddProjectsTasksMenu">
						  <li role="presentation" ng-repeat="tp in projectTasksList" >
						  	<a class="menu-item task-menu-item" role="menuitem" tabindex="-1" href="javascript:void(0)" ng-if="tp.customerName == undefined" _id="{{tp.resource}}">
							  	<span class="task-icon" ng-if="tp.icon" style="{{tp.iconCss}}"><i class="fa {{tp.icon}}"></i></span>
							  	<span class="task-name" style="width: -webkit-calc(100% - 20px)">{{tp.name}}</span>
						  	</a>
						  	<a class="menu-item project-menu-item" role="menuitem" tabindex="-1" href="javascript:void(0)" ng-if="tp.customerName != undefined" _id="{{tp.resource}}">
							  	<span class="project-icon" ></span>
							  	<span class="project-name" style="width: -webkit-calc(100% - 15px)">{{tp.name}}</span>
							  	<span class="project-customer-name" style="width: -webkit-calc(100% - 25px)">{{tp.customerName}}</span>
						  	</a>
					  		</li>
						</ul>
			
	        			<span class="hours-logged-desc" style="width: -webkit-calc(70% - 70px)" ng-hide="hourEntry.hoursRecord.editMode">{{hourEntry.hoursRecord.description}}</span>
	        			
	        			<input class="hours-logged-desc edit-input" type="text" style="width: -webkit-calc(70% - 100px)" 
			                    class="form-control" placeholder="Description"
			                    name="hours-logged-desc-edit" ng-model="hourEntry.hoursRecord.descriptionEdited" required ng-show="hourEntry.hoursRecord.editMode">
			                    
		                <span class="hours-logged-action" ng-hide="hourEntry.hoursRecord.editMode" ng-click="editHoursEntry($event, hourEntry)">
		                    <i class="fa fa-pencil"></i>
		                </span>
		                <span class="hours-logged-save" ng-show="hourEntry.hoursRecord.editMode && !hourEntry.hoursRecord.isAdded" ng-click="saveHoursEntry($event, hourEntry)">
		                    Save
		                </span>
		                <span class="hours-logged-add" ng-show="hourEntry.hoursRecord.editMode && hourEntry.hoursRecord.isAdded" ng-click="saveHoursEntry($event, hourEntry, true)">
		                    Add
		                </span>
		                <span class="hours-logged-action" ng-click="removeOrCloseHourEntry($event, hourEntry, $index);">
		                    <i class="fa fa-times"></i>
		                </span>
	        		</div>
	        	</div>
	        </div>
	        
	    </div>
	</div>
</div>