<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>MasterMind</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link rel="icon" type="image/png" href="images/favicon.png">

<!-- Fonts -->
<style>
@font-face {
	font-family: 'allerregular';
	src: url('fonts/Aller_Rg.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'allerbold';
	src: url('fonts/Aller_Bd.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'alleritalic';
	src: url('fonts/Aller_It.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'allerlight';
	src: url('fonts/Aller_Lt.ttf');
	font-weight: normal;
	font-style: normal;
}
</style>
<link rel="stylesheet"
	href="bower_components/font-awesome/css/font-awesome.min.css" />
	
<!-- build:css styles/site.css -->
<link rel="stylesheet" href="bower_components/ng-table/ng-table.css" />
<link rel="stylesheet"
	href="bower_components/bootstrap-datepicker/css/datepicker.css" />
<link rel="stylesheet" href="styles/main.css">
<!-- endbuild -->
</head>
<body ng-app="Mastermind">
	<!--[if lt IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

	<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->
	<div ng-controller="AreasCtrl">
		<div id="loadingMessage" ng-if="!authState">
			<div id="welcomeContent" class="jumbotron">
				<h1>PointSource MasterMind</h1>
				<p>Loading Please Wait...</p>
			</div>
		</div>
		<div id="appContent" ng-if="authState">
			<header>
				<nav class="navbar navbar-default navbar-fixed-top"
					role="navigation">
					<div ng-if="me.thumbnail" class="dropdown pull-right" id="user-dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown">
							<div id="profile-photo" back-img="{{me.thumbnail}}"></div>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#{{me.about}}">Profile</a></li>
							<li><a ng-click="logout()">Log out</a></li>
						</ul>
					</div>

					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse"
							data-target="#navbar-collapse">
							<span class="sr-only">Toggle navigation</span> <span
								class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>
						<div>
							<a class="appTitle navbar-brand" href="#">PS MasterMind</a>
						</div>
					</div>

					<div class="collapse navbar-collapse" id="navbar-collapse">
							<ul class="nav navbar-nav navbar-inverse visible-xs">
								<li ng-class="{active: activeArea() === 'home'}"><a
									ng-click="showHome()" class="close-dropdown"> <i
										class="fa fa-2x fa-fw fa-home"></i> <span>Home</span>
								</a></li>
								<li ng-class="{active: activeArea() === 'projects'}"><a
									ng-click="showProjects()" class="close-dropdown"> <i
										class="fa fa-2x fa-fw fa-briefcase"></i> <span>Projects</span>
								</a></li>
								<li ng-class="{active: activeArea() === 'people'}"><a
									ng-click="showPeople()" class="close-dropdown"> <i
										class="fa fa-2x fa-fw fa-users"></i> <span>People</span>
								</a></li>
								<li ng-if="projectManagementAccess"
									ng-class="{active: activeArea() === 'staffing'}"><a
									ng-click="showStaffing()" class="close-dropdown"> <i
										class="fa fa-2x fa-fw fa-tasks"></i> <span>Staffing</span>
								</a></li>
								<li ng-if="adminAccess"
									ng-class="{active: activeArea() === 'admin'}"><a
									ng-click="showAdmin()" class="close-dropdown"> <i
										class="fa fa-2x fa-fw fa-gear"></i> <span>Administration</span>
								</a></li>
							</ul>
					</div>
					<!-- /.navbar-collapse -->
				</nav>

				<!-- Fixed Z-index to make sure the user menu can pop over it -->
				<nav class="navbar navbar-inverse navbar-fixed-top hidden-xs"
					style="z-index: 900">
					<ul class="nav navbar-nav">
						<li ng-class="{active: activeArea() === 'home'}"><a
							ng-click="showHome()" class="close-dropdown"> <i
								class="fa fa-2x fa-fw fa-home"></i> <span>Home</span></a></li>

						<li ng-class="{active: activeArea() === 'projects'}"><a
							ng-click="showProjects()" class="close-dropdown"> <i
								class="fa fa-2x fa-fw fa-briefcase"></i> Projects
						</a></li>
						<li ng-class="{active: activeArea() === 'people'}"><a
							ng-click="showPeople()" class="close-dropdown"> <i
								class="fa fa-2x fa-fw fa-users"></i> People
						</a></li>
						<li ng-if="projectManagementAccess" ng-class="{active: activeArea() === 'staffing'}"><a
							ng-click="showStaffing()" class="close-dropdown"> <i
								class="fa fa-2x fa-fw fa-tasks"></i> Staffing
						</a></li>
						<li ng-if="adminAccess"
							ng-class="{active: activeArea() === 'admin'}"><a
							ng-click="showAdmin()" class="close-dropdown"> <i
								class="fa fa-2x fa-fw fa-gear"></i> Administration
						</a></li>
					</ul>
				</nav>
			</header>

			<main id="mainContent" class="container">
			<div class="row">
				<article class="col-xs-12" ui-view></article>
			</div>
			</main>
			
			<!-- <footer class="text-center container"><br/><small>© 2014 PointSource, LLC. All rights reserved.</small></footer> -->

            <div class="modal modalYesNo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <ng-include src="'modalTemplate'"/>
            </div>
            
            <div class="modal modalYesNoCancel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <ng-include src="'modalTemplate'"/>
            </div>
            
            <script type="text/ng-template" id="modalTemplate">
                <div class="modal-dialog">
                    <div class="modal-content panel panel-info">
                        <div class="modal-header panel-heading">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">{{getModal().title}}</h4>
                        </div>
                        <div class="modal-body panel-body">
                        {{getModal().text}}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" ng-click="getModal().noHandler()">{{getModal().no}}</button>
                            <button type="button" class="btn btn-default" ng-show="getModal().cancel" ng-click="getModal().cancelHandler()" data-dismiss="modal">{{getModal().cancel}}</button>
							<button type="button" class="btn btn-primary" ng-click="getModal().okHandler()">{{getModal().ok}}</button>
                        </div>
                    </div>
                </div>
            </script>
		</div>
	</div>
	
	<!-- build:js scripts/modules.js -->
	<script type="text/javascript" src="bower_components/jquery/jquery.js"></script>
	<script type="text/javascript"
		src="bower_components/marked/lib/marked.js"></script>
	<script type="text/javascript"
		src="bower_components/angular/angular.js"></script>
	<script type="text/javascript"
		src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script type="text/javascript"
		src="bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
	<script type="text/javascript"
		src="bower_components/angular-route/angular-route.js"></script>
	<script type="text/javascript"
		src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
	<script type="text/javascript"
		src="bower_components/angular-ui-date/src/date.js"></script>
	<script type="text/javascript"
		src="bower_components/ng-table/ng-table.js"></script>
	<script type="text/javascript"
		src="bower_components/lodash/dist/lodash.js"></script>
	<script type="text/javascript"
		src="bower_components/restangular/dist/restangular.js"></script>
	<script src="bower_components/textAngular/textAngular.js"></script>
	<script type="text/javascript"
		src="bower_components/textAngular/textAngular-sanitize.js"></script>
	<script type='application/javascript' src='bower_components/fastclick/lib/fastclick.js'></script>
	<script type="text/javascript" src="bower_components/d3/d3.js"></script>
	<script type="text/javascript" src="bower_components/moment/moment.js"></script>
	<script type="text/javascript" src="bower_components/masonry/dist/masonry.pkgd.js"></script>
	<script type="text/javascript" src="bower_components/imagesloaded/imagesloaded.js"></script>
	<!-- endbuild -->
	
	<script type="text/javascript" src="login/scripts/login.js"></script>
	
	<!-- build:js({.tmp,app}) scripts/scripts.js -->
	<script src="scripts/app.js"></script>

	<!-- Filters -->
	<script src="scripts/filters/markdown.js"></script>

	<!-- Services -->
	<script src="scripts/services/resources.js"></script>
	<script src="scripts/services/people.js"></script>
	<script src="scripts/services/roleTypes.js"></script>
	<script src="scripts/services/hoursService.js"></script>
	<script src="scripts/services/projects/roles-service.js"></script>
	<script src="scripts/services/projects/project-service.js"></script>
	<script src="scripts/services/projects/assignment-service.js"></script>
	<script src="scripts/services/projects/LinksService.js"></script>
	<script src="scripts/services/jazzHubService.js"></script>

	<!-- Controllers -->
	<script src="scripts/controllers/main.js"></script>
	<script src="scripts/controllers/areas.js"></script>
	<script src="scripts/controllers/projects/project.js"></script>
	<script src="scripts/controllers/projects/details.js"></script>
	<script src="scripts/controllers/projects/roles.js"></script>
	<script src="scripts/controllers/projects/projects.js"></script>
	<script src="scripts/controllers/projects/links.js"></script>
	<script src="scripts/controllers/projects/assignments.js"></script>
	<script src="scripts/controllers/people/people.js"></script>
	<script src="scripts/controllers/staffing.js"></script>
	<script src="scripts/controllers/people/profile.js"></script>
	<script src="scripts/controllers/admin.js"></script>
    <script src="scripts/controllers/hours.js"></script>

	<!-- Directives -->
	<script type="text/javascript"
		src="bower_components/angular-ui-bootstrap/src/tabs/tabs.js"></script>

	<!-- Models -->
	<script src="scripts/models/projects/project.js"></script>
	<script src="scripts/models/projects/rates.js"></script>
	
	<!-- libs -->
	<script src="scripts/libs/line-chart.js"></script>
	<!-- endbuild -->
	
	<!-- libs (not compiled)-->
	<script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="wmbvg9mkhukv6m0"></script>
	<script src="https://assets.yammer.com/assets/platform_embed.js"></script>
</body>
</html>
