<div class="spinner-container" ng-hide="hideDashboardSpinner" style="width: calc(100% - 30px);">
	<i class="fa fa-spinner fa-spin fa-3x"></i>
</div>
<div class="row equal">
  <div class="col-xs-12 col-lg-6">
    <ng-include src="'modules/widgets/currentProjects/currentProjects.html'"></ng-include>
  </div>

  <div class="col-xs-12 col-lg-6">
    <ng-include src="'modules/widgets/staffingDeficit/staffingDeficit.html'"></ng-include>
  </div>
</div>

<div class="row" ng-show="hasAssignment">
  <div class="col-xs-12 col-lg-12">
    <ng-include src="'modules/widgets/hours/hoursEntry.html'"></ng-include>
  </div>
</div>

<div class="row equal">
    <div class="col-xs-12 col-lg-6">
      <ng-include src="'modules/widgets/myProjects/myProjects.html'"></ng-include>
    </div>

    <div class="col-xs-12 col-lg-6">
      <ng-include src="'modules/widgets/people/people.html'"></ng-include>
    </div>
</div>

<div class="row equal">
  <div class="col-xs-12 col-lg-6">
    <ng-include src="'modules/widgets/bookingForecast/bookingForecast.html'"></ng-include>
  </div>

  <div class="col-xs-12 col-lg-6">
    <ng-include src="'modules/widgets/projectKickoffs/projectKickoffs.html'"></ng-include>
  </div>
</div>

<div class="row equal" ng-if="financeAccess">
  <div class="col-xs-12 col-lg-6">
    <ng-include src="'modules/widgets/vacations/requests.html'"></ng-include>
  </div>
</div>
