<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee">

    <!-- Filter -->
    <filter>
       <filter-name>CorsFilter</filter-name>
      <filter-class>com.pointsource.mastermind.server.CorsFilter</filter-class>
    </filter>
    <filter-mapping>
       <filter-name>CorsFilter</filter-name>
       <url-pattern>/rest/*</url-pattern>
    </filter-mapping>
    
    <filter>
	   <filter-name>AuthFilter</filter-name>
 	  <filter-class>com.pointsource.mastermind.server.AuthFilter</filter-class>
	</filter>
	<filter-mapping>
	   <filter-name>AuthFilter</filter-name>
	   <url-pattern>/rest/*</url-pattern>
	</filter-mapping>

  	<!-- Servlets -->
	<servlet>
	     <servlet-name>restSdkService</servlet-name>
	     <servlet-class>org.apache.wink.server.internal.servlet.RestServlet</servlet-class>
		  <init-param>
		    <param-name>applicationConfigLocation</param-name>
		    <param-value>/WEB-INF/providers;/WEB-INF/resources</param-value>
		  </init-param>
	  	<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
	     <servlet-name>upgradeServlet</servlet-name>
	     <servlet-class>com.pointsource.mastermind.server.UpgradeServlet</servlet-class>
	  	<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
        <servlet-name>SchedulerServlet</servlet-name>
        <servlet-class>com.pointsource.mastermind.server.SchedulerServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
	
	<!-- Servlet Mappings -->
	<servlet-mapping>
		<servlet-name>restSdkService</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>upgradeServlet</servlet-name>
		<url-pattern>/upgrade</url-pattern>
	</servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>
