.departments-container  {
  .section-header {
  
    /*position: relative;
    top: 15px;*/
   margin-top:15px;
  
    label{
      font-size: 16px;
      margin-bottom: 10px;
      
    }
    
    .search-department-control {
      margin-top: 10px;
    }
  }

  .confirm-delete-category, .confirm-delete-department {
    overflow: hidden;
    
    .modal-dialog {
       width: 350px;
    }
    
    .modal-content {
      border-radius: 7px;
    }
    
    .btn-primary {
      background-color: #29ABE1;
      border-color: #29ABE1;
    }
    
    .btn {
      width: 120px;
    }
  }
  
  .row {
    margin-bottom: 0px !important;
  }
  
  .category-container {
    .category-lbl {
      margin-right: 15px;
     
    }
   
     .select-editable {
         position:relative;
         background-color:white;
         
         width:170px;
         height:18px;
         top: -7px;
         display:inline-block;
     }
     .select-editable select {
         position:absolute;
         top:0px;
         left:0px;
         font-size:14px;
         border:none;
         width:170px;
         margin:0;
         min-width: 170px;
         
     }
     .select-editable input {
         position:absolute;
         top:0px;
         left:0px;
         width:170px;
         padding:1px;
         margin-top: 2px;
         font-size:14px;
         border:none;
         margin:0px;
         height:34px;
     }
     .select-editable select:focus, .select-editable input:focus {
         outline:none;
     }
 
    
  }
  
  .view-container label {
    display: block;
    margin-top:3px;
    margin-bottom:3px;
  }
  
  .empty-department-category {
    color: #C1272C;
  }
    
  .available-person {
    background-color: white;
    padding: 3px 4px;
    
    margin-bottom: 5px;
    overflow: hidden;
  }
  
  .available-person.already-assigned {
    background-color: #e1e1e1;
  }
  .section-content {
    /*position: relative;
    top: 20px;*/
   margin-top: 20px;
  }
  
  .department-entry {
    background-color: white;
    border: 1px solid gray;
    margin-top:5px;
    border-radius:2px;
    cursor: pointer;
    
    .code{
      color: #1CA1C1;
      font-size: 26px;
      font-weight: bold;
      margin-right: 10px;
      margin-left: 3px;
    }
    .empty-category {
      color: #C1272C;
      font-size: 26px;
      font-weight: bold;
      margin-right: 10px;
      margin-left: 3px;
    }
    .manager {
      position:absolute;
      font-size:12px;
    }
    
    .nickname {
      font-size:12px;
    }
  }
}

