@media (max-width: @screen-md) {
    /* fix white space at the bottom on tablets*/
    html {
        height: 100%;

        body {
            height: 100%;

            div[ng-controller] {
                height: 100%;

                #appContent {
                    height: 100%;

                    #mainContent {
                        height: 100%;
                    }
                }
            }
        }
    }
}

.departments-container {
    .spinner-container {
        i {
            top: 12%;
        }
    }
    @media (max-width: @screen-sm) {
        .btn {
            height: 44px;
            width: 44px;
        }

        > .row.departments {
            position: relative;

            .middle {
                clear: both;
                width: 240px;
                margin-left: 20px;
                padding-right: 0px;
            }

            .left {
                width: 240px;
                padding-left: 20px;

                .search-departments-lbl {
                    white-space: nowrap;

                }

                .search-department-control input {
                    font-size: 12px;
                }

                .code {
                    font-size: 20px;
                }

                .manager {
                    font-size: 14px;
                    white-space: nowrap;
                }
            }
            .right {
                position: absolute;
                top: 0px;
                right: 0px;

            }
        }
    }

    @media (max-width: @screen-xs) {
        > .row.departments {
            .left {
                width: 50%;
            }
        }
    }

    .section-header {

        /*position: relative;
        top: 15px;*/
        margin-top: 15px;

        label {
            font-size: 16px;
            margin-bottom: 10px;

        }

        .search-department-control {
            margin-top: 10px;
        }
    }

    .confirm-delete-category, .confirm-delete-department {
        overflow: hidden;

        .modal-dialog {
            width: 350px;
        }

        .modal-content {
            border-radius: 7px;
        }

        .btn-primary {
            background-color: #29ABE1;
            border-color: #29ABE1;
        }

        .btn {
            width: 120px;
        }
    }

    .row {
        margin-bottom: 0px !important;
    }

    .middle {
        .department-edit-container {
            .row {
                div {
                    padding-right: 0px;
                    padding-left: 0px;
                }
            }
        }
    }
    .category-container {
        .form-inline {
            width: 100%;
            display: inline-block;
            padding-bottom: 7px;
            border-bottom: 1px solid #dddddd;

            .create-category-btn {
                margin-right: -15px;
            }

            > div {
                white-space: nowrap;
            }

        }
        .category-lbl {
            margin-right: 15px;

        }

        .select-editable {
            position: relative;
            border-width: 0px;
            /*fix for mobile safari - it displays top border anyway in custom color - make it transparent*/
            border-top: 1px solid transparent;
            width: 170px;
            height: 18px;
            top: -7px;
            display: inline-block;
            background-color: transparent;
        }
        .select-editable select {
            position: absolute;
            top: 4px;
            left: 0px;
            font-size: 14px;
            border: none;
            width: 170px;
            height: 40px;
            margin: 0;
            min-width: 170px;
            margin-top: -4px;

        }

        .select-editable input {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 170px;
            padding: 1px;
            margin-top: 2px;
            font-size: 14px;
            border: none;
            margin: 0px;
            height: 40px;

        }
        .select-editable select:focus, .select-editable input:focus {
            outline: none;
        }

    }

    .view-container label {
        display: block;
        margin-top: 3px;
        margin-bottom: 3px;
    }

    .empty-department-category {
        color: #C1272C;
    }

    .available-person {
        background-color: white;
        padding: 3px 4px;

        margin-bottom: 5px;
        overflow: hidden;
    }

    .available-person.already-assigned {
        background-color: #e1e1e1;
    }
    .section-content {
        /*position: relative;
        top: 20px;*/
        margin-top: 20px;
    }

    .department-entry {
        background-color: white;
        border: 1px solid gray;
        margin-top: 5px;
        border-radius: 2px;
        cursor: pointer;
        position: relative;

        @media (max-width: @screen-sm) {
            margin-top: 10px;
        }
        .code {
            color: #1CA1C1;
            font-size: 26px;
            font-weight: bold;
            margin-right: 10px;
            margin-left: 3px;
        }
        .empty-category {
            color: #C1272C;
            font-size: 26px;
            font-weight: bold;
            margin-right: 10px;
            margin-left: 3px;
        }
        .manager {
            position: absolute;
            font-size: 15px;
            top: -2px;
        }

        .nickname {
            font-size: 12px;
            position: absolute;
            bottom: -1px;
        }
    }
}

